// 企业详情 card 一级
.corp-card-primary () {
  margin-bottom: 12px;
  border-radius: 4px;
  background: #fff;
  padding: 12px 12px;
}

// 企业详情标题通用 padding
.corp-detail-node-title-padding () {
  padding: 4px 0;
}
