.root {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0000001a;
  color: #707680;
  position: absolute;
  white-space: nowrap;
  padding: 4px 8px;
  cursor: pointer;
  &:hover {
    background-color: #e9e9e9;
  }
}
