@import 'gel-ui/variables.less';
// 定义flex网格布局的混合函数
.flex-grid-layout(@columns: 3, @gap: 12px) {
  --border-color: @primary-hover;

  // 容器样式
  display: flex !important;
  align-items: center;
  flex-wrap: wrap;
  margin: -(@gap / 2); /* 负外边距抵消子元素外边距 */

  // 子项目样式
  &-item {
    border: 1px solid #ededed;
    border-radius: 4px;
    width: fit-content;
    margin: (@gap / 2);
    padding: 6px 8px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 34px;
    min-width: calc(100% / @columns - @gap);

    // 添加悬停效果
    &:hover {
      border-color: var(--border-color);
    }

    // 选中状态样式
    &.checked {
      border-color: var(--border-color);
      border-width: 1px;
    }

    *,
    *::before,
    *::after {
      cursor: pointer;
    }
  }
}
