.search-container {
  display: flex;
  align-items: center;

  .options-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    margin-inline-start: 4px;

    .w-select-selector {
      padding-block-start: 2px;
      padding-block-end: 2px;
    }

    .w-input-search {
      height: 32px;
    }

    // 搜索框后缀 该元素内部有一个图标，该图标需要上下居中
    .w-input-suffix {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
