@prefix: tree-checkbox;

.@{prefix} {
  &-wrapper {
    :global {
      .w-checkbox-wrapper {
        &:hover {
          border-color: var(--click-5);
          .w-checkbox {
            border-color: var(--click-5);
          }
        }

        margin-block-end: 8px;
        min-width: 160px;
        box-sizing: border-box;
        border-radius: 2px;
        border: 1px solid #ededed;
        padding: 4px 8px;
        background-color: #fff;
        cursor: pointer;
        // transition: all 0.3s ease;
      }
    }
  }
  &-card {
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    // margin-block-start: 8px;
    padding: 0 12px;
    &-item {
      padding: 12px 0;

      &:not(:last-child) {
        border-block-end: 1px solid #f0f0f0;
      }
      &-title {
        font-size: 14px;
        color: #666;
        margin-block-end: 8px;
      }
    }
  }
}
