.wind-result {
  margin: auto;
  text-align: center;
}
.windResultTitle {
  font-size: 24px;
  color: #666;
}
.windResultSubTitle {
  font-size: 14px;
  color: #999;
  margin-top: 12px;
}
.windResultExtra {
  margin-top: 24px;
}
.windResultSVG {
  margin-bottom: 12px;
  width: 100%;
}
