.corpPresearch {
  min-width: 240px;
  width: 100%;

  :global {
    .wind-select {
      width: 100%;
    }

    .wind-select-selection {
      border-radius: 2px;
    }

    .wind-select-selection-search-input {
      height: 30px;
    }
  }
}
