@import 'report-util/style';

.searchRow {
  border-top: 1px solid #eee;
  line-height: 24px;
  padding: 4px 8px;
}

.resultList {
  display: flex;
  flex-direction: column;

  em {
    color: @click-5;
    font-style: normal;
  }

  .zhName,
  .enName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .enName {
    color: #666;
    font-size: 12px;
    line-height: normal;
  }
}
