@import 'gel-ui/variables.less';

.toolbar {
  position: absolute;
  right: 4%;
  bottom: 8%;
  z-index: 233;
}

.toolbar__item {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0 @component-space;
  overflow: hidden;
  background-color: @basic-16;
  border: none;
  border-radius: @border-radius-circle;
  box-shadow: @shadow-normal;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.3s linear,
    border 0.3s linear;

  &:hover {
    background-color: @basic-13;

    :global {
      .wicon-svg {
        color: @primary-hover;
      }
    }
  }

  :global {
    .wicon-svg {
      font-size: 18px;
      color: @icon-color;
    }
  }
}
