/* 
 * 使用BEM命名规范：
 * Block：独立的组件模块
 * Element：组件中的元素，用 __ 连接
 * Modifier：修饰状态或版本，用 -- 连接
 */

// 重置根元素样式
#root {
  min-width: auto;
}

// 公司详情页模块
.company-detail-ai {
  // margin-top: 36px;
  height: 100%;
  overflow: hidden;

  // 内容区域
  &__content {
    width: 100%;
    flex: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;

    .CompanyDetailAI_ScrollContainer {
      overflow-y: auto;
    }
  }
  &__sider {
    min-width: 432px;
    flex: 1;
  }
  &__main {
    flex: 2;
  }

  // 操作区域
  &__operation {
    &-main {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      border-bottom: 1px solid #f0f0f0;

      // 操作区域右侧
      &-right {
        display: flex;
        align-items: center;
      }

      // 功能按钮区
      &-func {
        display: flex;
        align-items: center;
        margin-right: 60px;
      }

      // 工具按钮区
      &-tool {
        display: flex;
        align-items: center;
      }
    }
  }

  // 侧边栏内容
  &__sider {
    &-item {
      height: 100%;

      &--active {
        display: block;
      }

      &--inactive {
        display: none;
      }
    }
  }
}
