/* 
 * 使用BEM命名规范：
 * Block：独立的组件模块
 * Element：组件中的元素，用 __ 连接
 * Modifier：修饰状态或版本，用 -- 连接
 */
#root {
  min-width: auto;
}
.company-detail-ai {
  height: 100%;
  overflow: hidden;
}
.company-detail-ai__content {
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}
.company-detail-ai__content .CompanyDetailAI_ScrollContainer {
  overflow-y: auto;
}
.company-detail-ai__sider {
  min-width: 432px;
  flex: 1;
}
.company-detail-ai__main {
  flex: 2;
}
.company-detail-ai__operation-main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}
.company-detail-ai__operation-main-right {
  display: flex;
  align-items: center;
}
.company-detail-ai__operation-main-func {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.company-detail-ai__operation-main-tool {
  display: flex;
  align-items: center;
}
.company-detail-ai__sider-item {
  height: 100%;
}
.company-detail-ai__sider-item--active {
  display: block;
}
.company-detail-ai__sider-item--inactive {
  display: none;
}
