// ProductIntro 组件样式
.product-intro {
  background: url(../../../assets/imgs/version_bg.png) center top no-repeat;
  background-size: cover;
  height: 222px;
  font-size: 52px;
  color: #fff;
  line-height: 140px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}
