.page-header {
  position: absolute;
  top: 30px;
  width: 180mm;
  color: #000000;
  border-bottom: 1px solid #9c9c9c;
  margin-bottom: 10px;
  font-size: 12px;
  padding-bottom: 3px;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  & > img {
    float: left;
    vertical-align: middle;
  }
}

/* 页眉右侧 文本不换行*/
.page-header-right {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

.page-content-area {
  width: 100%;

  & > *:first-child {
    margin-top: 0;
  }
}

.page-foot {
  color: #00000080;
  position: absolute;
  bottom: 0;
  font-size: 10px !important;
  width: 180mm;
  padding-bottom: 40px;
}

.page-foot-page-no {
  float: right;
}
.content-icbc {
  width: 180mm;
  min-height: 261mm;
  margin: 0 auto 10px;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 18mm 15mm;
  overflow: hidden;
  position: relative;
  page-break-after: always;
  outline: 0;
  overflow: hidden;
  page-break-after: always !important;
}
.content-icbc:last-child {
  margin-bottom: 0px;
}
