.monitor-group-dynamic {
  padding: 8px;
  &-title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
  }

  &-monitor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.monitor-detail {
  width: 240px;
  height: 120px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 12px;

  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #f0f0f0;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  &-update-text {
    font-size: 14px;
    color: #999999;
    &-wrapper {
      margin-bottom: 8px;
    }
  }
  &-button {
    align-self: flex-end;
  }
}
