@import 'gel-ui/variables.less';
@prefix: credits-home-page;

.@{prefix}-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: @default-min-width;
  margin-inline: auto;
}
.@{prefix}-container {
  h3 {
    margin-block-end: @component-space-sm;
  }
  p {
    color: @basic-7;
    margin-block-end: @component-space;
  }
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-block-start: @component-space-lg;
  .@{prefix}-banner {
    // flex: 1;
    border: 1px solid @basic-14;
    background: linear-gradient(@orange-1 0%, white 60%);
    height: 140px;
    width: 100%;
    margin-block-end: @component-space-lg;
    display: flex;
    align-items: center;
    &-left {
      width: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      &-icon {
        img {
          width: 120px;
          height: 120px;
        }
      }
    }
    &-center {
      width: 300px;
      font-weight: 500;
      font-size: 40px;
      p {
        font-size: 16px;
        color: @basic-6;
      }
    }
    &-right {
      flex: 1;
      display: flex;
      color: @basic-7;
      justify-content: flex-end;
      margin-inline-end: @component-space;
      span {
        color: @orange-6;
        font-weight: 500;
        padding-inline-start: @component-space-xs;
        padding-inline-end: @component-space-xs;
      }
    }
  }
  .@{prefix}-buy {
    &-tip {
      padding: @component-space-sm @component-space;
      background: @orange-1;
      border: 1px solid @orange-2;
    }
    &-result {
      transform: scale(0.5);
      width: 100%;
      transform-origin: top center;
      max-height: 300px;
      :global {
        .w-result-title {
          font-size: 32px;
        }
        .w-result-subtitle {
          font-size: 28px;
        }
      }
    }
  }
}
