.preview-report-right-top {
  display: flex;
  align-items: center;

  > *:not(:first-child) {
    margin-left: 8px;
  }
}

.search-container {
  display: flex;
  align-items: center;
}

.content-container {
  max-width: 400px;
}

.corp-name-display {
  padding: 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  max-width: 320px;
  min-width: 200px;
}

.button-container {
  display: flex;
  margin-left: 12px;
  gap: 8px;
}
