#companyCollect {
  width: 1200px;
  margin: 12px auto 0;
  font-size: 16px;
  color: #000;

  .collect_menu {
    height: calc(100vh - 114px);
    overflow: overlay;
    padding: 12px 12px;
    color: #333;
    font-size: 14px;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // color: #333;
      font-weight: bold;
      margin-bottom: 12px;
      font-size: 16px;
      .add-group-icon {
        font-size: 21px;
      }
    }
    .tree {
      font-size: 16px;
      .w-input-gray {
        // margin: 12px 0;
        color: var(--basic-2);
        background-color: #fff;
        border: 1px solid var(--basic-8);
        display: inline-block;
      }

      .group {
        display: block;
        border-radius: 2px;
        cursor: pointer;
        line-height: 28px;
        font-size: 14px;
        margin: 8px 0 0;
        // padding: 0 4px;
        &:hover {
          background-color: #e9e9e9;
        }
        .group-row {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .EditBox {
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #fff;
          color: #333;
        }
        .groupName {
          display: inline-block;
          width: 140px;
        }
        .group-actions {
          display: none;
        }
        &:hover .group-actions {
          display: inline-flex;
        }
        .wicon-svg {
          font-size: 16px;
        }
        .dupName {
          padding-left: 4px;
          padding-top: 4px;
          background-color: #fff !important;
        }
      }
      .current_group,
      .current_group:hover {
        background-color: #00aec7;
        color: #fff;
      }
      .add-group-box {
        // keep natural block layout
        margin-top: 8px;
      }
    }

    .icon-in-active-menu {
      .wicon-svg {
        color: #fff;
      }
    }
  }
  .content_Layout {
    height: calc(100vh - 114px);
    background-color: #fff;
    .w-tabs-tab {
      margin: 0 12px;
    }
    .operation {
      display: flex;
      justify-content: space-between;
      margin: 4px 0 16px;
      .operation_btns {
        .operation_btns_icon {
          display: inline-block;
          width: 18px;
          height: 18px;
          margin-right: 4px;
          vertical-align: text-bottom;
        }
        button {
          margin-left: 8px;
        }
      }
    }
    .CompanyName {
      a {
        &:hover {
          color: #0093ad;
        }
        color: #333;
      }
      display: inline-block;
      color: #333;
    }
    .collect_table {
      height: calc(100vh - 230px);
      overflow: overlay;
      .CompanyName {
        display: inline-block;
        color: #333;
      }
      .dynamicTag {
        cursor: pointer;
        padding: 2px 4px;
        background-color: #fff7e6;
        color: #f68717;
        margin-left: 12px;
      }
      .wind-ui-table-last-column a {
        color: #0093ad;
        border-bottom: 0px;
      }

      thead {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }

    .dynamicType {
      font-size: 14px;
      span {
        user-select: none;
        padding: 0px 24px;
        margin: 0 12px 0 12px;
        line-height: 18px;
        cursor: pointer;
        border: 1px solid transparent;
      }
      .activeMenu {
        border: 1px solid #00aec7;
        border-radius: 2px;
      }
    }
    .dynamicDate {
      font-size: 14px;
      margin: 12px 0 24px;
      .span {
        user-select: none;
        padding: 0px 24px;
        margin: 0 0px 0 12px;
        line-height: 18px;
        cursor: pointer;
        border: 1px solid transparent;
      }
      .activeMenu {
        border: 1px solid #00aec7;
        border-radius: 2px;
      }
    }
    .timelineBox {
      height: calc(100vh - 260px);
      overflow: overlay;
      .w-timeline-item-title {
        width: 104px;
        padding-right: 8px;
      }
    }
  }
}
.w-modal-root {
  .w-modal-content {
    transform: translate(0, 0) !important;
    .w-modal-body {
      .w-checkbox-group {
        label {
          display: block;
          padding-top: 8px;
        }
      }
    }

    .w-modal-footer {
      .w-btn-primary {
        margin-left: 8px;
        float: right;
      }
      padding-top: 0;
    }
  }
}
.importModal {
  .w-modal-header {
    padding: 3px 12px;
  }
  .w-modal-body {
    .color999 {
      color: #999;
    }
    .fileUpload {
      .w-upload-drag-container {
        padding: 20px 0;
      }
      color: #999;
    }
    .w-tabs-tab {
      margin: 0 12px;
    }
    .w-tabs-tabpane {
      padding-bottom: 0;

      .wind-ui-table-thead {
        position: sticky;
        top: 0;
      }
    }
    padding: 12px 0;
    .w-upload.w-upload-drag {
      .wicon-svg {
        color: var(--basic-7);
      }
      // height: 140px;
      .w-upload-text {
        font-size: 14px;
      }
    }
    span:has(.w-upload.w-upload-drag) {
      display: block;
      margin: 14px 0 24px;
    }
    .companyMatchList {
      height: auto;
      // height:300px;
      overflow: overlay;
      thead {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
  }
  .w-modal-footer {
    padding-top: 12px;
  }
}

.page-container:has(#companyCollect) {
  background-color: #f4f4f4;
  .breadcrumb-box {
    background-color: #f4f4f4;
    .w-breadcrumb {
      width: 1200px;
      background-color: #f4f4f4;
    }
  }
}

.w-timeline-item-tail {
  border-right: 1px solid #d7d7d7;
}
.window-locale-en-US {
  #companyCollect .content_Layout .dynamicType span {
    padding: 0px 4px;
  }
}
