@import '../../app.less';

.SearchList {
  height: calc(100vh - 38px);
  overflow: scroll;
  &.hide-tabs {
    height: 100%;
    overflow: auto;
  }
  a {
    color: #333;
  }

  .serach-ui-fix {
    margin: 0 auto;
    width: 1190px;
    display: block;
  }

  .search-tab-fix {
    // position: fixed;
    width: 100%;
    z-index: 5;
    margin-top: 38px;
  }

  .home-fun-search {
    text-align: left;
    background-color: #ffffff;
    // width: 1190px;
    margin: 0 auto;
    overflow: hidden;
  }

  .change-title-search li {
    margin: 0 40px 0 0;
    float: left;
    text-align: center;
    line-height: 37px;
    font-size: 14px;
    cursor: pointer;
  }

  .search-l {
    width: 880px;
    float: left;
    background: #fff;
    padding-bottom: 12px;
  }

  .workspace-fix {
    // padding-top: 50px !important;
    width: 1190px !important;
    overflow: visible;
    margin: 0 auto;
    margin-top: 10px;
  }

  .search-filter {
    clear: both;
    line-height: 42px;
    background: #fff;
    border-bottom: none;
  }

  .jump-more-serach {
    display: none;
    text-align: right;
    line-height: 40px;
    margin-right: 10px;
    cursor: pointer;
    color: #00aec7;
    font-size: 14px;
  }

  .search-filter li {
    line-height: 22px;
    min-height: 22px;
    position: relative;
    padding: 9px 0 7px 104px;
  }

  .fitler-title {
    position: absolute;
    left: 15px;
    top: 12px;
    color: #666666;
  }

  .search-filter li a {
    float: left;
    cursor: pointer;
    line-height: 30px;
    margin-right: 25px;
  }

  #corpTypeCondition a {
    padding-right: 0px;
    margin-right: 14px;
  }

  #corpTypeCondition a span,
  #createDate a span {
    padding-left: 7px;
    padding-right: 7px;
  }

  .condi-high-search {
    position: absolute;
    right: 0px;
    line-height: 30px;
    float: right;
    margin-right: 16px;
    cursor: pointer;
    color: #00aec7;
    font-size: 14px;
  }

  #filterList .industry-choose,
  #filterListbid .industry-choose {
    padding-left: 15px;
    padding-top: 0px;
    margin-bottom: -9px;
  }

  #filterList .industry-choose .city-industry,
  #filterListbid .industry-choose .city-industry {
    margin-bottom: 0px;
    font-size: 14px;
    clear: both;
  }

  .w-cascader-input.w-input {
    width: 195%;
  }

  .w-cascader-picker-arrow {
    right: -148px;
  }

  #TitleIndustry {
    margin-left: 92px;
  }

  .title-city-industry {
    width: 110px;
    color: #666666;
    line-height: 38px;
    margin-right: 19px;
  }
  .title-patent-industry {
    width: 146px;
    color: #666666;
    line-height: 38px;
    display: inline-block;
  }

  .frame-container {
    background: #fff;
    clear: both;
  }

  .tit-frame-container {
    height: 45px;
    position: relative;
    // margin-bottom: 10px;
  }

  .tit-frame-container .result-r {
    float: left;
    &.hide-tabs {
      width: 100%;
    }
    width: 880px;
    font-weight: normal;
    position: relative;
    height: 45px;
    border-bottom: 1px solid rgba(197, 197, 197, 1);
    // border-top: 0px;
    border-top: 1px solid rgba(197, 197, 197, 1);
  }

  #searchResultNum {
    font-size: 14px;
    font-weight: normal;
    padding-left: 15px;
    color: #333 !important;
    float: left;
    height: 45px;
    line-height: 44px;
  }

  .wi-secondary-color {
    color: #00aec7;
  }

  #filterList {
    height: 315px;
    // overflow: hidden;
  }

  .history-right {
    float: right;
    width: 296px;
  }

  .div_Card {
    overflow: hidden;
    background-color: #fff;
    position: relative;
    padding: 0px 20px 16px 16px;
    border-bottom: 1px solid #d8d8d8;
  }

  .div_Card_left {
    width: 93%;
    float: left;
  }

  .div_Card_left_top {
    height: 80px;
  }

  .div_logo {
    width: 56px;
    height: 56px;
    float: left;
    position: absolute;
    top: 13px;
  }

  .div_Card_left_logo {
    display: inline-block;
    float: left;
    max-height: 80px;
    align-self: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: relative;
  }

  .div_Card h4 {
    line-height: 25px;
    font-size: 18px;
    padding-top: 13px;
    color: #333;
    float: left;
    cursor: pointer;
    padding-left: 70px;
    font-weight: bold;
  }

  .div_Card em {
    font-style: normal;
  }

  .hightlight-color {
    color: #007892 !important;
  }

  .item-list {
    width: 100%;
    overflow: hidden;
    float: left;
    padding-left: 70px;
    margin-top: 6px;
  }

  .item-list-corp {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    > * {
      margin: 0 !important;
    }
    line-height: 28px;

    .item-tag-list {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .company-state {
    float: left;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 6px;
    height: 23px;
    line-height: 23px;
  }

  .company-state-text {
    border: 1px solid transparent;
    padding: 0 9px 0 9px;
    border-radius: 2px;
    font-size: 12px;
  }

  .ipo-code,
  .item-tag-list {
    margin-right: 6px;
    text-align: center;
    font-weight: normal;
    padding: 0 10px;
    height: 23px;
    line-height: 23px;
    vertical-align: middle;
    background: rgba(246, 135, 23, 0.16);
    color: #f68717;
    margin-left: 8px;
    border-radius: 2px;
    font-size: 12px;
    display: inline-block;
  }

  .item-tag-list {
    margin: 5px 6px 16px 0;
  }

  .each-searchlist-item {
    line-height: 28px;
    font-size: 14px;
    clear: both;
  }

  .item-industry,
  .item-capital,
  .item-capital,
  .item-person,
  .item-date,
  .item-address,
  .item-hightlight {
    margin-right: 20px;
    overflow: hidden;
    vertical-align: top;
  }

  .item-person {
    width: 8%;
  }

  .item-industry {
    width: 19%;
  }

  .item-capital {
    width: 20%;
  }

  .item-date {
    width: 12%;
  }

  .item-address {
    display: block;
    // height: 20px;
    line-height: 24px;
    overflow: hidden;
  }

  .underline {
    color: #333 !important;
    cursor: pointer;
    padding-bottom: 1px;
    border-bottom: 1px solid #c5c5c5;
  }

  .underline:hover {
    color: #00aec7 !important;
    border-bottom: 1px solid #00aec7;
  }

  .underline:active {
    color: #05809e !important;
    border-bottom: 1px solid #05809e;
  }

  .go2DgovMap,
  .goDgovByOffice,
  #go2DgovByName {
    cursor: pointer !important;
  }

  .div_Card .go2DgovMap:hover {
    color: #007892 !important;
    border-bottom: 1px solid #007892 !important;
  }

  .item-hightlight {
    width: 842px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  .item-list a:hover {
    color: #f68717;
  }

  .w-spin-spinning {
    margin-left: 417px;
    margin-top: 20px;
  }

  .no-data {
    text-align: center;
    line-height: 185px;
    height: 185px;
    background: #fff;
  }

  .loading-failed {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hightlight-color {
    color: #007892 !important;
  }

  .wi-link-color:hover {
    color: #00aec7 !important;
    cursor: pointer;
  }

  .div_Card_name:hover {
    color: #00aec7 !important;
    cursor: pointer;
  }

  .div_Card_name_en {
    font-size: 13px;
    font-weight: normal;

    i {
      font-size: 12px;
      font-style: normal;
      color: #999;
      margin-left: 12px;
    }

    &:hover {
      cursor: default;
    }
  }

  .w-radio-group {
    width: 675px;

    .w-radio-wrapper {
      line-height: 29px;
    }
  }

  .condition-list {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    overflow: hidden;
    min-height: 40px;
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #dfdfdf;
    max-height: 250px;

    .condition-list-tips {
      // padding-top: 8px;
      padding-left: 15px;
      font-size: 14px;
      color: #666666;
      // line-height: 24px;
      font-weight: 400;
      position: absolute;
      left: 0;
    }

    .selected-condition {
      // padding-top: 9px;
      min-height: 40px;
      line-height: 100%;
      float: left;
      overflow: hidden;
      margin: 0px 0 0px 104px;
      padding: 4px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      // margin-top: 8px;
      // line-height: 100%;
      // line-height: normal;
      .w-tag {
        // line-height: 100%;
        margin: 4px;
        // max-width: 20em;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        .wicon-svg {
          margin-top: 2px;
        }
      }
    }

    #clearAllCondtion {
      display: inline;
      border: 1px solid rgba(197, 197, 197, 1);
      width: 76px;
      text-align: center;
      border-radius: 2px;
      color: #333333;
      /* padding-right: 0px; */
      margin-right: 16px;
      // line-height: 28px;
      cursor: pointer;
    }

    #clearAllCondtion:hover {
      color: #00aec7;
      border-color: #00aec7;
    }

    .selected-condition li i {
      font-size: 12px;
      font-style: normal;
      margin-left: 5px;
      font-weight: bold;
      display: inline-block;
      -webkit-transform: scale(0.7);
    }
  }

  #divCardGroup {
    min-height: 90px;
    padding: 20px 20px 20px 16px;
  }

  .group-search-cont {
    /* margin-left: 110px; */
    margin-top: 10px;
  }

  .group-search-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    text-align: center;
  }

  .group-search-icon img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .group-search-cont .searchtitle-news {
    display: block;
    margin-left: 70px;
    padding-top: 0px;
  }

  .group-search-cont h5 {
    line-height: 25px;
    font-size: 18px;
    padding-top: 11px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
  }

  .searchtitle-bottom {
    margin-top: 20px;
    line-height: 28px;
  }

  .searchitem-time,
  .searchitem-source,
  .searchitem-no {
    margin-right: 70px;
    color: #333;
    font-size: 14px;
  }

  .logo-title {
    width: 60px;
    height: 60px;
    padding: 6px;
    color: #fff;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    border-radius: 10px;
    vertical-align: middle;
    font-size: 17px;
    position: absolute;
    top: -32%;
    left: -3%;
  }

  #jobViewList {
    position: relative;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 16px;
    padding-right: 25px;
    width: auto;
    border-bottom: 1px solid #d8d8d8;
  }

  .del-history {
    background: url(../../assets/imgs/web_sprite.png) no-repeat;
    width: 12px;
    height: 12px;
    background-position: -160px -101px;
    position: absolute;
    font-size: 14px;
    line-height: 12px;
    right: 11px;
    cursor: pointer;
    color: #666666;
    top: 50%;
    margin-top: -6px;
    display: none;
  }

  .history_list:hover {
    .del-history {
      display: block;
    }
  }

  #jobCard {
    padding: 20px 20px 20px 15px;
  }

  .searchtitle-brand,
  .searchtitle-h4,
  .searchtitle-intellectual,
  .searchtitle-news {
    line-height: 28px;
    display: inline-block;
    margin-right: 143px;
    font-size: 18px;
    font-weight: bold;
  }

  .list-opeation-job {
    position: absolute;
    padding: 21px 10px 0 30px;
    display: inline-block;
    right: 15px;
    top: 4px;
    font-size: 14px;
    font-weight: 400;
  }

  .color-orange {
    color: #f68717;
  }

  .searchitem-work {
    margin-right: 50px;
  }

  .job-ul {
    padding: 12px 15px;

    #bidChoose {
      padding-left: 0px;
      margin-top: 10px;
    }

    a {
      margin-right: 25px;
    }
  }

  .filter-name {
    margin-right: 20px;
    color: #666666;
  }

  #intelluctalViewList {
    padding: 12px;
    padding-left: 16px;
    border-bottom: 1px solid #d8d8d8;
    overflow: hidden;
    line-height: 18px;
    white-space: normal;
    cursor: initial;
  }

  .content-history-name {
    padding-bottom: 10px;
    display: inline-block;
    max-width: 262px;
    cursor: pointer;
  }

  .content-history-name:hover {
    color: #77c4d4 !important;
  }

  #IntellectualCard {
    // padding: 16px 20px;
  }

  .searchpic-brand {
    display: inline-block;
    float: left;
    width: 60px;
    height: 60px;

    .big-logo {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 43%;
      position: relative;
      max-width: 90px;
      align-self: center;
      max-height: 60px;
    }
  }

  #brandH5 {
    margin-left: 69px;
    display: block;
    // margin-top: 10px;
  }

  .state-yes {
    background: rgba(64, 186, 110, 0.1);
    color: #63a074;
    font-style: normal;
    border: 1px solid transparent;
    padding: 0 9px 0 9px;
    border-radius: 2px;
    position: absolute;
    top: 48px;
    margin-left: 7px;
    font-size: 12px;
  }

  .content-bottom {
    line-height: 24px;
    clear: both;
  }

  .card-tag {
    color: #f68717;
    display: block;
    border-radius: 2px;
    position: absolute;
    right: 15px;
    top: 27%;
    height: 16px;
    line-height: 16px;
    text-align: center;
    padding: 0 8px;
    margin-top: -14px;
    background: #fff;
    background: rgba(246, 135, 23, 0.16);
    font-size: 12px;
  }

  .content-top {
    margin-bottom: 6px;

    h5 {
      margin-top: 10px;
    }
  }

  // #intSpan{
  //     position: absolute;
  //     margin-top: 2px;
  // }
  #bidViewList {
    border-bottom: 1px solid #d8d8d8;
    height: 68px;

    a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      float: left;
      width: 264px;
      font-size: 14px;
    }

    .view-bid-bottom {
      font-size: 14px;
      color: #999999;

      .view-bid-time {
        float: right;
      }
    }
  }

  #bidH5 {
    em {
      color: #007892 !important;
    }
  }

  #hisViewDelAllBtn i {
    width: 20px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin: -3px 0px -1px 0px;
    background: url(../../assets/imgs/web_sprite.png) no-repeat;
    background-position: -57px -80px;
  }

  .del-all {
    float: right;
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
  }

  .no-click:hover {
    color: #333 !important;
    cursor: inherit;
  }

  .mar-r-5 {
    margin-right: 5px;
  }

  .vipjb {
    background: url(../../assets/imgs/vipjb.png) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin: -15px 0px -1px -20px;
    background-size: 19px;
  }

  .title-sub-advanced {
    position: absolute;
    margin-top: 3px;
    font-weight: bold;
    font-size: 14px;
    color: #666;
  }

  .each-main-advanced {
    margin-bottom: 17px;
  }

  .more-search-model {
    margin-top: 24px;
  }

  .w-checkbox-group {
    display: inline;
  }

  #createDate .w-radio-group {
    width: 760px;
  }

  .filter-item {
    width: 290px;
    display: inline-block !important;

    // margin-bottom: 7px!important;
    .ant-form-item {
      margin-bottom: 10px;
    }
  }

  // .filter-item{
  //     div:last-child{
  //         width: 200%;
  //     }
  // }
  .ant-cascader-menu-item-expand {
    padding-left: 20px;
  }

  .industry-choose {
    li {
      padding-left: 12px;
    }
  }

  .industry-choose {
    .ant-cascader-dropdown {
      // width: 750px;
      width: max-content;
    }
  }

  .list-opeation {
    position: absolute;
    padding: 0 10px 0 30px;
    display: inline-block;
    right: 5px;
    top: 6px;
  }

  .job-ul {
    .w-radio-group {
      width: 760px;
    }

    .w-picker-range {
      width: 206px;
    }
  }

  .searchcontent-golbal {
    flex: 1;
    display: block;
    position: relative;

    .each-searchlist-item {
      margin-top: 10px;
    }

    .card-tag {
      top: 18%;
      right: -5px;
    }
  }

  .div_Card_global_top {
    padding-top: 10px;
    padding-left: 5px;
  }

  .search-outcompany-top {
    padding-left: 0px !important;
    padding-top: 0px !important;
    float: none !important;

    em {
      color: #00aec7;
    }
  }

  .global_state {
    margin-top: 13px;
    margin-left: 59px;

    .state-yes {
      // padding: 4px 10px;
      border: none;
      // border-radius: 2px;
      // font-size: 12px;
    }

    .item-tag-list {
      // vertical-align: middle;
      vertical-align: inherit;
    }
  }

  .global_state span {
    margin: 0 5px 0 0 !important;
    position: inherit !important;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    border-radius: 2px;
    text-align: center;
    font-weight: normal;
    display: inline-block;
  }

  .search-company-type {
    .filter-name {
      display: table-cell;
      padding-right: 15px;
    }

    div {
      display: table-cell;
    }
  }

  .company-jump {
    display: inline-block;

    a {
      color: #333;
      padding-bottom: 1px;
      border-bottom: 1px solid #c5c5c5;
    }

    a:hover {
      color: #00aec7 !important;
      border-bottom: 1px solid #00aec7;
    }
  }

  .patent-li {
    // #intSpan
    line-height: 28px;

    .w-radio-group {
      width: auto;
      max-width: 760px;
    }
  }

  .person-div {
    padding: 12px 20px 16px 16px;
    border-bottom: 1px solid #d8d8d8;
  }

  .person-img {
    width: 56px;
    height: 56px;
    /* border: 1px solid red; */
  }

  .person-message {
    min-height: 56px;
    display: flex;
    align-items: center;
  }

  .person-logo {
    width: 56px;
    height: 56px;
    display: inline-block;
  }

  .person-detail {
    display: inline-block;
    margin-left: 10px;
  }

  .person-name {
    margin-bottom: 16px;
  }

  .person-company {
    margin-right: 10px;
    cursor: pointer;
    border-bottom: 1px solid #c5c5c5;
    /* color: #00AEC7; */
  }

  .person-span {
    width: 56px;
    height: 56px;
    display: inline-block;
    line-height: 56px;
    text-align: center;
    background: #f4f4f4;
    color: #999;
    border-radius: 3px;
    font-size: 16px;
    vertical-align: middle;
  }

  .person-name-h5 {
    font-size: 18px;
    font-weight: bold;
    /* cursor: pointer; */
  }

  #historyPersonList {
    display: none;
  }

  .person-name-h5 em {
    font-style: normal;
    color: #007892;
  }

  .person-name-h5:hover {
    /* color: #00aec7; */
  }

  .person-title {
    margin-bottom: 10px;
  }

  .patent-li {
    .filter-item {
      width: 480px;
    }
  }

  .filter-brandinfo {
    line-height: 28px;
  }

  .filter-brandoption {
    margin-left: 90px;
    line-height: 28px;
    position: absolute;
    top: 0;
  }

  .filter-corp-cbx {
    .w-checkbox-wrapper {
      display: block;
      // width: 120px;
      min-width: 120px;
      width: auto;
      line-height: 22px;
      padding: 3px 8px;
      margin-right: 0;

      &:hover {
        background-color: #e9e9e9;
      }

      .w-checkbox-checked {
        .w-checkbox-inner {
          background: url(../../assets/icons/Selected_pri@1x.svg) 50% no-repeat;
          border-color: #c5c5c5;
          transition: none;

          &:after {
            display: none;
          }
        }
      }
    }
  }

  .casader-choose-region {
    .ant-cascader-menu {
      overflow-x: hidden;
      overflow-y: scroll;
    }

    li {
      width: 131px;
    }
  }

  .casader-choose-industry {
    .ant-cascader-menu {
      overflow-x: hidden;
      overflow-y: scroll;
    }

    li {
      width: 192px;
    }
  }

  .window-locale-en-US {
    .fitler-title {
      font-size: 12px;
    }

    .title-city-industry {
      margin-right: 35px;
      font-size: 12px;
    }
    .title-patent-industry {
      width: 240px;
    }

    .person-name {
      .div_Card_name_en {
        margin-bottom: -10px;
      }
    }

    .group-search-cont {
      margin-top: 0;

      .group-search-icon {
        margin-top: 10px;
      }

      .div_Card_name_en {
        margin-left: 70px;
        margin-bottom: -8px;
      }
    }

    .div_Card_name_en_bid {
      margin-bottom: 10px;
    }

    .searchpic-brand {
      margin-bottom: 18px;
      padding-top: 9px;
    }

    .intelluctalSearch-img-block {
      .div_Card_name_en {
        margin-left: 70px;
      }
    }

    .state-yes {
      margin-top: 12px;
    }

    .div_Card_left_top {
      .item-list {
        margin-top: -4px;
        margin-bottom: 6px;
      }
    }

    .bid-job-ul {
      .w-picker-range {
        width: 200px;
      }

      .filter-item {
        width: 287px;
      }
    }

    .div_Card_global_top {
      .div_Card_name_en {
        margin-top: 6px;
        margin-bottom: -6px;
      }
    }
  }

  .filterlist-person {
    padding-top: 10px;
    padding-left: 12px;
    min-height: 56px;
  }

  .search-list {
    &--filter {
      &--create-date {
        &--picker {
          max-width: 360px;
        }
      }
    }
  }
}

.window-locale-en-US {
  .SearchList {
    .search-filter {
      #filterList {
        > li {
          padding: 9px 0 7px 120px;
        }
        .industry-choose {
          padding-left: 15px;
          padding-top: 0px;
          margin-bottom: -9px;
        }
      }
    }
    #TitleIndustry {
      margin-left: 32px;
    }
    .title-city-industry {
      margin-right: 44px;
    }
    #createDate {
      .custome {
      }
    }
  }
}
