.wui-alice-btn:global(.w-btn) {
  font-weight: 400;
  color: #333 !important;
}

.wui-alice-btn.wui-alice-btn--active:not([disabled]),
.wui-alice-btn.wui-alice-btn--active:not([disabled]) .sub-text {
  color: #05809e !important;
}

.alice-deepmode-btn:global(.w-btn) {
  height: 34px;
  border: 1px solid #ecedee;
  padding: 5px 16px;
  border-radius: 6px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;

  .icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: #292b31;
  }
}
.alice-deepmode-btn:global(.w-btn):hover,
.alice-deepmode-btn:global(.w-btn):hover:not([disabled]) {
  color: #000 !important;
  border: 1px solid #90959d !important;
  background: #f2f3f3;
}

.alice-deepmode-btn:global(.w-btn),
.alice-deepmode-btn:global(.w-btn) .icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 8px;
}

.alice-deepmode-btn--active.alice-deepmode-btn--active:not([disabled]) {
  color: #0596b3 !important;
  border: 1px solid #0596b3 !important;
  background: #eaf6fa;
}

.alice-deepmode-btn--active.alice-deepmode-btn--active:not([disabled]):hover,
.alice-deepmode-btn--active.alice-deepmode-btn--active:not([disabled]):hover:not([disabled]) {
  color: #00aec7 !important;
  border: 1px solid #00aec7 !important;
  background: #f7fdff;
}
