.alice-icon-svg {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    path {
      fill: var(--gradient-url);
    }
  }

  &--hover {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    path {
      fill: var(--gradient-url);
    }
  }
}
