.dynamic-event-type-tag {
  vertical-align: middle;
  text-align: center;
  background-color: #fff;
  padding: 0 8px 0 8px;
  height: 20px;
  line-height: 20px;
  box-sizing: border-box;
  color: #4d91b4;
  margin-right: 8px;
  border: 1px solid;
  border-color: rgba(77, 145, 180, 0.5);
  border-radius: 2px;
  display: inline-block;

  &.tag-color-1 {
    color: var(--color-1);
  }
  &.tag-color-2 {
    color: var(--color-2);
  }
  &.tag-color-3 {
    color: var(--color-3);
  }
  &.tag-color-4 {
    color: var(--color-4);
  }
  &.tag-color-5 {
    color: var(--color-5);
  }
  &.tag-color-6 {
    color: var(--color-6);
  }
  &.tag-color-7 {
    color: var(--color-7);
  }
  &.tag-color-8 {
    color: var(--color-8);
  }
  &.tag-color-9 {
    color: var(--color-9);
  }
}
