.scrollbar-style() {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  // 默认隐藏滚动条
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  // 仅在滚动时显示滚动条
  &:hover::-webkit-scrollbar-thumb,
  &:active::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
