.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 24px;
  background-color: transparent;
}
.backBtn {
  font-size: 14px;
  color: var(--basic-8);
  cursor: pointer;
  margin-inline-end: 12px;
  border: 1px solid var(--basic-12);
  border-radius: 4px;
  padding: 4px 8px;
  &:hover {
    background-color: var(--click-1);
    color: var(--click-6);
    border-color: var(--click-2);
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
