#div_Card {
  padding: 16px 16px 8px 16px;
  border-bottom: 1px solid #c5c5c5;
  .div_Card_title {
    .searchtitle-brand {
      line-height: 25px;
      height: 25px;
      font-size: 18px;
      max-width: 80%;
      overflow: hidden;
      // margin-bottom: 4px;
      cursor: pointer;
      margin-right: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      font-weight: bold;
    }

    display: flex;
    .bid-title {
      em {
        font-style: normal;
        color: #007892;
      }
    }
    .div-Card-tag {
      // align-self: ;

      margin-left: auto;
    }
    h5:hover {
      color: #77c4d4;
      cursor: pointer;
    }
  }

  .each-searchlist-item {
    line-height: 28px;
    font-size: 14px;
    clear: both;
    .searchitem-work {
      margin-right: 50px;
      div {
        display: inline-block;
      }
      .underline-company {
        cursor: pointer;
        border-bottom: 1px solid #c5c5c5;
      }
      .underline-company:hover {
        color: #0093ad;
        border-bottom: 1px solid #0093ad;
      }
    }
  }

  em {
    font-style: normal;
    color: #00aec7;
  }
}
