.city-or-industry {
  &-container {
    margin-block-end: 20px;
  }
  &-title {
    font-size: 14px;
    line-height: 28px;
    &-logo {
      width: 25px;
      vertical-align: top;
      margin-left: 2px;
      margin-top: 2px;
    }
  }

  &-select-container {
    // width: 180px;
    margin-block-end: 4px;
  }
  &-cascade {
    flex: 1;
  }
}
