.chat-sender-report-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  &-files {
    width: 100%;
    border: 1px solid #e9ecef;
    border-radius: 6px;
    padding: 8px;
    background-color: #f8f9fa;

    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -4px;
    }
  }
}
