**/node_modules
**/.idea
**/.vscode
**/.history
**/.turbo

**/logs
**/dist
**/output*.pdf

**/.obsidian

apps/ai-chat/scripts/git-stats.sh
apps/ai-chat/doc/STRINGS-清单.html
apps/ai-chat/doc/STRINGS-清单.json
apps/ai-chat/doc/STRINGS-未翻译清单.txt
apps/ai-chat/doc/components/SuperList/HomeContent/测试用例.md
apps/ai-chat/doc/components/modal/设计文档.md
apps/ai-chat/doc/hooks/use-lang-source/设计文档.md
apps/ai-chat/scripts/strings-fix.cjs
apps/ai-chat/scripts/strings-stats.cjs
apps/test
apps/company/.trae/rules/project_rules.md
**.html
