@prefix: company-directory-markdown-cell;

.@{prefix}-oneLine {
  margin: 0 !important;
}

.@{prefix}-fullText {
  white-space: normal;
  word-break: break-word;
}

.@{prefix}-cellWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.@{prefix}-cellInline {
  align-items: center;
}

.@{prefix}-cellActionIcon {
  position: absolute;
  right: 0;
  top: 0;
  transform: none;
  opacity: 0.2;
}

.@{prefix}-cellWrapper:hover .@{prefix}-cellActionIcon {
  opacity: 1;
}

.@{prefix}-cellActionIconExpanded {
  position: absolute;
  right: 0;
  top: 0;
  transform: none;
  opacity: 0.2;
}

.@{prefix}-cellExpandedContent {
  padding-right: 20px;
}

.@{prefix}-cellActionIconInline {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;
  cursor: pointer;
  color: var(--icon-color);
  transition:
    opacity 0.2s ease,
    color 0.2s ease;
}

.@{prefix}-cellInline:hover .@{prefix}-cellActionIconInline {
  opacity: 1;
  color: var(--icon-color-hover);
}
