@import 'gel-ui/variables.less';

.dpu-preview-renderer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: @color-bg-2;
  border-radius: @border-radius-base;
  overflow: hidden;

  &__content {
    flex: 1;
    overflow: hidden;
    padding: @spacing-sm;
  }
}
