@import '@/styles/mixins.less';
.group-container {
  --border-radius: 4px;
  --content-width: 1280px;
  height: 100%;
  background: #f8f8f8;
  overflow-x: hidden;
  > div {
    width: var(--content-width);
    margin: 0 auto;
  }

  .navMenu {
    animation: slideUp 1s ease-in-out;
    #boxShadow;
    position: fixed;
    width: 212px;
    z-index: 10;
    background: #fff;
    height: calc(100% - 40px);
    overflow: hidden;
    border-radius: 4px;
    .tree-container {
      height: calc(100vh - 200px);
      overflow: hidden;
    }
    .w-tree-node-selected {
      .num {
        color: #fff;
      }
    }
    .num {
      margin-left: 12px;
      color: #999;
    }
    .nav-vip {
      position: absolute;
      left: -10px;
      font-size: 10px;
      font-weight: bold;
      color: #e4c557;
    }
  }
  .content {
    animation: slideRight 1s ease-in-out backwards;
    width: var(--content-width);
    padding-left: 220px;
    .empty-container {
      height: calc(100vh - 40px);
      width: 100%;
      #boxShadow;
    }
    .card-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .num {
      font-size: 14px;
      color: #999;
    }
    .node-item {
      #boxShadow;
      margin: 8px 0;
      .w-card-head {
        padding: 12px;
      }
    }
    // .node-item-children {
    //   margin-bottom: 12px;
    //   .w-card-head,
    //   .w-card-body {
    //     padding: 6px 0;
    //   }
    //   .wind-ui-table-horizontal,
    //   .wind-ui-table-wrapper {
    //     padding: 0;
    //   }
    //   .w-card .w-tabs-bar {
    //     border-bottom: none
    //   }
    // }
  }
}
.w-card-body {
  padding: 0 12px;
}

.node-item-children {
  // padding: 12px 6px;
  border-bottom: 1px dashed #ededed;
  // box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  // border-radius: 8px;
  padding-top: 12px;
  &:nth-child(1) {
    padding-top: none;
  }
  min-height: 100px;
  transition: height 0.3s;
  .w-card-head {
    padding: 0 0 10px 0 !important;
  }
  .w-card-body {
    padding: 0;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    zoom: 1;
  }
  .wind-ui-table-wrapper {
    padding-bottom: 12px;
  }
  .wind-ui-table-title {
    padding: 0 0 12px 0;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
