@import 'gel-ui/variables.less';

.pdf-viewer {
  position: relative;
  overflow: hidden;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    padding: 0 @component-space-lg;
    background-color: @basic-16;
  }

  &__file-name {
    flex: 1;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__scroll-container {
    width: 100%;
    height: calc(100% - 46px);
    overflow: auto;
    padding-left: @component-space;
    padding-right: @component-space;
    position: relative;

    &::-webkit-scrollbar-track {
      background: #e6e7e9;
    }
  }

  &__loading,
  &__error {
    text-align: center;
  }

  &__error {
    padding-top: @spacing-base;
  }
}
