@import '@/styles/mixin/common/scrollbar.less';

@prefix: scroll;

.wrapper-width() {
  max-width: 75vw;
  min-width: 984px;
  margin: 0 auto;
}

.@{prefix} {
  &-container {
    height: 100%;
    .scrollbar-style();
    // width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    overflow-x: auto;

    &-content {
      height: 100%;
      background-color: #f8f8f8;
      flex: 1;
      box-sizing: border-box;
      .wrapper-width();
    }
  }
}
