.text-input {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__intro {
    align-self: flex-start;
    color: #666666;
    line-height: 22px;
  }

  &__text-area {
    border-radius: 4px;
    border: 1px dashed #c5c5c5;
    height: 380px !important;
    margin-bottom: 12px;
    @media screen and (max-width: 1200px) {
      height: 200px;
    }
  }
}
