@import '../../../../../styles/colorVariables.less';

.ai-graph-modal-container {
  .info-circle-f {
    width: 20px;
    height: 20px;
    color: @click-5;
    font-size: 18px;
    margin-right: 6px;
  }

  .ai-graph-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ai-graph-modal-content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
  }
  .w-modal-content {
    height: 100%;
  }
  .ai-graph-modal-content-corp-presearch {
    display: flex;
    align-items: center;
    flex: 1 1;
    margin-top: 32px;
  }
  .ai-graph-modal-content-corp-presearch-required {
    color: @red-5;
    font-size: 18px;
  }
  .ai-graph-modal-content-corp-presearch-label {
    color: @gray-1;
    margin-right: 12px;
  }
}

.corp-pre-search-dropdown {
  .w-select-item-option {
    height: auto;
  }
}
