@import 'gel-ui/variables.less';

/* CSS属性书写顺序
 * 1. 定位布局属性: position, top, right, bottom, left, z-index, display, float, clear, visibility, overflow
 * 2. 盒模型属性: width, height, max/min-width, max/min-height, margin, padding, border, border-radius
 * 3. 弹性布局: flex, flex-direction, justify-content, align-items
 * 4. 背景和颜色: background, color, opacity
 * 5. 文本与排版: font, line-height, text-align, text-decoration, white-space
 * 6. 边框和阴影: box-shadow, text-shadow
 * 7. 动画与过渡: transform, transition, animation
 * 8. 用户交互: cursor, pointer-events, user-select
 */

.placeholder-prompts-section {
  margin-top: 36px;

  .prompt-icon {
    /* 盒模型属性 */
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    /* 弹性布局 */
    align-items: center;
    justify-content: center;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  .placeholder-prompts-item {
    /* 定位布局属性 */
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    background: none;

    .placeholder-prompts-item-label {
      margin-bottom: 4px;
      line-height: 24px;
    }
    .placeholder-prompts {
      /* 定位布局属性 */
      display: flex;
      flex-direction: column;
      overflow-x: scroll;
      /* 盒模型属性 */
      margin-block: 0;
      padding-inline-start: 0;
      /* 其他 */
      list-style: none;

      .placeholder-prompts-item-subItem {
        /* 定位布局属性 */
        display: flex;
        flex-direction: row;
        align-items: center;
        /* 盒模型属性 */
        width: fit-content;
        max-width: 100%;
        padding: 12px 0;
        /* 文本与排版 */

        font-size: 18px;
        font-weight: 700;
        /* 用户交互 */
        cursor: pointer;

        .placeholder-prompts-item-subItem-icon {
          width: 24px;
          height: 24px;
          margin-right: 24px;
        }

        .placeholder-prompts-item-subItem-description {
          /* 盒模型属性 */
          width: fit-content;
          max-width: 100%;
          border-bottom: 1px solid transparent;
          /* 文本与排版 */
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px;
          font-weight: 700;
        }

        &:hover {
          /* 背景和颜色 */
          color: @primary-hover;

          .placeholder-prompts-item-subItem-description {
            border-bottom: 1px solid @primary-hover;
          }
        }
      }

      .placeholder-prompts-item-subItem + .placeholder-prompts-item-subItem {
        margin-top: 12px;
      }
    }
  }

  :global {
    .ant-prompts-item {
      width: 100%;
    }
    .ant-prompts.ant-prompts-nested {
      .ant-prompts-item {
        /* 定位布局属性 */
        display: flex;
        align-items: center;
        /* 盒模型属性 */
        padding: 12px 0;
        /* 背景和颜色 */
        background: none;

        .ant-prompts-content {
          margin-left: 12px;

          .ant-prompts-desc {
            /* 盒模型属性 */
            width: fit-content;
            max-width: 100%;
            border-bottom: 1px solid transparent;
            /* 文本与排版 */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 18px;
            font-weight: 700;
          }
        }

        &:hover {
          /* 背景和颜色 */
          color: @primary-hover;

          .ant-prompts-desc {
            border-bottom: 1px solid @primary-hover;
          }
        }
      }
    }
  }
}
