/* .price-bg{background:url(../images/Company/version_prince_bg.png) #f9f9f9 no-repeat center top;overflow: hidden;} */
.price-bg {
  background: #f9f9f9; /*overflow: hidden;*/
}
.main-price {
  padding: 0 0 0 0;
  width: 1300px;
  margin: 0 auto;
  background: #fff; /*overflow: hidden;*/
  border-radius: 10px;
  margin-top: 320px;
  margin-left: calc(50% - 650px);
}
.price-table,
.price-table-con {
  width: 100%;
}
.price-table td {
  border: none;
  height: 80px;
  background: rgba(0, 174, 199, 0.05);
  font-size: 22px;
  color: #333;
  padding: 0 15px;
}
.price-table-header td {
  background: #fff;
}
.tit-price {
  color: #000;
  font-size: 20px;
  padding-left: 48px;
  background: #f3fcff;
  height: 64px;
  line-height: 64px;
  position: relative;
}
.num-tit-price {
  font-size: 48px;
  margin: 0 20px 0 6px;
}
.after-tit-price {
  font-size: 20px;
}
.price-table-con {
  color: #333;
}
.price-table-con td {
  background: #fff;
  height: 50px;
  color: #333;
  font-size: 16px;
  padding: 0 15px;
  line-height: 22px;
}
.price-table-con .color-svip {
  color: #d29f60;
}
.price-table-con tr td:first-child {
  padding-left: 48px;
}

* {
  border-collapse: collapse;
}

.price-table-header {
  border-collapse: separate;
  border-spacing: 0;
}

.main-price-svip .price-table-header td:last-child {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-top-right-radius: 10px !important;
}
.main-price-svip .price-table-con td:last-child {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
.main-price-svip .price-table-con tr:first-child {
  position: relative;
}
.main-price-svip .price-table-con td:last-child {
  position: relative;
}
.main-price-svip .price-table-con:last-of-type tr:last-child td:last-child {
  border-bottom: 2px solid transparent;
}
.main-price-svip .price-table-con td:last-child:before {
  content: '';
  width: 2px;
  height: 84px;
  background: transparent;
  position: absolute;
  left: -2px;
  top: -84px;
}
.main-price-svip .price-table-con td:last-child:after {
  content: '';
  width: 2px;
  height: 84px;
  background: transparent;
  position: absolute;
  right: -2px;
  top: -84px;
}

.main-price-no .price-table-header td:nth-of-type(2) {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  padding: 0 20px 0 20px;
  border-top-right-radius: 0px !important;
}
.main-price-no .price-table-con td:nth-of-type(2) {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
.main-price-no .price-table-con tr:first-child td:nth-of-type(2) {
  position: relative;
}
.main-price-no .price-table-con:last-of-type tr:last-child td:nth-of-type(2) {
  border-bottom: 2px solid transparent;
}
.main-price-no .price-table-con td:nth-of-type(2):before {
  content: '';
  width: 2px;
  height: 84px;
  background: transparent;
  position: absolute;
  left: -2px;
  top: -84px;
}
.main-price-no .price-table-con td:nth-of-type(2):after {
  content: '';
  width: 2px;
  height: 84px;
  background: transparent;
  position: absolute;
  right: -2px;
  top: -84px;
}
.main-price-no .price-table-header td:nth-of-type(3) {
  width: 232px;
}

.main-price-vip .price-table-header td:nth-of-type(3) {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
}

.main-price-vip .price-table-header td:last-child {
  border-top-right-radius: 10px !important;
}
.main-price-vip .price-table-con td:nth-of-type(3) {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
.main-price-vip .price-table-con tr:first-child td:nth-of-type(3) {
  position: relative;
}
.main-price-vip .price-table-con:last-of-type tr:last-child td:nth-of-type(3) {
  border-bottom: 2px solid transparent;
}
.main-price-vip .price-table-con td:nth-of-type(3):before {
  content: '';
  width: 2px;
  height: 84px;
  background: transparent;
  position: absolute;
  left: -2px;
  top: -84px;
}
.main-price-vip .price-table-con td:nth-of-type(3):after {
  content: '';
  width: 2px;
  height: 84px;
  background: transparent;
  position: absolute;
  right: -2px;
  top: -84px;
}

.product-intro-map {
  width: 1300px;
  margin: 105px auto 0 calc(50% - 650px);
  font-size: 16px;
  user-select: none;
}
.product-intro-li {
  float: left;
  width: 344px;
  height: 324px;
  margin-right: 90px;
  color: #000;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.product-intro-li:nth-of-type(1) {
  margin-left: 45px;
}
.product-intro-li:nth-of-type(2) {
  transform: scale(1.1);
  margin-top: -20px;
  animation: intro-animation-max 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.product-intro-li:nth-of-type(3) {
  margin-right: 0;
}

.product-intro-li-no > div:first-of-type {
  background: url('../../assets/imgs/bg.png');
  height: 126px;
  line-height: 126px;
  font-size: 24px;
  color: #fff;
}
.product-intro-li-vip > div:first-of-type {
  background: url('../../assets/imgs/vipbg.png');
  height: 126px;
  line-height: 126px;
  font-size: 24px;
  color: #a86714;
}
.product-intro-li-svip > div:first-of-type {
  background: url('../../assets/imgs/svipbg.png');
  height: 126px;
  line-height: 126px;
  font-size: 24px;
  color: #a86714;
}
#dayPrice {
  color: #666;
}
.product-intro-li-price {
  line-height: 68px;
  margin-top: 50px;
}
.product-intro-li-txt {
  width: 344px;
  line-height: 28px;
  margin-top: -10px;
}

.product-intro-li-btn div {
  width: 100px;
  margin: auto;
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
}

.product-intro-li-svip .product-intro-li-btn div {
  background: #fade83;
  color: #a86714;
}
.product-intro-li-vip .product-intro-li-btn div {
  background: #f8daba;
  color: #a76412;
}
.product-intro-li-no .product-intro-li-btn div {
  background: #57a3f6;
}

.product-intro-li-no {
  font-size: 16px;
}

@-webkit-keyframes intro-animation-max {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
  }
}

.price-tips {
  color: #999;
}
.price-tips span {
  position: absolute;
  line-height: 22px;
}
.price-tips > div {
  margin-left: 24px;
  line-height: 24px;
}
.chain-main-price {
  border: 1px solid #f2f2f2;
  padding: 0;
  width: 1300px;
  margin: 20px auto 12px auto;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
}
.chain-th {
  font-weight: normal;
  font-size: 22px;
  color: #666;
  background-color: #f2fbfc;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-align: left;
}
.chain-th-price {
  /* font-weight: normal; */
  font-size: 22px;
  color: #d29f60;
  background-color: #f2fbfc;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

.jump-chain {
  font-size: 16px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.new-price-icon::after {
  content: '';
  display: inline-block;
  position: relative;
  height: 14px;
  width: 30px;
  background: url(../../assets/imgs/web_sprite.png) no-repeat;
  background-position: -182px -128px;
  left: 10px;
  top: -15px;
}

.price-intro {
  font-size: 13px;
  font-weight: bold;
}

.price-intro i {
  color: red;
}
.left-menu {
  position: fixed;
  z-index: 100;
  left: 20px;
  top: 270px;
}
@media (max-width: 1900px) {
  .main-price,
  .chain-main-price {
    margin-left: 310px;
  }
}
@media (max-width: 1620px) {
  .main-price,
  .chain-main-price {
    margin-left: calc(50% - 650px);
  }
}

.tit-price.sel:before {
  content: '';
  display: block;
  background: url(../../assets/imgs/leftSlider.png) no-repeat;
  left: 0;
  width: 10px;
  height: 45px;
  position: absolute;
  top: 13px;
}
.price-table-header {
  position: sticky;
  width: 1300px;
  z-index: 10;
  top: -1px;
}
.wind-global-exp .price-table-header {
  top: 60px;
}

/* #tab1 {
    margin-top: 80px;
} */
.prefix-tit-price {
  font-size: 20px;
}
.price-table-header-tip .price-intro-buy {
  display: block;
}
.price-table-header-tip .price-intro {
  display: none;
}
.price-intro-buy {
  /* display: none; */
  width: 100px;
  border-radius: 2px;
  font-size: 14px;
  background: #f8daba;
  color: #a76412;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}
.price-intro-buy-svip {
  background: #fade83;
  color: #a86714;
}
.price-bg-no .main-price {
  margin-top: 400px;
}
.price-bg-no .product-intro-li {
  height: 394px;
}
.price-bg-no .product-intro-li-btn {
  display: block;
}

.wind-locale-en-US .main-price-svip .price-table-header td:last-child {
  padding-left: 20px;
}

.product-intro-li-en {
  display: none;
}
.wind-locale-en-US .product-intro-li-en {
  display: block;
  margin-top: 70px;
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

.wind-locale-en-US .product-intro-li-zh {
  display: none;
}
