.pdfCover {
  overflow: hidden;

  padding: 0;
  border: none;
  position: relative;
  width: 100%;
  color: #333;
  line-height: 25.2px;
  font-size: 14px;
  background-color: #fff;

  h1 {
    font-size: 29px;
    text-align: center;
    line-height: 60px;
    color: #000;
    font-weight: 600;
  }
}

.companyName {
  font-size: 28px;
  font-weight: 600;
  color: #000;
}

.reportTitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 123px;
  color: #000;
}

.reportDate {
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-align: center;
  margin-bottom: 61px;
}

.disclaimer {
  font-size: 12px;
  color: #7f7f7f;
  line-height: 20px;
}

.disclaimer + .disclaimer {
  margin-top: 4px;
}
