@prefix: company-directory-right;

.@{prefix} {
  &-main {
    position: relative;
    background: var(--basic-16);
    border-left: 1px solid var(--basic-14);
    min-height: 100%;
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 12px;
    border-bottom: 1px solid var(--basic-14);

    &-actions {
      display: flex;
      align-items: center;
      margin: 0 -4px;
      > * {
        margin: 0 4px;
      }
    }
    &-remark {
      font-size: 12px;
      color: var(--gray-2);
      margin-inline-start: 8px;
    }
    &-link {
      font-size: 12px;
      color: var(--click-6);
      cursor: pointer;
      margin-inline-start: 8px;
    }
  }
}
