@import 'report-util/style';

.rp-preview-left-container {
  .rp-preview-header-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding-right: 4px;
  }

  .rp-preview-header-title {
    flex: 1;
    text-align: center;
  }

  .rp-preview-header-btn {
    margin-left: auto;
    background-color: transparent;
  }
  .select {
    padding: 8px;
    width: 100%;
  }
}
