.button-group {
  &__container {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;

    & > *:not(:first-child) {
      margin-left: 12px;
    }
  }

  &__button {
    margin-top: 8px;
  }
}
