@import 'gel-ui/variables.less';
.checkbox-multi {
  display: flex;
  flex-direction: column;

  &--horizontal {
    --border-color: @primary-hover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > div {
      border: 1px solid #ededed;
      border-radius: 4px;
      width: fit-content;
      margin-inline-end: 12px;
      margin-block-end: 12px;
      padding: 6px 8px;
      box-sizing: border-box;
      transition: border-color 0.3s;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-height: 34px;
      min-width: calc(100% / 5 - 12px);

      // 添加悬停效果
      &:hover {
        border-color: var(--border-color);
      }

      // 选中状态样式
      &.checked {
        border-color: var(--border-color);
        border-width: 1px;
      }

      & > span:last-of-type {
        color: rgb(102, 102, 102);
      }

      *,
      *::before,
      *::after {
        cursor: pointer;
      }
    }
  }
}

// .checkbox-nested {
//   margin-top: 12px;
// }
