/*css reset*/
@import '@/app.less';

@bread-crumb-height: 14px;
@bread-crumb-gap: 13px;

body {
  min-width: 1190px;
}

.bread-crumb {
  background-color: #fff;
  width: 100%;
  line-height: 22px;
  font-size: 14px;
  padding: 7px 0;
  margin: 0 auto;
}

.bread-crumb-content {
  width: 1266px;
  margin: auto;
  display: flex;
  align-items: center;
  color: #333;
}

.bread-crumb i {
  background-image: url(../../assets/imgs/Right@3x.png);
  background-size: 14px;
  width: 14px;
  height: @bread-crumb-height;
  display: inline-block;
}

.bread-crumb .last-rank {
  color: #999;
  cursor: pointer;
}

.bread-crumb span {
  margin: 0 8px;
}

.bid-detail-nav {
  width: 1282px;
  margin: @bread-crumb-gap auto 0 auto;

  .sub-nav-timeline {
    padding: 8px;
  }

  .sub-nav-title {
    margin-left: 32px;
    padding: 12px 0;
  }

  .sub-nav-list {
    overflow-y: auto;
    height: calc(100vh - 96px);
    width: 213px;
    position: fixed;
    z-index: 80;

    border: none;
    margin-left: 0;

    // margin-top: 5px;
    // top: 78px;
    display: block;
    background-color: #fff;
  }

  .item-detail {
    margin-top: -1px;
  }

  .w-timeline-item-tail {
    // left: 5px;
  }

  .w-timeline-item-line {
    top: 0;
  }

  .w-timeline-item {
    &:last-child {
      .w-timeline-item-tail {
        display: block;
      }
    }
  }
}

.bidding-detail {
  .bread-crumb {
    position: sticky;
    top: 0;
    z-index: 9;
  }
  .detail-header {
    // display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-size: 14px;
  }
}

.bidding-detail {
  .wind-ui-table-last-column.wind-ui-table-item-content {
    overflow: hidden;
  }

  .header {
    background: #396fb3;
    line-height: 70px;
    color: #fff;
    margin-bottom: 20px;
    display: block;
    height: auto;
  }

  .item-detail {
    line-height: 28px;

    .company-link {
      &:hover {
        color: var(--primary-hover);
      }

      color: var(--primary);
    }
  }

  .tab-content {
    padding: 0px 20px 10px 20px;
    background-color: #fff;
    position: relative;
  }

  .wind-ui-table-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .show-link {
    margin-left: 10px;
    font-size: 14px;
    color: #007892;
    cursor: pointer;
  }

  .down-show {
    background: url(../../assets//imgs//downshow2.png) no-repeat;
    display: inline-block;
    width: 20px;
    height: 15px;
    background-size: 18px;
  }

  .bdw-product {
    color: #999999;
    margin-right: 10px;
  }

  .w-tree-node-content-wrapper {
    pointer-events: none;
  }

  .w-tree-treenode-leaf-last {
    .w-tree-switcher-noop {
      display: none;
    }
  }

  .main__content {
    margin-top: 20px;
    padding: 0 20px 20px 20px;
    background-color: #fff;
  }

  .pdfhtml {
    border: 1px solid #dfdfdf;
  }
}
