.filterContainer {
  //   background-color: aquamarine;
}

.tabContainer {
  background: transparent;
}

.panelContainer {
  padding-inline-start: 0;
  padding-inline-end: 0;
  > div {
    padding: 12px;
    background: #fff;
  }
}

.list {
  //   width: 100%;
}

.scrollContainer {
  overflow: auto;
}
