.tabContainer {
  background: transparent;
}

.panelContainer {
  padding-inline-start: 0;
  padding-inline-end: 0;
  max-width: 1000px;
  > div {
    padding: 12px;
    background: #fff;
  }
}

.scrollContainer {
  overflow: auto;
}

.tooltipInner {
  .w-tooltip-inner {
    max-width: 500px !important;
  }
}

.global-search-tabs {
  .ant-tabs-nav {
    margin: 0 !important;
  }
}
