/* RPGenerating styles injected into TinyMCE iframe */
.rpgen-top-div {
  padding: 14px;
  background: #ffffff;
  box-shadow:
    0 3px 14px 2px rgba(0, 0, 0, 0.1),
    0 8px 10px 1px rgba(0, 0, 0, 0.06),
    0 2px 5px -2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.rpgen-top-div .limit-confirm-node-icon {
  color: #0596b3;
  border: 1px solid #0596b3;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}

.rpgen-top-div .docs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  flex-wrap: wrap;
}

.rpgen-top-div .docs .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  width: 300px;
  margin-top: 8px;
  cursor: pointer;
}

.rpgen-top-div .docs .item .icon {
  width: 20px;
  height: 24px;
}

.rpgen-top-div .docs .item .title-div {
  padding-top: 1px;
  margin-left: 0px;
  font-size: 12px;
  color: #333333;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rpgen-top-div .feedback-one-key {
  margin-right: -260px;
}

.rpgen-top-div .feedback-one-key > span:nth-child(1) {
  margin-right: 8px;
}

.rpgen-top-div .feedback-in-loading {
  margin-right: 0;
  white-space: nowrap;
}

.rpgen-top-div .feedback-in-loading > span:nth-child(1) {
  margin-right: 0;
}

.rpgen-top-div .feedback-in-loading > span:nth-child(2) span {
  margin-right: 2px;
}

.rpgen-top-div .one-key-confirm :is(.button-text) {
  color: #0596b3;
}

.rpgen-top-div .one-key-confirm :is(path) {
  fill: #0596b3;
}
