@prefix: company-directory-table-tab;

.@{prefix} {
  &-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 12px 12px 0 12px;
    overflow: hidden;
    // min-height: 0; // 允许 flex 子项在父容器收缩时快速收缩
  }
  &-top {
    flex: 0 0 auto;
    &-divider {
      height: 12px;
    }
  }
  &-tableWrap {
    flex: 1;
    overflow: hidden;
  }
}
