.china-search-form-container {
  .label {
    width: 70px;
    min-width: 70px;
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      flex: 1;
    }
  }
  .casader-choose {
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-cascader-menu {
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .ant-cascader-dropdown {
      // width: 100%;
    }
    // li {
    //   width: 131px;
    // }
  }
  .form-container {
    .form-item {
      margin-block-end: 8px;
    }
    .label {
      width: 70px;
      margin-block-start: 5px;
      position: relative;
      color: #575d67;
      word-break: break-word;
      .vip-icon {
        &.vip {
          background: url(../../../../../assets/imgs/vipjb.png) center no-repeat;
          background-size: 100%;
          width: 18px;
        }
        &.svip {
          background: url(../../../../../assets/imgs/svip.png) center no-repeat;
          background-size: 100%;
          width: 20px;
        }

        height: 12px;
        position: absolute;
        top: -8px;
        right: 0px;
        z-index: 2;
      }
    }
  }
}
