/* Layout rules for editor content */
.mce-content-body {
  width: 762px;
  margin: 0 auto;
}

.image-wrapper,
.table-wrapper,
.chart-wrapper {
  width: 756px;
  margin-left: 3px;
  margin-bottom: 20px;
}

.chart-wrapper {
  height: 430px;
}

.chart-wrapper-inline {
  display: inline-block;
  width: 370px;
}

.chart-wrapper-delete {
  display: none;
}

.thoughts-placeholder {
  margin-bottom: 41px;
}

.scroll-table-container,
.table-wrapper-diligence,
.chart-wrapper-region {
  overflow: auto;
}

.chart-wrapper-region {
  width: 756px;
  margin-left: 3px;
  margin-bottom: 20px;
}

.chart-wrapper-region p {
  margin-bottom: 0;
}

.chart-wrapper-region .pre-index {
  font-weight: 600;
  float: left;
}
.chart-wrapper-region .pre {
  font-size: 14px;
  line-height: 1;
  padding-bottom: 8px;
  font-weight: bold;
  margin-top: 8px;
  border-bottom: 1px solid #c3c5c9;
}

.chart-wrapper-region .desc {
  font-size: 12px;
  line-height: 18px;
  padding-top: 8px;
  color: #666;
  font-weight: normal;
  border-top: 1px solid #c3c5c9;
}
