.form-container {
  .label {
    width: 70px;
  }
}
.global-seach-cascader {
  .ant-cascader-menus {
    height: 100%;

    .ant-cascader-menu {
      flex: 1;
      height: 100%;
      max-height: 460px;
    }
  }
}
