.filter-res {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__table {
    overflow-x: auto;
  }

  &__bottom {
    margin-top: auto;
    align-self: flex-end;
  }

  &-footer {
    align-self: flex-end;
  }
}
