@import 'gel-ui/variables.less';
@import 'gel-ui/mixin/index.less';

.input-wrap {
  background: #ffffff;
  border: 1px solid #dbdcdf;
  border-radius: 12px;
  padding: 16px;
  margin: 16px 0 0;
  overflow: hidden;

  &:hover {
    box-shadow: 0 1px 5px 0 rgb(129 160 191 / 56%);
  }
  &:hover,
  &:has(.input-comp:focus) {
    .gradient-bottom-mixin();
    border-radius: 12px;
  }

  .input-comp {
    width: 100%;
    box-shadow: none !important;
    border: none !important;
    margin-bottom: 8px;

    font-size: 18px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .btn-wrap {
    display: flex;
    justify-content: space-between;
  }
}
