@prefix: e-table-search;

.@{prefix} {
  &-container {
    width: 500px;
    position: relative;
  }
  &-suffix {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }
}
