body {
  color: #3a3a3a;
  font-size: 14px;
  line-height: 18px;
  background: #f4f4f4;
  // font-family: "Microsoft YaHei", "PingFangSC-Regular", sans-serif;
  .w-select-item {
    padding: 6px 8px;
    height: auto;
  }
  .comIntro {
    right: 10px;
    position: absolute;
    border-radius: 2px;
    background: #50afc6;
    padding: 1px 5px;
    color: #fff;
    font-size: 14px;
  }
  .toolbar-for-invest {
    height: 40px;
    background: #fff;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    display: block;
    .toolbar-wrapper {
      width: 1280px;
      margin: 0 auto;
      .toolbar-search-invest {
        width: 392px;
        height: 26px;

        padding-left: 8px;
        float: left;
        background: #fff;
        text-align: left;
        position: relative;
        border-radius: 2px;
        margin-left: 110px;
        height: 30px;
        line-height: 30px;
        margin-top: 4px;
      }
      .title-all {
        display: inline-block;
        margin-left: 90px;
        margin-top: 4px;
      }

      .go2home {
        cursor: pointer;
        float: right;
        line-height: 36px;
        margin-right: 10px;
      }
    }
  }

  .company-card {
    margin: 12px auto 12px auto;
    // padding: 24px 12px 12px 0;
    min-height: 212px;
    background: #fff;
    position: relative;
    border-radius: 4px;
    width: 1065px;
    margin-top: 50px;
  }
  .contentb {
    margin: 0 auto 12px auto;
    width: 1065px;
    .reportMain {
      background: #fff;

      padding: 8px;
      overflow: hidden;
      border-radius: 0 0 4px 4px;
      width: auto;
      padding-left: 79px;

      .each-report {
        background: rgba(255, 255, 255, 0.5);
        position: relative;
        width: 420px;
        padding: 24px 20px;
        border: 1px solid rgba(0, 174, 199, 0.5);
        border-radius: 4px;
        float: left;
        overflow: hidden;
        margin-right: 50px;
        margin-bottom: 12px;
        height: initial;
        .report-pic {
          float: left;
          width: 62px;
          height: 90px;
          margin-right: 20px;
        }
        .pic_holder {
          float: left;
          width: 62px;
          height: 90px;
          position: relative;
          margin-right: 20px;
        }
        .pic_holder_text1 {
          text-align: right;
          color: #00aec7;
          display: inline-block;
          // background-color: #333;
          position: absolute;
          top: 16px;
          right: 0;
        }
        .pic_holder_text2 {
          font-size: 9px;
          text-align: right;
          color: #666666;
          display: inline-block;
          // background-color: #333;
          position: absolute;
          top: 40px;
          right: 0;
        }
        .tips-report {
          width: 200px;
          float: left;
          margin-top: 24px;

          .each-report-h3-new {
            position: relative;
            // &:after {
            //     content: '';
            //     display: inline-block;
            //     background: url('../assets/vip/svip.png');
            //     margin-left: 4px;
            //     height: 17px;
            //     width: 44px;
            // }
            &:after {
              content: '';
              display: inline-block;
              position: absolute;
              height: 14px;
              width: 30px;
              background: url(../assets/imgs/web_sprite.png) no-repeat;
              background-position: -181px -128px;
            }
          }
          h3 {
            padding-bottom: 6px;
            font-size: 16px;
            color: #333;
          }
          p {
            color: #999;
          }
        }
        .svip-label {
          position: absolute;
          display: inline-block;
          top: 32px;
          left: 230px;
          i {
            display: inline-block;
            height: 0;
            width: 0;
            /* border-width: 5px; */
            border-left-width: 0;
            border-bottom-width: 3px;
            border-top-width: 3px;
            border-right-width: 4px;
            border-bottom-color: transparent;
            border-right-color: #f1d388;
            border-left-color: transparent;
            border-top-color: transparent;
            border-style: solid;
            position: relative;
            left: 0px;
            top: -2px px;
          }
          .batch-output-svip {
            background-image: linear-gradient(90deg, #f1d388 0%, #d9a85e 100%);
            font-size: 11px;
            color: #9e701c;
            height: 17px;
            line-height: 17px;
            border-radius: 3px;
            padding-right: 5.3px;
            font-weight: 600;
            b {
              font-style: italic;
              padding: 0 5px;
              display: inline;
            }
          }
        }
        .download-area {
          position: absolute;
          top: 50px;
          right: 20px;
          float: right;
        }
      }
      .shareDepthReport .tips-report {
        margin-top: 0;
      }
      .ddreport .tips-report {
        margin-top: 10px;
        position: relative;
      }
    }

    .report-t {
      .reportMain {
        .each-report {
          padding: 8px 12px;
          height: 138px;
          width: 420px;
          .report-pic {
            width: 130px;
            margin-right: 0px;
            margin-top: 25px;
            height: 73px;
          }
          .tips-report {
            width: 150px;
            float: right;
            margin-right: 100px;
            margin-top: 24px;
            p {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            }
          }
          .download-area {
            right: 20px;
          }
        }
      }
    }
  }
}

.BankingWorkbench {
  .workbench-detail-container {
    height: calc(100vh - 38px);
    overflow: hidden;    
  }

  .companyBody {
    height: 100%;
  }
  .companyDetailScrollContainer {
    height: 100%;
    overflow-y: auto;
  }
}

.window-locale-en-US {
  .BankingWorkbench {
    .report-t {
      .tips-report {
        width: 140px;
        margin-right: 114px;
        margin-top: 4px;
        p {
          -webkit-line-clamp: 4;
        }
      }
      .download-area {
        right: 8px;
        padding: 0 4px;
      }
    }
    .tips-report {
      margin-top: 0;
    }
    .svip-label {
      top: 24px !important;
      left: 278px !important;
    }
    .each-report-h3-new:after {
      background: none !important;
    }
    .pic_holder_text1,
    .pic_holder_text2 {
      width: min-content;
      transform: translate(8px, 0px) scale(0.7);
      font-size: smaller;
    }

    .pic_holder_text2 {
      top: 28px;
    }
  }
}
