.scrollBottomButton {
  position: absolute !important;
  right: 50%;
  bottom: 140px;
  width: 40px !important;
  height: 40px !important;
  border: none !important;
  transition: opacity 0.2s !important;
  z-index: 10;
  box-shadow:
    0 0 4px 0 rgba(0, 0, 0, 0.02),
    0 6px 10px 0 rgba(47, 53, 64, 0.1) !important;
  &:hover {
    opacity: 1;
  }
}
