.selectWithIcon {
  :global(.w-select-selection-item::after) {
    content: none !important;
  }
}

// wind select 不支持选项内容自定义展示，只能出此下策
:global(.w-select-item) {
  height: auto !important;
  .w-select-item-option-content {
    span {
      display: block !important;
    }
  }
}

.optionContent {
  display: flex;
  align-items: center;
  cursor: pointer;

  .label,
  .desc {
    flex: 1;
    margin-left: 4px;
  }
}
