@prefix: indicator-tree-panel;
.@{prefix} {
  &-container {
    display: flex;
    flex-direction: column;
    // height: 100%;
    width: 100%;
    height: 80vh;
    max-height: 1000px;
    min-height: 520px;
    min-width: 900px;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 4px 12px;
    border-block-end: 1px solid var(--basic-14);
    &-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-right-text {
      color: var(--basic-14);
      font-size: 12px;
      line-height: 16px;
    }
  }
  &-body {
    flex: 1;
    overflow-y: auto;
    // padding: 12px;
  }
}

.modal {
  :global {
    .w-modal-content {
      height: 100%;
      width: 100%;
    }
    .w-modal-body {
      height: 100%;
      width: 100%;
    }
  }
}
