@import 'gel-ui/variables.less';
.user {
  &-container {
    display: flex;
    align-items: center;
    margin-inline-end: 8px;
    &-item {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      color: @orange-6;
      margin-inline-end: @component-space;
      span {
        margin-inline-start: 4px;
      }
      justify-content: flex-end;
    }
    img {
      cursor: pointer;
    }
  }
}
