@import '../../../app.less';

.wind-ui-table-tbody > tr.w-table-row-expand {
  background: #fff;

  .w-table-row-cell {
    padding: 20px;
    box-sizing: border-box;
    border: 1px dashed #ededed;
  }
}

// 级联样式
.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  background: #f2f2f2 !important;

  .ant-cascader-menu-item-expand-icon {
    color: @g-primary-color !important;
  }
}

.ant-select-selection-placeholder {
  color: #333;
  font-weight: normal;
}

.ant-select-multiple .ant-select-selector {
  padding: 0;
}

.ant-cascader {
  width: auto;
  min-width: 184px;
}

.ant-cascader-menu-item {
  max-width: 300px;

  .ant-cascader-menu-item-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.header-utils {
  display: inline-flex;
  position: absolute;
  right: 0;
  top: 8px;

  .w-checkbox {
    top: 0;
  }
  .header-utils-tip-tit {
    line-height: 28px;
    font-size: 14px;
    font-weight: normal;
  }
}
.new-flag {
  background: url(../../../assets/common/NEW-copy.svg) no-repeat center;
  background-size: 100%;
  width: 24px;
  height: 24px;
  display: inline-block;
  // margin-left: 8px;
  font-size: 16px;
  color: #999;
  margin-left: 4px;
  font-weight: 400;
}

.companyTable {
  margin-bottom: 32px;
  position: relative;
  overflow: hidden;

  .tags {
    height: 24px;
    overflow: hidden;
    margin-bottom: 16px;

    .ant-tag {
      background: #f2f2f2;
      border: none;
      border-radius: 2px;
      font-size: 14px;
      color: #333333;
      height: 24px;
      line-height: 24px;
      padding: 0 12px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .corpTableTitle {
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;

    span {
      margin-left: 8px;
      color: #666666;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .vipCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 99;
    overflow: hidden;

    p {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  .vipControl {
    table {
      tr:nth-child(n + 4) {
        filter: blur(3px);
      }
    }
  }

  table {
    color: #333;
    border-bottom: 1px solid #e3e3e3 !important;
  }

  .ant-table {
    .ant-table-thead > tr > th {
      cursor: default !important;
    }

    .ant-table-tbody > tr {
      &:nth-child(even) {
        td {
          background: #f8f8f8;
        }
      }
    }
  }

  // 翻页按钮

  .ant-pagination-total-text {
    font-size: 14px;
    color: #666666;
  }

  .ant-pagination-item {
    border: 1px solid #e3e3e3;

    a {
      color: #666;
    }

    &:hover {
      border-color: #3355ff;
    }
  }

  .ant-pagination-item-active {
    background: #3355ff;

    a {
      color: #fff;
    }

    &:hover {
      border-color: #e3e3e3;

      a {
        color: #fff;
      }
    }
  }

  .ant-pagination-options {
    margin-left: 8px;

    .ant-pagination-options-quick-jumper {
      margin-left: 0;
      color: #666666;
      font-size: 14px;
      margin-right: 8px;

      input {
        text-align: center;
      }
    }
  }

  .ant-pagination {
    margin: 20px 0 0 0;
  }

  .ant-pagination-next,
  .ant-pagination-prev {
    border: 1px solid #e3e3e3;
    border-radius: 2px;

    &:hover {
      border: 1px solid #3355ff;
    }

    span {
      margin-top: 7px;
    }
  }

  .ant-pagination-disabled {
    &:hover {
      border: 1px solid #e3e3e3 !important;
    }
  }
}

.corp-bid-tip {
  margin-top: 12px;
  margin-bottom: 4px;
}

.corp-bid-item {
  margin-right: 12px;
  display: inline-flex;
  align-items: center;
  height: 24px;
  border-radius: 2px;
  color: #999;
  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
}

.corp-bid-title {
  display: block;
}

.corp-bid-div {
  font-size: 14px;
  line-height: 32px;
  font-weight: normal;
  //   padding-top: 8px;
}

.financial-select {
  float: right;
  font-weight: normal;
  font-size: 14px;
}

.table-custom-module-loading {
  .w-spin-nested-loading {
    height: 200px;
  }
}

.wind-ui-table-row-cell {
  word-break: break-all !important;

  .bow-path {
    display: inline-block;
    background: url(../../../assets/imgs/arrow.png) no-repeat right center;
    width: 58px;
    height: 19px;
    line-height: 6px;
    text-align: center;
    vertical-align: middle;
    margin: 0 10px;
  }

  .bow-path-text {
    margin-top: -3px;
    font-size: 12px;
    color: #333;
    display: block;
  }

  .td-span-ctrl {
    font-weight: bolder;
    line-height: 30px;
  }

  .td-span-route-left {
    line-height: 30px;
  }

  .td-span-route-right {
    line-height: 30px;
    position: relative;
    word-break: keep-all;
  }

  .td-span-route-right i {
    display: none;
  }

  .td-span-route-right b {
    color: #333;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-bottom;
    min-width: 50px;
  }

  .td-span-route-right b:after {
    content: '';
    background: url(../../../assets/imgs/arrow.png) no-repeat right center;
    width: 70px;
    height: 10px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    transform: scale(0.7);
    left: 1px;
  }

  .path-shareholdertrace {
    line-height: 32px;
    padding-bottom: 5px;
  }

  .expand-icon-getimpexp,
  .expand-icon-showMerge,
  .expand-icon-getstockplexesdetail {
    width: 45px;
    position: relative;
    display: inline-block;

    &:before {
      content: '\8be6\60c5';
      display: inline-block;
    }

    // i {
    //     &:before {
    //         content: '';
    //         border-top: 6px solid #0093AD;
    //         border-left: 6px solid transparent;
    //         border-right: 6px solid transparent;
    //         position: absolute;
    //         right: 1px;
    //         bottom: 7px;
    //     }
    //     &:after {
    //         position: absolute;
    //         display: block;
    //         content: "";
    //         bottom: 8px;
    //         border-top: 5px solid #fff;
    //         border-left: 5px solid transparent;
    //         border-right: 5px solid transparent;
    //         right: 2px;
    //     }
    // }
  }

  .expand-icon-4txt {
    width: 72px;
    position: relative;
    display: inline-block;

    &:before {
      content: '\5e74\62a5\516c\793a';
      display: inline-block;
    }
  }

  .expand-icon-listInformation {
    width: 90px;
    position: relative;
    display: inline-block;

    &:before {
      content: '\8be6\60c5';
      display: inline-block;
    }
  }
}

.wind-ui-table-row-expanded .expand-icon-getimpexp,
.wind-ui-table-row-expanded .expand-icon-showMerge,
.wind-ui-table-row-expanded .expand-icon-getstockplexesdetail {
  &:before {
    content: '\6536\8d77';
  }

  // i {
  //     &:before {
  //         content: '';
  //         border-bottom: 6px solid #0093AD;
  //         border-left: 6px solid transparent;
  //         border-right: 6px solid transparent;
  //         border-top: none;
  //         position: absolute;
  //         right: 1px;
  //         bottom: 8px;
  //     }
  //     &:after {
  //         position: absolute;
  //         display: block;
  //         content: "";
  //         bottom: 8px;
  //         border-bottom: 5px solid #fff;
  //         border-left: 5px solid transparent;
  //         border-right: 5px solid transparent;
  //         border-top: none;
  //         right: 2px;
  //     }
  // }
}

.wind-ui-table-row-expanded .expand-icon-listInformation {
  &:before {
    content: '\6536\8d77';
  }
}

.window-locale-en-US {
  .expand-icon-getimpexp,
  .expand-icon-showMerge,
  .expand-icon-getstockplexesdetail,
  .expand-icon-4txt,
  .expand-icon-listInformation {
    &:before {
      content: 'Detail';
    }
  }
}

.window-locale-en-US {
  .wind-ui-table-row-expanded .expand-icon-getimpexp,
  .wind-ui-table-row-expanded .expand-icon-showMerge,
  .wind-ui-table-row-expanded .expand-icon-listInformation,
  .wind-ui-table-row-expanded .expand-icon-getstockplexesdetail {
    &:before {
      content: 'Fold';
    }
  }
}

.iconNode a {
  margin-right: 10px;
}

.module-finacialindicator {
  margin: 32px auto;
}

.w-table-expand-inner {
  .wind-ui-table-item-title {
    text-align: left !important;
    color: #000 !important;
  }
}

#biddingInfo-0 {
  margin-bottom: 24px !important;
}

.w-tooltip-inner {
  min-width: 120px;
  max-width: 500px;
  width: auto;
}

.table-tr-detail-hide {
  .wind-ui-table-expand-icon {
    display: none !important;
  }
}

[multitabid='showPledgedstock'] {
  .w-tabs-tabpane {
    padding-bottom: 0;
  }
}

// 招标公告本公司复选框单独处理
[multitabid='tiddingInfo']:has(.w-tabs-tabpane-active) {
  .w-tabs-top-bar {
    max-width: 456px;
  }

  .w-checkbox + span {
    padding-left: 4px;
  }

  .noMaxWidth {
    max-width: none;
  }
}

.corp-body-card-ipobussiness {
  > div:last-child {
    margin-bottom: -12px;
  }
}

.corp-body-card-bottom {
  color: #999;
  font-size: 14px;
}

.window-locale-en-US {
  // 招标公告本公司复选框单独处理
  [multitabid='tiddingInfo']:has(.w-tabs-tabpane-active) {
    .w-tabs-top-bar {
      max-width: 412px;
    }

    .noMaxWidth {
      max-width: none;
    }
  }
}
