.benifciary {
  text-align: center;
  color: #00aec7;
  background: rgba(0, 174, 199, 0.2);
  border-radius: 4px;
  max-width: 230px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  font-size: 12px;
  padding: 2px 6px;
  margin: 4px;
}

#actCtrl {
  color: #f68717;
  background: rgba(246, 135, 23, 0.16);
}

.share-route {
  // display: inline-block;
  background: url('../../../assets/imgs/newlian1.png') no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: 5px;
  background-size: 18px;
  margin-top: 2px;
  padding-right: 8px;
}
