.companyIntroduction {
  .underline {
    color: #333333 !important;
    border-bottom: 1px solid #c5c5c5;
  }

  //   .ant-card-body {

  .corpCollectState {
    &:hover {
      svg {
        opacity: 0.85;
      }
    }

    svg {
      color: #00aec6;
    }
  }

  .state-normal {
    color: #63a074 !important;
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    border-radius: 2px;
    white-space: nowrap;
    display: inline-block;
    margin-right: 5px;
    background: rgba(99, 160, 116, 0.14);
  }

  .state-error {
    color: #e75a5e !important;
    background-color: rgba(231, 90, 94, 0.14) !important;
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    border-radius: 2px;
    white-space: nowrap;
    display: inline-block;
    margin-right: 5px;
  }

  .w-card-body {
    padding: 24px 12px 16px 12px;
    display: flex;
    flex: 1 1;

    .corpIcon {
      width: 90px;
      height: 90px;
      margin-right: 12px;
      border: 1px solid #e9e9e9;
      border-radius: 2px;

      .logo {
        width: 88px;
        max-height: 88px;
        align-self: center;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: relative;
      }

      span {
        color: #fff;
        width: 76px;
        height: 76px;
        padding: 6px;
        display: inline-block;
        line-height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 36px;
        box-sizing: content-box;
      }
    }

    .shortname {
      font-size: 36px;
      width: 88px;
      height: 88px;
      background: #e1bee7;
      border-radius: 2px;
      float: left;
      padding: 5px;
      line-height: 36px;
      text-align: center;
      color: #fff;
    }

    .corpInfoMsg {
      flex: 1;
      margin-bottom: -4px;

      & > div {
        margin-bottom: 8px;
      }

      .corpInfoTitle {
        display: flex;
        min-height: 22px;

        .corpTitle {
          font-size: 22px;
          color: #000;
          margin-right: 15px;

          line-height: 24px;
          cursor: pointer;
          font-weight: bold;

          &:active {
            background: rgba(51, 51, 51, 0.3);
          }
        }

        .originName {
          display: inline-block;
          height: 24px;
          padding: 0 6px;
          background: #e3e3e3;
          border-radius: 2px;
          color: #666 !important;
          line-height: 24px;
          cursor: pointer;

          .myIcon {
            display: none;
          }
        }

        .collectionCorp {
          display: flex;
          justify-content: center;
          align-items: center;
          // width: 104px;
          padding: 0 12px;
          height: 28px;
          background: #ffffff;
          border: 1px solid #3355ff;
          border-radius: 2px;
          position: absolute;
          right: 20px;
          text-align: center;

          font-size: 14px;
          color: #3355ff;

          margin-top: 3px;

          cursor: pointer;
        }

        .ant-dropdown-open {
          .arrowDown {
            display: none;
          }

          .arrowUp {
            display: inline-block;
          }
        }

        .arrowDown {
          margin-left: 4px;
          display: inline-block;
          vertical-align: middle;
        }

        .arrowUp {
          margin-left: 4px;
          display: none;
          vertical-align: middle;
          transform: translateY(-2px);
        }
      }

      .tel-no-official {
        color: #666;
      }

      .itemTitle {
        .wicon-syn-o {
          &:hover {
            color: #00aec7;
          }

          &:active {
            color: #05809e;
          }
        }
      }

      .corpTags {
        max-height: 22px;
        overflow: hidden;

        span {
          background: #feefee;
          border-radius: 2px;
          font-size: 12px;
          color: #ff453a;
          letter-spacing: 0;
          height: 20px;
          display: inline-block;
          line-height: 20px;
          padding: 0 8px;
          margin-right: 8px;
        }

        .telCount {
        }

        .statueNomal {
          color: #26a69a;
          background: #e0f2f1;
        }

        .statueAbnomal {
          background: #feefee;
          color: #ff453a;
        }

        .eachTags {
          color: #ffa726;
          background: #fff3e0;
        }

        margin-bottom: 12px;
      }

      .corpArea {
        font-size: 14px;
      }

      .corpAbstract {
        font-size: 14px;
        color: #333333;
        text-align: justify;
        line-height: 22px;

        overflow: hidden;
        max-height: 44px;

        position: relative;

        .showMore {
          position: absolute;
          right: 0;
          top: 22px;
          background: #fff;
          background: linear-gradient(90deg, #fff, #fff);
          // width: 50px;
          text-align: right;
          cursor: pointer;
          color: #0596b3;

          &:hover {
            color: #00aec7;
          }

          &:active {
            color: #05809e;
          }
        }

        .showLittle {
          cursor: pointer;
          color: #0596b3;

          &:hover {
            color: #00aec7;
          }

          &:active {
            color: #05809e;
          }
        }

        .corpAbstractText {
          word-break: break-all;
        }
      }
    }
  }
}

.companyIntroduction, // TODO to del
.companyIntroductionTagModal {
  .companyIntroductionTagModal-title {
    margin-bottom: 5px;

    #tagsProduct {
      margin-bottom: 4px;
    }
  }

  .item-tag-list {
    height: 24px;
    line-height: 24px;
    color: #f68717;
    background: rgba(246, 135, 23, 0.16);
    border-radius: 2px;
    display: inline-block;
    margin-right: 6px;
    padding: 0 6px;
    margin-bottom: 6px;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .risk-tag-nojump {
    height: 24px;
    line-height: 24px;
    color: #f68717;
    background: rgba(246, 135, 23, 0.16);
    border-radius: 2px;
    display: inline-block;
    margin-right: 6px;
    padding: 0 6px;
    margin-bottom: 6px;
    color: #e75a5e !important;
    background-color: rgba(231, 90, 94, 0.14) !important;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .each-tags-company,
  .blank-company {
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
    border-radius: 2px;
    margin-right: 6px;
    display: inline-block;
    max-width: 230px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 6px;
    background: rgba(34, 119, 162, 0.16);
    color: #2277a2;
    cursor: pointer;
  }

  .more-tags-company {
    color: #0596b3;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;

    &:hover {
      color: #00aec7;
    }

    &:active {
      color: #05809e;
    }
  }
}

.header-news-dynamic {
  .risk-card {
    .w-card-head-title {
      font-weight: bold;
    }

    .w-card-body {
      padding: 12px 0;
      height: 129px;
    }
  }

  .innovation-card {
    .w-card-body {
      overflow: hidden;
    }
  }

  .w-tabs-content {
    height: 129px;
  }

  .w-tabs-bar {
    border-bottom-color: #c5c5c5;
  }
}

.corpintro-risk-col-small {
  .w-card-body {
    overflow: hidden;
  }
}

.originNameList {
  .w-dropdown-menu-item:hover,
  .w-dropdown-menu-submenu-title:hover {
    background: none;
  }

  .w-dropdown-menu-item {
    white-space: normal;
  }

  .used-name-title {
    color: #333;
    font-size: 12px;
    padding-top: 4px;
  }

  .used-name-time {
    color: #999;
    font-size: 12px;
  }

  li {
    width: 230px;
    padding: 0px 8px;
    cursor: default;

    div {
      line-height: 18px;
      min-height: 22px;
    }

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
    }
  }
}
.center-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.risk-score-module {
  display: flex;
  justify-content: center;
  height: 100px;
  cursor: pointer;

  .score-text {
    margin-left: 40px;

    .title {
      font-size: 14px;
      color: #999;
      line-height: 22px;
      margin-bottom: 4px;
    }

    .part {
      font-size: 14px;
      color: #333;
      line-height: 22px;
      margin-bottom: 4px;

      span {
        font-style: normal;
        color: #dc3023;
        font-weight: 700;
        margin-left: 10px;
      }
    }
  }
}

.morecontact {
  margin-left: 14px;
  color: #0596b3;
  cursor: pointer;

  &:hover {
    color: #00aec7;
  }

  &:active {
    color: #05809e;
  }
}

.company-operation {
  float: right;
  position: absolute;
  right: 4px;

  .w-btn {
    margin-right: 8px;

    & {
      .wicon-svg span {
        margin-right: 4px;
      }

      span .wicon-svg {
        margin-right: 4px;
      }
    }
  }

  div {
    display: inline-block;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    min-width: 55px;
    padding: 0 6px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    font-weight: normal;
    height: 22px;
    color: #333;
    background: #fff;
    user-select: none;
    margin-left: 10px;
  }
}

.company-to-relation i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 0px;
  margin-top: -3px;
  background: url(../../../assets/imgs/icon-svgs.svg) no-repeat;
  background-position: -58px 0px;
}

.btn-download-report i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 2px;
  margin-top: -3px;
  background: url(../../../assets/imgs/icon-svgs.svg) no-repeat;
  background-position: -41px 0px;
}

.btn-default-normal:hover {
  border: 1px solid #3dc1d4;
  background: #fff;
  color: #3dc1d4;
}

.company-to-relation:hover i,
.btn-download-report:hover i {
  filter: invert(50%) sepia(23%) saturate(5935%) hue-rotate(154deg) brightness(98%) contrast(102%);
}

.dynamic-body {
  margin-top: 4px;
  font-size: 14px;

  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 12px;
  }

  > :last-child {
    margin-bottom: 0;
  }

  .dongtai {
    display: flex;
  }

  .w-spin {
    width: 100%;
    line-height: 110px;
    text-align: center;
  }

  .news-tips {
    display: flex;

    > * {
      margin-right: 12px;
    }

    > :last-child {
      margin-right: 0;
    }

    height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;

    .date {
      line-height: 24px;
      text-align: left;
      color: #999;
      display: inline-block;
      vertical-align: middle;
    }

    .r-dynamic-event {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .w-link {
      line-height: 22px;
      vertical-align: middle;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        padding-bottom: 1px;
      }
    }

    &:last-child {
      margin-bottom: 2px;
    }
  }
}

.each-report {
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 410px;
  padding: 24px 20px;
  height: 140px;
  border: 1px solid rgba(0, 174, 199, 0.5);
  border-radius: 4px;
  float: left;
  overflow: hidden;
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
}

.each-report-pic {
  width: 62px;
  height: 90px;
  padding-top: 30px;
  float: left;
  text-align: center;
  margin-right: 20px;
}

#creditReport .each-report-pic,
#stockReport .each-report-pic,
#personReport .each-report-pic,
#ddreport .each-report-pic {
  background: url(../../../assets/imgs/pdf.png) no-repeat;
  background-size: 62px 90px;
}

.tips-report {
  width: 182px;
  float: left;
  margin-top: 24px;
}

.tips-report h3 {
  padding-bottom: 6px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.tips-report p {
  color: #999;
}

#shareDepthReport .each-report-pic {
  background: url(../../../assets/imgs/excel.png) no-repeat;
  background-size: 62px 90px;
}

#userPortraitReport .each-report-pic {
  background: url(../../../assets/imgs/word.png) no-repeat;
  background-size: 62px 90px;
}

.report-download-area {
  float: right;
  margin-left: 10px;
  margin-top: 30px;

  a:hover {
    text-decoration: none;
    color: white;
  }
}

.report-download-btn:hover {
  background: #3dc1d4;
}

.report-download-btn {
  display: block;
  width: 82px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  background: #00aec7;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 10px;
}

.svip-label {
  position: absolute;
  display: inline-block;
  top: 22px;
  left: 230px;
}

.svip-label i {
  display: inline-block;
  height: 0;
  width: 0;
  /* border-width: 5px; */
  border-left-width: 0;
  border-bottom-width: 3px;
  border-top-width: 3px;
  border-right-width: 4px;
  border-bottom-color: transparent;
  border-right-color: #f1d388;
  border-left-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  position: relative;
  left: 0px;
  top: -2px;
}

.batch-output-svip {
  background-image: linear-gradient(90deg, #f1d388 0%, #d9a85e 100%);
  font-size: 11px;
  color: #9e701c;
  height: 17px;
  line-height: 17px;
  border-radius: 3px;
  padding-right: 5.3px;
  font-weight: 600;
}

.batch-output-svip b {
  font-style: italic;
  padding: 0 5px;
  display: inline;
}

.each-report b {
  text-align: center;
}

#shareDepthReport .tips-report {
  width: 160px;
  margin-top: 0;
}

#personReport .report-download-area,
#shareDepthReport .report-download-area {
  margin-top: 12px;
  position: relative;
}

.span-manager-sharedepth {
  position: absolute;
  margin-left: 3px;
  margin-top: 3px;
}

.report-download-ex {
  color: #00aec7;
  padding-left: 13px;
}

.report-download-area .w-select {
  margin-left: 37px;
  margin-bottom: 5px;
}

.each-report-h3-new:after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 14px;
  width: 30px;
  background: url(../../../assets/imgs/web_sprite.png) no-repeat;
  background-position: -181px -128px;
}

#ddreport .tips-report {
  margin-top: 0;
}

.share-weixin {
  width: 20px;
  height: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  display: inline-block;
  background: url(../../../assets/imgs/web_sprite.png) no-repeat;
  background-position: -157px -293px;
  cursor: pointer;

  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;

  &--container {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

#wxShare {
  width: 178px;
  height: 206px;
  top: 36px;
  right: 4px;
  position: absolute;
  z-index: 10;
  background: #fff;
  display: none;
  box-shadow:
    0 -2px 5px 0 rgba(0, 0, 0, 0.2),
    0 4px 10px 0 rgba(0, 0, 0, 0.4);
}

.popover.bottom > .arrow {
  top: -11px;
  right: 8px;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  box-sizing: border-box;
}

.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: ' ';
  border-top-width: 0;
  border-bottom-color: #fff;
}

.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  box-sizing: border-box;
}

.popover > .arrow:after {
  content: '';
  border-width: 10px;
}

.popover-title {
  text-align: center;
  padding: 15px 0 0 0;
  color: #333;
  margin: 0;
  font-size: 14px;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  height: 187px;
  position: relative;
}

.qrCode {
  text-align: center;
}

.qrCode {
  text-align: center;
}

.btn-add:before {
  content: '';
  background: url(../../../assets/imgs/icon-svgs.svg) no-repeat;
  background-position: -74px 1px;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 1px;
}

.btn-add:hover:before {
  filter: invert(50%) sepia(23%) saturate(5935%) hue-rotate(154deg) brightness(98%) contrast(102%);
}

.btn-already {
  color: #333 !important;
  background: #fff;
  border: 1px solid #00aec7;
  padding: 0 3px !important;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  display: inline-block;
  border-radius: 2px;
  margin-left: 5px;
}

.btn-already:before {
  background: url(../../../assets/imgs/icon-already.svg) no-repeat;
  background-position: 100% 100%;
  height: 16px;
  width: 16px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}

.moreContact {
  .w-modal-body {
    overflow: scroll;
    max-height: 560px;
  }

  // overflow: scroll;
}

.gutter-row-tab {
  .w-tabs-tab {
    margin: 2px 12px !important;
  }
}

.risk-card {
  .w-card-head {
    padding: 7px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .w-card-head-title {
    font-size: 14px;
    font-weight: normal;
    // margin-left: 10px;
  }
}

.risk-link {
  color: #0596b3;
  // margin-right: 12px;
  &:hover {
    color: #00aec7;
  }

  &:active {
    color: #05809e;
  }
}

.w-tabs-nav-container {
  height: 42px !important;
}

.risk-tabs-css {
  .w-tabs-tab {
    font-size: 14px;
  }

  .w-tabs-bar {
    border-bottom: 1px solid var(--border-color-base);
  }

  .w-tabs-extra-content {
    margin-right: 12px;
  }
}

.w-modal-footer {
  padding-top: 0;

  .report-footer {
    text-align: left;
    font-size: 12px;
    color: #666;
  }
}

.window-locale-en-US {
  .corpTitle {
    max-width: 370px !important;
  }
}

.ec-for-risk {
  background: url(../../../assets/imgs/ec1.png) no-repeat;
  width: 118px;
  height: 102px;
  position: relative;
}

.ec-for-risk1 {
  background: url(../../../assets/imgs/ec2.png) no-repeat;
  width: 16px;
  display: block;
  height: 40px;
  position: absolute;
  margin-left: 50px;
  margin-top: 35px;
}

.ec-for-risk2 {
  color: #f2c447;
  position: absolute;
  margin-top: 70px;
  font-weight: 900;
  opacity: 0.9;
  font-size: 12px;
  width: 117px;
  text-align: center;
}

//  ----  shfic 项目 详情页样式单独微调
.companySHFIC {
  .more-tags-company {
    vertical-align: super;
  }

  .wind-ui-table-wrapper {
    background-color: #ddd;
  }

  .wind-ui-table-tbody tr td,
  .wind-ui-table-thead tr th {
    font-size: 22px;
    line-height: 1.5em;
    background: #ddd !important;
  }

  .w-pagination {
    font-size: 22px;
  }

  .w-tree-default .w-tree-treenode .w-tree-node-content-wrapper {
    font-size: 22px;
  }

  .w-card-body {
    font-size: 22px;
    background: #ddd;
  }

  .module-title-overview {
    font-size: 22px;
    padding-top: 8px;
    background: #ddd;
  }

  .w-card-head-title {
    font-size: 22px;
  }

  .wind-ui-table-title {
    background-color: #ddd;
    font-size: 18px;
  }

  .w-tree .w-tree-node-content-wrapper {
    font-size: 16px;
  }
}

.wind-gel-shifc {
  .home,
  .companyBody {
    background: #ddd;
  }

  .originName,
  .showMore {
    background: transparent !important;
  }

  .w-card {
    background: #ddd;
  }

  .corp-body-card,
  .showCompanyInfo,
  .w-pagination-item,
  .w-pagination-options-quick-jumper input,
  .w-pagination-prev,
  .w-pagination-next {
    background: #ddd !important;
  }

  .corpAbstract {
    font-size: inherit;
    line-height: 1.5em;
    max-height: 3em;

    .showMore {
      top: 1.5em;
    }
  }
}

.wind-gel-shifc-medium {
  #root {
    min-width: auto;
  }
}
