.w-table-container {
  --even-row-background: rgba(0, 0, 0, 0.03);
  --odd-row-background: rgba(255, 255, 255, 255);
  .ant-pagination.ant-table-pagination {
    margin-block-end: 0;
  }
  .ant-table-expanded-row.ant-table-expanded-row-level-1 {
    > .ant-table-cell > div {
      border-top: 1px solid #ededed;
    }
    .ant-table-cell {
      padding-inline-start: 80px !important;
    }
  }
  .even-row {
    background: var(--even-row-background);
  }
  .odd-row {
    background: var(--odd-row-background);
  }
}
