@import './variables.less';

#boxShadow {
  box-shadow: @box-shadow;
  border-radius: @border-radius-base;
  margin-bottom: @global-space;
}

.box-shadow {
  box-shadow: @box-shadow;
  border-radius: @border-radius-base;
  margin-bottom: @global-space;
}

.header-container {
  display: flex;
  --rect: 80px;

  .img {
    width: var(--rect);
    height: var(--rect);
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .title-container {
    flex: auto;
  }
}

.f-c {
  display: flex;
  align-items: center;
}

.tooltip-content {
  margin: 4px 0;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  color: #000;
}
