@import 'gel-ui/variables.less';
@prefix: page-breadcrumb;

.@{prefix}-container {
  width: 100%;
  width: @default-min-width;
  margin: 0 auto;
  //   padding: 0 @page-space-sm;
  display: flex;
  align-items: center;
  height: 44px;
}
