// 渐变底部 mixin
// 用于在元素底部添加渐变装饰条
.gradient-bottom-mixin(@height: 4px, @colors: #3862ed #274cda #00aec7 #17d9cb #b388e8, @positions: 0% 11% 47% 62% 94%) {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  &::after {
    content: '';
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    max-height: 5px;

    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#3862ed),
      color-stop(11%, #274cda),
      color-stop(47%, #00aec7),
      color-stop(62%, #17d9cb),
      color-stop(94%, #b388e8)
    );
    background-image: -webkit-linear-gradient(left, #3862ed, #274cda 11%, #00aec7 47%, #17d9cb 62%, #b388e8 94%);
    background-image: -o-linear-gradient(left, #3862ed 0, #274cda 11%, #00aec7 47%, #17d9cb 62%, #b388e8 94%);
    background-image: linear-gradient(90deg, #3862ed, #274cda 11%, #00aec7 47%, #17d9cb 62%, #b388e8 94%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
