.editable-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-right: 24px;
  width: 100%;
  transition: all 0.3s ease;
  min-height: 28px;

  &:not(&:hover) {
    :global(.editable-cell-actions) {
      display: none;
    }
  }
  &--editor {
    min-width: 425px;
    background-color: transparent;
    height: 27px;

    // 编辑状态下的子元素动画
    .editable-cell-text,
    .editable-cell-actions {
      opacity: 0;
      pointer-events: none;
    }

    .editable-cell-btn {
      opacity: 1;
      transform: translateX(0);
    }
  }

  // 编辑模式按钮样式
  &-btn {
    height: 27px;
    line-height: 27px;
    padding: 0 6px;
    margin-left: 8px;
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.3s ease;
  }
}

.editable-add-btn {
  margin-bottom: 8px;
}
.editable-cell-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
