.filter-item {
  display: flex;
  margin-bottom: 20px;

  .ant-select {
    color: #000;
  }

  .ant-select-single {
    margin-right: 10px;
  }

  .ant-form-item-control-input-content {
    display: flex;
  }

  .ant-select-multiple {
    margin-right: 20px;
    flex: 1;

    .ant-select-selector {
      max-height: 62px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0;

      .ant-select-selection-overflow {
        padding-left: 4px;

        input {
          height: 22px;
          width: auto;
        }
        .ant-select-selection-search-mirror {
          display: none;
        }
      }

      .ant-select-selection-overflow-item-suffix {
        margin-left: -6px;
      }

      .ant-select-selection-overflow-item {
        margin: 4px 12px 4px 0;
        max-width: calc(100% - 10px);

        .ant-select-selection-item {
          background: #f8f8f8;
          border: 1px solid #e3e3e3;
          border-radius: 2px;
          margin: 0;
          font-size: 12px;
          height: 22px;
          line-height: 22px;

          .ant-select-selection-item-remove {
            margin: 6px 0 6px 4px;
            width: 8px;
            height: 8px;
            background: url('../../assets/icons/remove_999.svg') center no-repeat;
            background-size: 8px;

            > span {
              display: none;
            }
          }
        }

        .ant-select-selection-item:hover {
          background: #e3f2fd;
          border: 1px solid #e3e3e3;
          border-radius: 2px;

          .ant-select-selection-item-remove {
            background-image: url('../../assets/icons/remove_35f.svg');
          }
        }
      }

      .ant-select-selection-placeholder {
        color: #c5c5c5;
      }
    }
  }

  .ant-form-item {
    margin-bottom: 0;
  }

  .prefixLogic {
    height: 32px;

    .ant-select-selection-search {
      border-right: 1px solid #d9d9d9;
      margin: 2px 0;
    }

    .ant-select-arrow {
      right: 8px;
    }
  }

  .item {
    width: 100%;
    flex: 1;
  }

  .ant-input-number {
    margin: 0 5px;
    width: 65px;

    .ant-input-number-handler-wrap {
      display: none;
    }

    input {
      padding: 0 8px;
    }
  }

  .ant-picker-range {
    width: 240px;
  }
}

.ant-tabs {
  .filter-item {
    .ant-select-multiple {
      margin-right: 8px;

      &.ant-cascader {
        margin-right: 20px;
      }
    }
  }
}
