@import '../../app.less';

.option-viewport {
  line-height: 32px;
  margin-top: 6px;
  position: relative;
  overflow: hidden;
  .title {
    color: #666666;
    padding-left: 20px;
    .anticon {
      cursor: pointer;
    }
  }
  .logic {
    position: absolute;
    top: 4px;
    right: 12px;
    border-radius: 2px;
    .ant-radio-button-wrapper {
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      padding: 0 5px;
      color: #999999;
      background: #fff;
      border: 1px solid #E3F2FD;
    }
    .ant-radio-button-wrapper-checked {
      color: #00aec7;
      background: #E3F2FD;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      display: none;
    }
    .ant-radio-button-wrapper-checked.ant-radio-button-wrapper:first-child {
      border: 1px solid #E3F2FD;
    }
  }

  .tagBox {
    line-height: 24px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 3px;
    margin: 6px 12px 12px;
    .ant-tag {
      line-height: 22px;
      margin: 4px;
      max-width: calc(100% - 8px);
      display: inline-flex;
      align-items: center;

      &.geo {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
      }

      .tagTextSpan{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 208px;
        display: inline-block;
      }
    }
    .ant-tag-hidden {
      display: inline-flex;
    }
    a {
      font-size: 12px;
      color: #999999;
      word-break: keep-all;
      margin: 4px;
    }
    a:hover {
      color: @g-primary-color-hover;
    }
  }
  .tagBox:hover {
    border: 1px solid @g-primary-color;
    box-shadow: 0 0 4px 0 rgba(10,42,97,0.20);
  }
  
  .ant-checkbox-group {
    margin: 6px 12px;
    display: block;
  }
  .ant-checkbox-wrapper {
    color: #999;
    background: #FFFFFF;
    border-radius: 2px;
    line-height: 24px;
    padding: 4px;
    margin: 0 8px 8px 0;

    .ant-checkbox {
      display: none;
    }
  }
  .ant-checkbox-wrapper.银行,.ant-checkbox-wrapper.保险公司,.ant-checkbox-wrapper.资产管理 {
      display: none !important; 
  }
  .ant-checkbox-wrapper-checked {
    color: @g-primary-color;
    background: rgba(61, 193, 212, 0.1);
  }
  .w-checkbox-wrapper:has(.w-checkbox-checked) {
    color: @g-primary-color;
    background: rgba(61, 193, 212, 0.1);
  }
}


.option-viewport {
  line-height: 32px;
  margin-top: 6px;
  position: relative;
  overflow: hidden;
  .title {
    color: #666666;
    padding-left: 20px;
    .anticon {
      cursor: pointer;
    }
  }
  .logic {
    position: absolute;
    top: 4px;
    right: 12px;
    border-radius: 2px;
    .w-radio-button-wrapper {
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      padding: 0 5px;
      color: #999999;
      background: #fff;
      border: 1px solid #E3F2FD;
    }
    .w-radio-button-wrapper-checked {
      color: #00aec7;
      background: #E3F2FD;
    }
    .w-radio-button-wrapper:not(:first-child)::before {
      display: none;
    }
    .w-radio-button-wrapper-checked.w-radio-button-wrapper:first-child {
      border: 1px solid #E3F2FD;
    }
  }

  .tagBox {
    line-height: 24px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 3px;
    margin: 6px 12px 12px;
    .w-tag {
      line-height: 22px;
      margin: 4px;
      max-width: calc(100% - 8px);
      display: inline-flex;
      align-items: center;

      &.geo {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
      }

      .tagTextSpan{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 208px;
      }
    }
    .w-tag-hidden {
      display: inline-flex;
    }
    a {
      font-size: 12px;
      color: #999999;
      word-break: keep-all;
      margin: 4px;
    }
    a:hover {
      color: @g-primary-color-hover;
    }
  }
  .tagBox:hover {
    border: 1px solid @g-primary-color;
    box-shadow: 0 0 4px 0 rgba(10,42,97,0.20);
  }
  
  .w-checkbox-group {
    margin: 6px 12px;
  }
  .w-checkbox-wrapper {
    color: #999;
    background: #FFFFFF;
    border-radius: 2px;
    line-height: 24px;
    padding: 4px;
    margin: 0 8px 8px 0;

    .w-checkbox {
      display: none;
    }
  }
  .w-checkbox-wrapper.银行,.w-checkbox-wrapper.保险公司,.w-checkbox-wrapper.资产管理 {
      display: none !important; 
  }
  .w-checkbox-wrapper-checked {
    color: @g-primary-color;
    background: rgba(61, 193, 212, 0.1);
  }
}
