.debug-panel-trigger {
  position: fixed;
  right: 12px;
  bottom: 12px;
}

// 仅在开发环境显示
.debug-panel-trigger {
  display: none;
}

:global {
  .dev-mode {
    .debug-panel-trigger {
      display: flex;
    }
  }
}
