.search-r-model {
  margin-bottom: 12px;
  #ModelHistory {
    margin-bottom: 0px;
  }

  .subscribe-more {
    line-height: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
  }
  .subscribe-more span {
    border: 1px solid rgba(197, 197, 197, 1);
    padding: 2px 102px;
    border-radius: 12px;
  }
  .subscribe-more:hover span {
    border-color: #00aec7;
    color: #00aec7;
  }
}
