.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}


.overflow-x-hidden {
  overflow-x: hidden;
}

.display-inline-block {
  display: inline-block;
}

.bg-transparent {
  background: transparent;
}

// hover bg transparent
.bg-transparent-hover:hover {
  background: transparent;
}
