.search-select {
  width: 186px;
  background: #fff;
  border: 1px solid #c5c5c5;
  box-shadow:
    0 -2px 5px 0 rgba(0, 0, 0, 0.2),
    0 4px 10px 0 rgba(0, 0, 0, 0.08);

  &--item {
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding-left: 12px;
    line-height: 28px;

    &:hover {
      background: #e9e9e9;
    }
  }
}
