@import 'gel-ui/variables.less';

.ref-item-number {
  font-size: @font-size-md;
  font-weight: 400;
  color: @font-color-3;
  margin-right: @component-space-sm;
  flex-shrink: 0;
  line-height: @line-height-base;
  height: @spacing-base;
}
