.panel {
  flex: 1;
  height: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    .support {
      font-size: 14px;
      color: #999;
      margin-inline-start: 32px;
      font-weight: 400;
    }
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
  }

  :global {
    .w-card-body {
      flex: 1;
      overflow-y: auto;
    }
    .w-card-divider {
      display: none;
    }
  }
}
