@import 'gel-ui/variables.less';
@prefix: generate-ai-column-home-footer;
.@{prefix} {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  > * {
    margin-left: 8px;
  }
  &-credits {
    margin-right: 16px;
    color: @orange-6;
    display: flex;
    align-items: center;
  }
}
