.container {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  font-size: 14px;
  line-height: 20px;

  color: #fff;
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.link {
  font-size: 14px;
  color: #fff;
  &:hover {
    color: #00b8d9;
  }
}
