.auto-expandable-container {
  &.is-collapsed {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* -webkit-line-clamp is set via inline style dynamically */
  }
}
