// 主题

// 自定义样式
// ---------
@g-primary-color: #00aec7; // 按钮等背景色值 g- 前缀 部分会有冲突
@g-primary-color-hover: #3dc1d4; // 按钮悬浮色值
@table-a-hover: #0093ad; // 表格a标签悬浮色值

@g-header-lineheight: 36px; // 导航栏行高

@table-a-color: #0596b3;
@table-a-hover: #00aec7;
@table-a-active: #05809e;

// 框架自带样式覆盖
// -------------

// 兼容wind-design3.x
@--blue-1: #ebf9fb;
@--blue-2: #cff0f4;
@--blue-3: #a7e3ec;
@--blue-4: #76d3e1;
@--blue-5: #3dc1d4;
@--blue-6: #00aec7;
@--blue-7: #0093ad;
@--blue-8: #007892;
@--blue-9: #005c77;
@--blue-10: #00405c;

.w-tag-mini {
  padding: 0 4px;
  text-align: center;
}
