.right-rime-tips {
  margin-top: 4px;
  display: inline-flex;
  align-items: center;

  font-size: 13px;
  color: rgb(102, 102, 102);
  cursor: pointer;

  &-text {
    position: relative;
    color: #999;
    font-size: 12px;
    font-weight: normal;
    margin-right: 4px;
  }
}
