.alias {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: start;

  &-title {
    color: #999;
    white-space: nowrap;
    padding-inline-end: 8px;
  }

  &-names {
    display: flex;
    flex-direction: column;
  }
}
