.tag {
  line-height: 18px;
  border-radius: 2px;
  margin-right: 16px;

  flex: none;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;

  &.colorL,
  &.colorN,
  &.colorRN {
    color: #2277a2;
    background-color: #deebf1;
  }

  &.colorR {
    color: #f68717;
    background-color: #feeddc;
  }

  &.colorA {
    color: #8662ac;
    background-color: #ede8f3;
  }

  &.colorDPU,
  &.colorData {
    color: #5fbebf;
    background-color: #e7f5f5;
  }

  &.colorYQ {
    color: #e4c557;
    background-color: #fbf6e6;
  }
}

.en{
  width: 52px;
}


