.search-group-department.search-common {
  &::before {
    top: 215px;
  }

  .main-title {
    margin-top: 120px;
  }

  .search-area {
    padding-top: 78px;
  }
}

.search-fetured.search-common {
  &::before {
    top: 215px;
  }

  .main-title {
    margin-top: 120px;
  }

  .search-area {
    padding-top: 78px;
  }
}

.search-fetured-en {
  .item-fetured-title {
    text-align: left;
    max-width: 175px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.hot-group-search {
  position: relative;
  width: 1170px;
  height: 320px;
  overflow: hidden;
  text-align: center;
  padding-right: 10px;
  margin: 121px auto 30px auto;

  .hot-wrap {
    display: flex;
    height: 24px;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    justify-content: space-between;

    .hot-group {
      display: flex;
      align-items: center;
      & > *:not(:first-child) {
        margin-left: 8px;
      }
    }

    a {
      font-size: 14px;
      color: #0093ad;
    }
  }

  .hot-change {
    height: 29px;
    color: #333;
    font-size: 14px;
  }
}

.hot-feture-Search {
  position: relative;
  width: 1170px;
  text-align: center;
  padding-right: 10px;
  margin: 121px auto 30px auto;

  .hot-wrap {
    display: flex;
    height: 24px;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    justify-content: space-between;

    .hot-Group {
      display: flex;
      align-items: center;
      & > *:not(:first-child) {
        margin-left: 8px;
      }
    }

    a {
      font-size: 14px;
      color: #0093ad;
    }
  }

  .all-fetures {
    font-size: 14px;
    color: #0093ad;
    line-height: 46px;
    text-align: center;
    margin-bottom: 12px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
  }
}
