.gel-vip-model {
  .w-row {
    text-align: center;
  }

  .w-modal-content {
    border: none;
  }

  .w-modal-body {
    padding: 0;
    background: #eee;

    .gel-vipR-content-hide {
      border: none;
    }
  }
}

.gel-vip-module-new {
  overflow-x: hidden;

  .w-row {
    text-align: center;
  }

  .gel-vip-title {
    font-size: 20px;
    margin-top: 16px;
  }

  .gel-vip-tips {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
  }

  .gel-vip-tips-third {
    font-weight: bold;
  }

  .gel-vip-header {
    background: url('../../assets/vip/banner.png') no-repeat;
    background-size: 110% 130%;
    height: 128px;
    color: #fff;
    background-position: -20px -20px;
  }

  .gel-vip-content {
    padding: 32px;
    background-color: #eee;

    .gel-vipR-header {
      margin-left: 30px !important;
      background: #fff;
      width: calc(100% - 60px);
      // height: 156px;
      border-radius: 4px;
      border: 1px solid #e8e8e9;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    }

    .gel-vipR-prices {
      width: 100%;
      padding-top: 20px;
    }

    .gel-vipR-prices-activity {
      // padding-top: 40px;
    }

    .gel-vipR-prices-item {
      // width: 247px;
      height: 143px;
      border: 1px solid #e8e8e9;
      background-color: #fff;
      position: relative;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;

      .type {
        line-height: 40px;
        color: #333;
        font-size: 24px;
        margin-top: 28px;
        font-weight: bold;
      }

      .price {
        margin-top: 12px;
        font-style: normal;
        font-size: 18px;
        line-height: 36px;

        > b {
          color: #00aec7;
        }

        > span {
          color: #333;
        }
      }

      .contact {
        margin-top: 12px;
        font-style: normal;
        font-size: 18px;
        line-height: 26px;
      }
    }

    .gel-vipR-prices-ep {
      margin-right: 20px;

      div {
        line-height: 27px;
        color: #333;
      }

      span {
        line-height: 24px;
        color: #dc3023;
      }
    }

    .gel-vipR-prices-sel {
      border: 1px solid #00aec7;
    }

    .gel-vipR-more {
      margin: 16px 0;
      font-size: 16px;
      color: #00aec7;

      &:hover {
        color: #77c4d4;
      }

      div {
        cursor: pointer;
      }
    }
  }

  .activity-box {
    display: flex;
    align-items: center;
    margin: -12px 0 12px;
    line-height: 54px;

    .limitedtimeOffer {
      margin-left: -10px;
    }
  }

  .gel-vipR-content {
    // height: 247px;
    margin: 20px 0 0;
  }

  .gel-vipR-content-hide {
    border-radius: 4px;
    background-size: 100% 100%;
  }

  .gel-vipR-content-btn {
    width: 220px;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
    background: #00aec7;
    border-radius: 4px;
    margin: auto;
    text-align: center;
    // margin-top: 76px;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .gel-vipR-contents {
    height: 240px;
    margin-left: 30px !important;
    margin-right: 30px !important;
  }

  .gel-vipR-content-center {
    box-sizing: border-box;
    text-align: center;
    background: rgba(0, 174, 199, 0.05);
    padding-top: 10px;
    margin-bottom: 30px;
  }

  .gel-vipR-content-left {
    margin-top: 50px;
  }

  .gel-vipR-content-left-one {
    border: 1px solid #00aec7;
    width: 180px;
    height: 60px;
    font-size: 18px;
    color: #333;
    line-height: 60px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 20px;

    img {
      margin-right: 10px;
    }
  }

  .gel-vipR-content-left-one-sel:after {
    content: '';
    background: url(../../assets/vip/wx_check.png) no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 30px;
  }

  .gel-vipR-content-qcode {
    border: 1px solid #e8e8e9;
    // border-bottom: none;
    width: 170px;
    height: 170px;
  }

  .gel-vipR-content-center-tips {
    // margin-left: 169px;
    // margin-right: 30px;
    position: relative;
    background: #f2f2f2;
    width: 169px;
    height: 40px;
    text-align: left;
    border: 1px solid #e8e8e9;
    border-top: none;
    margin: 0 auto;

    span {
      margin-left: 16px;
      position: absolute;
      color: #666;
      font-size: 12px;
      top: 0;
      line-height: 1;
      width: 80px;
      margin-top: 7px;
    }

    img {
      margin-left: 27px;
      margin-top: 7px;
    }
  }

  .gel-vipR-content-qcode-bottom {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-bottom: -25px;
    color: #999;
    font-size: 12px;
  }

  .gel-vipR-content-qcode-err {
    display: block;
    text-align: center;
    width: 180px;
    cursor: pointer;
    margin: 0 auto;
    color: #00aec7;

    &:hover {
      color: #77c4d4;
    }
  }

  .gel-vipR-content-right {
    background: rgba(0, 174, 199, 0.05);
    padding-top: 10px;
    height: 247px;
    margin-bottom: 30px;
  }

  .gel-vipR-content-right-up {
    height: 110px;
    background: url(../../assets/vip/seler-pc.png) no-repeat;
    padding-top: 83px;
  }

  .gel-vipR-content-right-btn {
    width: 160px;
    background: #00aec7;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 20px;
    cursor: pointer;
  }

  .gel-vipR-content-right-tips {
    font-size: 14px;
    color: #999;
    vertical-align: text-top;
    margin-left: 10px;
  }

  .gel-vipR-content-right-down {
    display: none;
  }

  .gel-vipR-tk {
    margin-top: 20px;
    position: relative;
  }

  .gel-vipR-tk a {
    color: #999 !important;
    cursor: initial !important;
  }

  .gel-vipR-tk a:hover {
    color: #999 !important;
  }
}
