.cardContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
  > div {
    min-width: calc(100% / 3);
    border: 1px solid #ccc;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
}
.listContainer {
  width: 100%;
  > div {
    min-height: 40px;
    border-bottom: 1px solid #ededed;
  }
}
