.checkbox-multi {
  :global {
    .checkbox-node-children {
      padding: 0 24px;
      margin-left: 12px;
    }
    .checkbox-node-level-3.checkbox-node-leaf-parent {
      .checkbox-node-children {
        border: 1px solid #f4f4f4;
      }
    }
  }
}
