@import '../../../../styles//shared/variables.less';

.itemBody {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  .ref-tag {
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    padding: 0 8px;
  }

  &:first-child {
    padding-top: 0;
  }
}

.titleWrapper {
  flex: 1;
  min-width: 140px;
  padding-right: 16px;
}

.title {
  color: @font-color-2;
  font-weight: 400;
  line-height: 24px;
  width: 100%;

  &.titleCanJump {
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: @primary-color;
      text-decoration: underline;
      text-decoration-color: @primary-color;
      text-underline-offset: 4px;
    }
  }
}
.sitename {
  min-width: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  :global(.ant-typography) {
    color: @font-color-3;
  }
}

.time {
  // flex: 0 0 120px;
  font-size: 14px;

  line-height: 20px;
  padding: 0 0px;
  margin: 0 8px;
  min-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:last-child {
    padding-right: 0;
  }

  :global(.ant-typography) {
    color: @font-color-3;
  }
}
