.progress-timeline{
  .progress-item{
    line-height: 26px;
  }
  .w-timeline{
    width: 100%;
  }
  .timeline__selected{
    background-color: #F4F4F4;
  }
  .w-timeline-item-head{
    top: 7px;
  }
}