@prefix: company-directory-company-cell;

.@{prefix}-fullText {
  white-space: normal;
  word-break: break-word;
}

.@{prefix}-cellWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.@{prefix}-cellInline {
  align-items: center;
}

.@{prefix}-cellActionIconInline {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;
  cursor: pointer;
  color: var(--icon-color);
  transition:
    opacity 0.2s ease,
    color 0.2s ease;
}

.@{prefix}-cellInline:hover .@{prefix}-cellActionIconInline {
  opacity: 1;
  color: var(--icon-color-hover);
}

.@{prefix}-companyLink {
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
