@import '../../app.less';
@import '../../styles/theme_rime.less';
@import '@/styles/colorVariables.less';

// 将样式提到最前面并提高优先级
body.pcai-mode {
  #root {
    min-width: auto !important;
  }
}

.relate-chart-instance {
  position: relative;
  overflow-y: hidden;
  height: 100%;
  background: #fff;

  .chart-icons {
    position: absolute;
    right: 0;
    z-index: 1;
    background: #fff;
    padding: 5px 0 0 0;
    width: 100%;
    text-align: right;
    color: @basic-7;
    span {
      font-size: 18px;
      margin-right: 12px;
    }
    .wicon-svg {
      &:hover {
        color: @primary-hover !important;
      }
      &:active {
        color: @primary-active !important;
      }
    }
  }

  .chart-tabs {
    padding-bottom: 12px;
    margin-top: 28px;
    padding-left: 22px;
    position: absolute;
    width: 160px;
    z-index: 1;
    background: #fff;
    > div {
      &:first-of-type {
        line-height: 32px;
        height: 32px;
      }
    }
  }
  .chart-tabs-dark {
    background: transparent;
  }

  .relate-graph-content {
    width: 100%;
    height: calc(100% - 32px);
    text-align: center;
    padding-top: 30px;
    position: absolute;
  }

  .chart-content-watermask {
    background: url('../../assets/imgs/chart/sy2.png') repeat !important;
  }

  .chart-loading {
    width: 100%;
    margin: 0 auto;
    padding-top: 20%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f4f4f4;
    opacity: 0.5;
    height: 100%;
  }

  .link-flow-in {
    stroke: #2277a2;
    stroke-dasharray: 8;
    animation: dash-line 30s linear infinite;
    stroke-opacity: 1;
    stroke-width: 2px;
  }

  .link-flow-in-r {
    stroke: #2277a2;
    stroke-dasharray: 8;
    animation: dash-line-r 30s linear infinite;
    stroke-opacity: 1;
    stroke-width: 2px;
  }

  .chart-bottom {
    text-align: center;
    height: 26px;
    line-height: 26px;
    position: absolute;
    width: 100%;
    background: #fff;
    color: #aaaa;
    bottom: 0;
  }

  .tspan-link {
    cursor: pointer;
    &:hover {
      fill: @table-a-hover !important;
    }
    &:active {
      fill: @table-a-active !important;
    }
  }

  .tspan-extra {
    fill: @table-a-color !important;
    &:hover {
      fill: @table-a-hover !important;
    }
    &:active {
      fill: @table-a-active !important;
    }
  }
}

.rime-relate-chart-instance {
  .chart-tabs {
    .w-btn {
      &:hover {
        color: @rime-primary-color;
      }
    }
    .w-btn-secondary {
      background: @rime-primary-color;
      border-color: @rime-primary-color;
      &:hover {
        color: #fff;
      }
    }
  }

  .chart-content-watermask {
    background: none !important;
  }
  .w-spin-dot i {
    background: @rime-primary-color !important;
  }
}

.window-locale-en-US {
  .chart-tabs {
    width: 160px;
  }
}
