@import '../../styles/theme_rime.less';
@import '@/styles/colorVariables.less';

.gqct-chart-instance {
  background: #fff;
  position: relative;
  height: 100%;
  margin-right: -270px;
  transition: margin-left 200ms;

  .chart-icons {
    position: absolute;
    right: 270px;
    z-index: 1;
    background: #fff;
    padding: 5px 0 0 0;
    text-align: right;
    color: @basic-7;
    > span {
      font-size: 18px;
      margin-right: 12px;
    }
    .wicon-svg {
      &:hover {
        color: @primary-hover !important;
      }
      &:active {
        color: @primary-active !important;
      }
    }
  }

  .gqct-graph-content {
    width: 100%;
    height: calc(100% - 32px);
    text-align: center;
    padding-top: 30px;
  }

  .chart-content-watermask {
    background: url('../../assets/imgs/chart/sy2.png') repeat !important;
  }

  .wind-ui-table-empty {
    margin-top: 20%;
  }

  .gqct-spin {
    // width: 100%;
    // margin: 0 auto;
    // margin-top: 20%;
    // text-align: center;

    width: 100%;
    margin: 0 auto;
    padding-top: 20%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f4f4f4;
    opacity: 0.5;
  }

  .chart-bottom {
    text-align: center;
    height: 26px;
    line-height: 26px;
    position: relative;
    // width: 100%;
    background: #fff;
    color: #aaaa;
  }

  .tspan-- {
    display: none;
  }
  .gqct-graph-tips {
    margin-bottom: -30px;
    color: #999;
  }

  @keyframes dash-line {
    to {
      stroke-dashoffset: -1000;
    }
  }

  @keyframes dash-line-r {
    to {
      stroke-dashoffset: 1000;
    }
  }

  .link-flow-in {
    stroke: #2277a2;
    stroke-dasharray: 8;
    animation: dash-line 30s linear infinite;
    stroke-opacity: 1;
    stroke-width: 2px;
  }

  .link-flow-in-r {
    stroke: #2277a2;
    stroke-dasharray: 8;
    animation: dash-line-r 30s linear infinite;
    stroke-opacity: 1;
    stroke-width: 2px;
  }

  .arrow-flow-in {
    fill: #2277a2;
  }

  .rect-corp:hover {
    stroke: #deebf1;
    stroke-width: 5px;
  }
  .node:hover {
    .react-box-g {
      .ipotext {
        font-size: 10px !important;
      }
    }
  }
}

.rime-gqct-chart-instance {
  .w-spin-dot i {
    background: @rime-primary-color !important;
  }
}

@media screen and (max-width: 1360px) {
  .chart-icons {
    right: calc(1360px - 100vw + 270px);
  }
}
