.mini-filled-wrapper {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;

  .mini-filled {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
  }

  .mini-filled-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover {
    .mini-filled {
      opacity: 0;
    }

    .mini-filled-hover {
      opacity: 1;
    }
  }
}