#home-header-menu {
  display: flex;
  align-items: center;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}

#home-header-menu {
  & > :not(:first-child) {
    margin-left: 40px;
  }
}

.logo-item {
  display: flex;
  align-items: center;
}

.logo-combo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 32px;
}

.logo-text {
  margin: 0 12px;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}
