@prefix: menu-content;

.@{prefix} {
  &-menu {
    &-container {
      display: flex;
      height: 100%;
      flex-direction: column;
      > div {
        &:first-child {
          .@{prefix}-tree-container {
            // overflow-y: scroll;
          }
        }
        &:last-child {
          margin-bottom: 40px;
        }
      }
    }

    &-header {
      font-size: 16px;
      text-align: center;
    }

    &-item {
      .w-tree-node-content-wrapper {
        height: 34px !important;
        line-height: 32px !important;
      }

      .w-tree-title {
        font-size: 14px;
      }

      &-disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &-divider {
      margin: 0;
      &-space {
        margin-bottom: 12px;
      }
    }
  }
}
