@import '@/styles/variables.less';

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.large {
    padding: 18px 12px;
    .logo-clickable {
      font-size: 22px;
    }
    .logo-icon {
      width: 28px;
      height: 28px;
    }
    .logo-text {
      line-height: 24px;
    }
  }

  &.small {
    padding: 12px 8px;
    .logo-clickable {
      font-size: 18px;
    }
    .logo-icon {
      width: 18px;
      height: 18px;
    }
    .logo-text {
      line-height: 21px;
    }
  }
}

.logo-clickable {
  display: flex;
  align-items: center;
  min-width: 0;
}

.logo-title {
  flex: 1;
  min-width: 0;
}

.logo-gradient {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.logo {
  &-text {
    font-weight: 600;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 18px;
    margin-inline-start: 8px;
  }
  &-icon {
    margin-inline-end: 12px;
    transform-origin: center;
  }
  &-version {
    font-size: 10px;
    margin-inline-start: 8px;
    border: 1px solid var(--click-6);
    border-radius: 2px;
    padding: 0px 4px;
    color: var(--click-6);
    flex: 0 0 auto;
  }
}
