.tree-menu-container {
  visibility: hidden;
  width: 208px;
  position: fixed;
  background: #fff;
  z-index: 1;
  right: 1096px;
}
:global .w-tree {
  max-height: calc(100vh - 106px);
  overflow-y: auto;
  overflow-x: hidden;
}
:global .w-tree .w-tree-indent {
  width: 5px;
}
:global .w-tree .w-tree-switcher {
  margin-left: 4px;
}
:global .w-tree .w-tree-treenode {
  padding: 2px 8px 2px 0;
}
:global .w-tree .w-tree-title {
  width: 167px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
  display: inline-block;
}
:global .w-tree .w-tree-node-content-wrapper-open .w-tree-title {
  font-weight: bold;
  height: 20px;
  line-height: 23px;
}
:global .w-tree .w-tree-node-content-wrapper-close .w-tree-title {
  font-weight: bold;
  height: 20px;
  line-height: 23px;
}
:global .w-tree .w-tree-node-content-wrapper-normal .w-tree-title {
  padding-left: 4px;
}
:global .w-tree .menu-num {
  color: #999;
}
:global .w-tree .menu-highlight-txt {
  color: #00aec7;
}
:global .w-tree .menu-none {
  display: none;
}
:global .w-tree .w-tree-node-selected .menu-num {
  color: #fff;
}
:global .w-tree .w-tree-node-selected .menu-highlight-txt {
  color: #fff;
}
.corp-detail-menu--search-row {
  padding: 8px;
  display: flex;
}
.corp-detail-menu--search-row > * {
  margin-right: 8px;
}
.corp-detail-menu--search-row > *:last-child {
  margin-right: 0;
}
