.corp-detail-menu {
  &--search-row {
    position: relative;
    padding: 8px;
    display: flex;

    > * {
      margin-right: 8px;
    }
    > *:last-child {
      margin-right: 0;
    }
  }
}
