// ============================================================================
// 组件变量
// ============================================================================

// 滚动条
@scrollbar-bg: white;
@scrollbar-bg-hover: @basic-15;
@scrollbar-thumb-bg: @basic-12;
@scrollbar-thumb-bg-hover: @basic-12;
@scrollbar-thumb-bg-active: @basic-10;

// 警告框
@alert-success-bg: @green-1;
@alert-success-border: @green-2;
@alert-info-bg: @click-1;
@alert-info-border: @click-2;
@alert-warning-bg: @orange-1;
@alert-warning-border: @orange-2;
@alert-error-bg: @red-1;
@alert-error-border: @red-2;

// 锚点
@anchor-border-color: @border-color-split;

// 按钮
@button-default-bg: @basic-16;
@button-default-bg-hover: @basic-16;
@button-default-bg-active: @basic-16;
@button-default-border: @border-color-base;
@button-default-border-hover: @border-color-hover;
@button-default-border-active: @border-color-active;
@button-default-border-disabled: @basic-12;
@button-loading-border-color: #59cadb;
@btn-primary-bg: @click-5;
@btn-primary-bg-hover: @click-4;
@btn-primary-bg-active: @click-6;
@button-surface-bg: @basic-14;
@button-surface-bg-hover: @basic-11;
@button-surface-bg-active: @basic-9;

// 返回顶部
@back-top-bg: @basic-16;
@back-top-hover-bg: @click-5;

// 日历
@calendar-item-active-bg: @click-2;

// 卡片
@card-bg: @basic-16;

// 轮播
@carousel-dot-bg: @basic-12;
@carousel-dot-active-bg: @basic-16;
@carousel-dot-focus-bg: @basic-14;
@carousel-dot-hover-bg: @basic-10;

// 复选框
@checkbox-color-hover: @primary-hover;
@checkbox-color-active: @primary-active;
@checkbox-color-selected: @primary;
@checkbox-color-focus: @primary;

// 折叠面板
@collapse-header-bg: @basic-13;
@collapse-header-hover-bg: @basic-12;
@collapse-content-bg: @basic-16;

// 分隔线
@divider-color: @border-color-split;

// 下拉按钮
@dropdown-button-border-color: @border-color-base;

// 空状态
@empty-description-color: @font-color-2;
@empty-bg: @basic-14;

// 输入框
@input-bg: @basic-16;
@input-panel-bg: @color-bg-4;
@input-bg-disabled: @basic-15;
@input-border: @basic-11;
@input-addon-border-color: @basic-11;
@input-clear-color: @basic-9;
@input-clear-hover-color: @basic-6;
@input-border-hover: @click-5;
@input-border-active: @click-7;
@input-border-disabled: @basic-12;
@input-border-focus: @click-6;

// 布局
@layout-bg: @basic-13;
@layout-header-bg: @basic-16;
@layout-operator-bg: @basic-16;
@layout-content-bg: @basic-16;
@layout-sider-bg: @basic-16;
@layout-sider-trigger-bg-hover: @basic-13;
@layout-sider-trigger-bg-active: @basic-12;

// 菜单
@menu-item-bg: transparent;
@menu-popup-bg: @basic-16;
@menu-arrow-color: @font-color-4;
@menu-icon-color: @font-color-2;
@menu-item-active: @click-2;
@menu-item-hover: @basic-13;

// 消息
@message-bg: @basic-16;

// 模态框
@modal-title-bg: @basic-13;
@modal-large-bg: @basic-14;
@modal-large-header-bg: @basic-16;

// 弹出框
@pop-box-bg: @basic-16;
@popover-border: rgba(197, 197, 197, 0.7);
@popover-border-bottom-color: @basic-11;
@popover-color-bg: @basic-16;
@popover-color-border: @popover-border;

// 选择器
@select-selection-item-bg: @basic-15;
@select-show-arrow: @basic-7;
@select-show-arrow-disabled: @basic-11;
@select-icon-hover-color: @primary-hover;

// 滑块
@slider-handle-border: @primary;
@slider-handle-border-disabled: @switch-disabled-bg-checked;
@slider-rail-bg: @border-color-split;

// 步骤
@steps-bg: @basic-16;
@step-process-icon-color: @basic-2;
@steps-process-tail-color: @basic-11;
@step-finish-tail-color: @basic-2;
@step-finish-icon-color: @basic-2;
@steps-wait-icon-color: @font-color-4;
@steps-wait-tail-color: @basic-11;

// 开关
@switch-disabled-bg-checked: @click-2;
@switch-disabled-after-bg: @basic-16;

// 单选框
@radio-active-color-bg: @basic-16;
@radio-button-bg: @btn-primary-bg;
@radio-button-wrapper-border-color: @border-color-base;
@radio-button-wrapper-left-border-color: @border-color-base;
@radio-color-hover: @primary-hover;
@radio-color-active: @primary-active;
@radio-hover-color-bg: @basic-16;
@radio-color-top-active: @primary-active;
@radio-color-top-hover: @primary-hover;

// 分割器
@resizer-divider-color-inner: @basic-12;
@resizer-placeholder-bg: @basic-9;

// 结果
@result-title: @font-color-3;

// 标签页
@tabs-block-color-selected: @font-color-1;
@tabs-block-color-selected-bg: @basic-12;
@tabs-block-color-hover-bg: @item-hover;
@tabs-block-color-active-bg: @basic-12;

// 标签
@tag-border-color: @basic-12;
@tag-primary-bg: @basic-14;
@tag-secondary-bg: @basic-15;
@tag-opacity-bg-color-1: #deebf1;
@tag-opacity-bg-color-2: #feeddc;
@tag-opacity-bg-color-3: #e7f5f5;
@tag-opacity-bg-color-4: #fae7e7;
@tag-opacity-bg-color-5: #e4e6ee;
@tag-opacity-bg-color-6: #fbf6e6;
@tag-opacity-bg-color-7: #e8f1ea;
@tag-opacity-bg-color-8: #eeeae6;
@tag-opacity-bg-color-9: #f0f2f4;
@tag-opacity-bg-color-10: #ede8f3;
@tag-text-color-1: @color-1;
@tag-text-color-2: @color-2;
@tag-text-color-3: @color-3;
@tag-text-color-4: @color-4;
@tag-text-color-5: @color-5;
@tag-text-color-6: @color-6;
@tag-text-color-7: @color-7;
@tag-text-color-8: @color-8;
@tag-text-color-9: @color-9;
@tag-text-color-10: @color-10;
@tag-text-color: @click-10;
@tag-bg-color: rgba(234, 246, 250, 0.5);
@tag-icon-color: rgba(5, 150, 179, 0.3);

// 提示
@tooltip-arrow-color: @basic-16;

// 树
@tree-switcher-color: @basic-7;
@upload-clip-icon-color: @font-color-3;
@tree-item-title-color: @font-color-2;

// 时间线
@blue-6-timeline: rgba(0, 174, 199, 0.45);
@red-6-tint: rgba(223, 38, 44, 0.2);
@red-6-timeline: rgba(223, 38, 44, 0.45);
@green-6-timeline: rgba(22, 157, 96, 0.45);