.wind-float {
  @media (max-width: 1402px) {
    display: none;
  }
  &.ant-float-btn-group-square {
    .ant-float-btn-square:first-child {
      border-start-start-radius: 4px;
      border-start-end-radius: 4px;
    }
    .ant-float-btn-square:last-child {
      border-end-start-radius: 4px;
      border-end-end-radius: 4px;
    }
  }
}
