@import '../app.less';

.filterRes {
  .myIcon {
    font-size: 16px;
  }

  .wind-ui-table-row-head {
    height: 30px;
  }

  .wind-ui-table-pagination-outer {
    bottom: 32px;
    position: fixed;
    right: 23px;
    background: #fff;
  }

  .condition {
    background: #f2f2f2;

    .title {
      color: #666;
      padding-left: 12px;
      line-height: 32px;

      .vip_filter {
        transform: translate(4px, -3px);

        .myIcon {
          font-size: 15px;
          min-width: 15px;
        }
      }
    }

    .addBtn {
      border: none;
      background: #ffffff;
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.08);
      border-radius: 2px;
    }

    .option-viewports {
      height: calc(100% - 140px);
      margin-bottom: 12px;
      overflow-y: auto;
    }

    .ant-btn,
    .w-btn {
      margin: 0 12px 12px;
      width: calc(100% - 24px);
    }

    .ant-btn-primary {
      font-size: 16px;
      line-height: 24px;
    }

    .condition-btn-save {
      width: 115px;
    }

    .condition-btn-ok {
      width: 115px;
    }
  }

  .tools {
    padding: 8px;
    display: flex;
    user-select: none;

    .tools-acounts {
      font-weight: bold;
      line-height: 24px;
      padding: 0 8px;
      margin-left: 2px;
      display: inline-block;
    }

    a {
      color: #666;
      display: inline-block;
      height: 24px;
      line-height: 24px;
      padding: 0 20px 0 12px;
      border-right: 1px solid #999;
    }

    .subscribe {
      .hot {
        .myIcon {
          margin: 0;
          font-size: 20px;
          width: 20px;
          height: 10px;
          transform: translateY(-6px);
        }
      }
    }
    .subscribe-disabled {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.25);
      .myIcon {
        opacity: 0.4;
      }
    }

    a:last-child {
      border-right: none;
    }

    a.grey-border {
      height: 18px;
      line-height: 18px;
      border-right: 1px solid #e3e3e3;
    }

    a:hover,
    .tool:hover {
      color: @g-primary-color-hover;
    }

    a[disabled] {
      color: rgba(0, 0, 0, 0.25);
      cursor: not-allowed;
    }

    .subscribChange {
      background: #f3f9ff;
      border: 1px solid #ddeeff;
      box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.08);
      border-radius: 2px;
      position: absolute;
      height: 64px;
      width: 343px;
      z-index: 9;
      margin-top: 8px;
      margin-left: -13px;
      padding: 12px;
      cursor: default;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transform: translateX(217px);

      .changeTitle {
        font-size: 14px;
        color: #333333;
        letter-spacing: 0;
        line-height: 16px;
        font-weight: 500;
        display: block;
      }

      .changeTitleTips {
        font-size: 12px;
        color: #666666;
        letter-spacing: 0;
        line-height: 16px;
        font-weight: 400;
        display: block;
        margin-top: 8px;
      }

      .toChangeSub {
        width: 56px;
        height: 26px;
        background: #3355ff;
        border-radius: 14px;
        cursor: pointer;
        font-size: 12px;
        color: #ffffff;
        letter-spacing: 0;
        font-weight: 500;
        text-align: center;
        line-height: 24px;
        margin-right: 4px;
      }

      .closeChangeTips {
        position: absolute;
        right: 0px;
        top: -2px;
        // background: #DDEEFF;
        border-radius: 0 2px 0 12px;
        width: 16px;
        height: 16px;

        span {
          cursor: pointer;
          position: absolute;
          right: 0px;
          top: 0px;
        }
      }
    }

    .subscribChangeHiden {
      display: none;
    }

    .tools-first {
      flex-grow: 1;
      margin-left: 2px;
      line-height: 24px;
      button {
        margin-left: 10px;
      }
      .titleTxt {
        font-weight: 600;
        margin-right: 4px;
      }
    }
  }

  .table-container {
    margin-left: 10px;
    margin-right: 10px;
    height: calc(100% - 48px);
    .w-spin-blur {
      transform: none !important;
      filter: none !important;
    }
    .wind-ui-table-small {
      height: 100%;
    }
    .wind-ui-table-container {
      height: 100%;
      border-bottom: none;
      .wind-ui-table-body {
        height: calc(100% - 40px);
        td {
          height: 30px;
        }
      }

      .wind-ui-table-row-cell p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    .table-empty {
      height: 40px;
      line-height: 40px;
    }

    .ant-spin {
      background: #fff;
    }

    .ant-table-small .ant-table-selection-column {
      width: 32px;
      max-width: 32px;
    }

    .ant-table-tbody {
      .grey {
        .ant-table-cell-fix-left {
          background-color: #f8f8f8;
        }
      }

      .ant-empty-image,
      .ant-empty-description {
        transform: translateY(-100px);
      }
    }
  }
}

.filter-box {
  .filterbox-lbox {
    div.selected {
      background: #fff;
      color: #000;
      font-weight: bold;
    }
  }
  .range-box-absolute {
    position: absolute;
    top: 0;
  }
}

.home-filter-res .main-container.filterRes .page-container {
  background: #fff;
  padding: 0;
  overflow: auto;
}

.filterRes .ant-table,
.filterRes .wind-ui-table {
  p.number {
    text-align: right;
  }
  .checked {
    color: #00aec7;
  }

  table {
    table-layout: fixed;
  }

  .ant-table-cell-scrollbar {
    display: none;
  }

  .ant-table-thead {
    .ant-table-cell {
      .vip_filter {
        transform: translate(4px, -3px);

        .myIcon {
          font-size: 15px;
          min-width: 15px;
        }
      }
    }
  }

  .ant-table-cell {
    p {
      &.marginRight20 {
        cursor: pointer;

        &:hover {
          color: #3355ff;
        }
      }
    }
  }

  .ant-table-tbody {
    tr.ant-table-row-selected {
      td {
        background: inherit;
      }

      a {
        color: #3355ff;
      }
    }
  }
}

.ant-modal.filter {
  .ant-modal-body {
    height: 595px;
    padding: 0;
    overflow: auto;

    .ant-card {
      // height: 100%;

      .ant-card-head {
        height: 48px;
        line-height: 32px;
        font-size: 16px;
      }

      .ant-card-body {
        height: calc(100% - 60px);
        padding: 0;

        // .ant-tabs {
        //   height: calc(100% - 53px);
        //   .ant-tabs-content {
        //     height: 100%;
        //     overflow: auto;
        //   }
        // }
        .ant-form {
          height: calc(100% - 40px);
        }
      }
    }
  }
}

.home-filter-res {
  .ant-modal-mask,
  .ant-modal-wrap {
    z-index: -999;
  }
}

.home-filter-res.modal-show {
  .ant-modal-mask,
  .ant-modal-wrap {
    z-index: 1000;
  }
}

.filterTooBig {
  width: 560px !important;

  .ant-modal-content {
    border-radius: 4px !important;

    .ant-btn {
      width: 80px !important;
      padding: 0 !important;
    }
  }
}

.home-filter-res {
  display: flex;
  flex-direction: column;
  height: calc(100% - 45px);
  background: #f8f8f8;
  padding: 15px;

  .main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 1px;
    height: calc(100% - 62px);

    .menu {
      width: 160px;
    }

    .condition {
      width: 280px;
    }

    .page-container {
      flex: 1;
      overflow: auto;
      // padding: 15px;
    }
  }
}

.wind-ui-table-tbody > .wind-ui-table-row > .wind-ui-table-cell-fixed-left-last {
  box-shadow: 5px 0 0 0 rgba(214, 214, 214, 0.4);
}

.wind-ui-table-thead > .wind-ui-table-row > .wind-ui-table-cell-fixed-left-last {
  box-shadow: 5px 0 0 0 rgba(214, 214, 214, 0.4);
}
.wind-ui-table-thead > .wind-ui-table-row > .wind-ui-table-row-head.wind-ui-table-cell-fixed-left {
  box-shadow: 5px 0 0 0 rgba(214, 214, 214, 0.4);
}
.wind-ui-table-scroll-position-left .wind-ui-table-thead > .wind-ui-table-row > .wind-ui-table-cell-fixed-left-last {
  box-shadow: none !important;
}
.baifen__modal {
  .w-modal-footer {
    margin-top: 12px;
  }
  .content {
    line-height: 22px;
  }
}
