.APPDetail {
  width: 1282px;
  margin: 0px auto;


  .Card {
    margin: 12px 0;
    padding: 8px;

    // border: 1px solid #d8d8d8;
    .wind-ui-table-title {
      font-size: 14px;
    }

    .Header {
      line-height: 18px;

      .Name {
        font-size: 18px;
        font-weight: bold;
        margin: 12px 0;
      }

      .Money {
        color: #F57823;
      }
    }

    .SubTitle {
      line-height: 28px;
      font-size: 14px;


    }

    .cardTitle {
      margin: 8px 0;
      color: #333;
      font-weight: bold;
    }

    // 
    .companyLink {
      display: inline-block;

      a {
        color: var(--primary);
        border: 0;
      }
    }

  }


}