.rankingList {
  height: 100%;
  overflow: auto;
  padding: 16px;

  a {
    color: #35f;

    &:hover {
      color: #35f;
    }
  }

  .main_content {

    h2 {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      margin: 20px 0;
      color: #333;
    }

    .inputBox {
      width: 696px;
      margin: 0 auto;
      position: relative;

      input {
        width: 600px;
        height: 32px;
        margin-right: 16px;
        background: #F2F2F2;
        border-radius: 2px;
        border: none;
      }

      button {
        width: 80px;
      }

      .searchComplete {
        position: absolute;
        top: 35px;
        left: 0;
        background: #fff;
        z-index: 9;
        width: 600px;
        border: 1px solid #f2f2f2;
        border-radius: 2px;
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
        
        .ant-card-head {
          min-height: 32px;
          padding: 0 8px;

          .ant-card-head-title {
            line-height: 32px;
            padding: 0;
            position: relative;
            color: #333;

            .anticon {
              position: absolute;
              top: 7px;
              right: 0;
            }
          }
        }

        .ant-card-body {
          padding: 0;
        }

        .ant-list-items {
          p {
            line-height: 32px;
            padding: 0 8px;
            border-bottom: 1px solid #f2f2f2;
            color: #999;
            cursor: pointer;

            &:hover {
              color: #35f;
            }
          }
        }
      }
    }

    .subtitle {
      font-size: 16px;
      font-weight: bold;
      position: relative;
      margin: 20px 3px 10px;
      color: #000;

      a {
        font-size: 14px;
        position: absolute;
        top: 1px;
        right: 0;
        font-weight: normal;
      }
    }

    .recommondCardList {
      display: grid;
      grid-template-columns: 33% 33% 33%;
    }

    .ant-list-grid .ant-col>.ant-list-item {
      margin-bottom: 10px;
    }

    .more {
      width: 100%;
      border: 1px solid #f0f0f0;
      font-size: 16px;
      height: 36px;
    }
  }

  .history {
    .ant-card-head {
      position: relative;
      color: #333;
      border-bottom: 1px solid #E3E3E3;

      p {
        line-height: 24px;
        padding: 0;

        &:hover {
          background: #fff;
        }
      }

      .anticon {
        position: absolute;
        top: 2px;
        right: 0px;
        .myIcon {
          font-size: 20px;
        }
      }
    }

    .ant-card-body {
      padding: 0;
    }

    P {
      line-height: 20px;
      padding: 8px 48px 8px 12px;
      position: relative;
      color: #333;

      a {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: #666;
      }

      &:hover {
        background: #f4f4f4;

        a {
          display: block;
        }
      }
    }
  }
}