.special-app-list {
  height: 100vh;
  background: #F2F2F2;

  .bread-crumb {
    width: 100%;
    line-height: 22px;
    font-size: 14px;
    padding: 7px 0;
    background-color: #fff;

    i {
      display: inline-block;
      width: 14px;
      height: 14px;
      background-image: url(../assets/imgs/Right@3x.png);
      background-size: 14px;
    }

    span {
      margin: 0 8px;
    }

    .bread-crumb-content {
      width: 1220px;
      margin: auto;
      display: flex;
      align-items: center;
      color: #333;
    }

    .last-rank {
      color: #999;
      cursor: pointer;
    }
  }

  .special-list-wrap {
    display: flex;
    width: 1220px;
    position: relative;
    margin: 0 auto;
    padding-top: 12px;

    .nav-special-list {
      height: 100%;
      width: 208px;
      margin-right: 12px;
      background: #fff;

      .nav-menu {
        li {
          height: 36px;
          cursor: pointer;
          font-size: 14px;
          line-height: 36px;
          padding-left: 20px;

          &:hover {
            background: #E8E8E9;
          }
  
          span {
            display: inline-block;
            width: 200px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
  
        .active {
          color: #ffffff;
          background-color: #00AEC7;

          &:hover {
            background: #50AFC6;
          }
        }

        .link {
          color: #0093ad;

          &:hover {
            color: #00aec7;
            background-color: #ffffff;
          }
        }
  
        .more {
          cursor: pointer;
          
        }
      }
    }

    .content-special-list {
      width: 1000px;
      overflow: hidden;
      min-height: 330px;
      margin-bottom: 8px;
      background: #fff;
      padding: 16px 20px 33px 16px;

      .widget-header {
        display: flex;
        justify-content: space-between;

        .title {
          font-size: 16px;
          line-height: 16p;
          font-weight: bold;
        }

        .special-search {
          width: 240px;
          height: 28px;
          line-height: 28px;
          background: #fff;
          border: 1px solid #c5c5c5;
        }
      }

      .module-tab-nav {
        display: flex;
        margin-top: 16px;
        padding-left: 1px;
        line-height: 22px;
        margin-bottom: 24px;
        align-items: flex-start;

        .module-tab-title {
          color: #666;
          font-size: 14px;
          min-width: 100px;
          line-height: 22px;
          margin-right: 40px;
        }

        .module-tab-type {
          .module-tab-btn {
            display: inline-block;
            color: #666;
            padding: 0 4px;
            font-size: 14px;
            cursor: pointer;
            line-height: 22px;
            margin-right: 40px;
          }

          .active {
            border: 1px solid #0093AD;
            border-radius: 2px;
          }
        }

      }

      .table-container {
        position: relative;

        .wind-ui-table-title {
          padding: 0;
          color: #666;
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 14px;
          font-weight: normal;
        }

        .wind-ui-table-empty {
          line-height: 150px;
        }

        .title-num {
          display: none;
        }

        .tips {
          position: static;
        }

        .page-tip {
          left: 0;
          bottom: 0px;
          color: #999;
          text-align: left;
          font-size: 14px;
  
          span {
            color: #00aec7;
            cursor: pointer;
          }
        }
      }
    }
  }

}
