@import '@/app.less';
.condition-pre {
  position: relative;
}
.preSeachResult {
  border: 1px solid #c5c5c5;
  width: 100%;
  .w-input-affix-wrapper {
    width: 100%;
    border: none;
    box-shadow: none;
  }
}
.preSeachResult:focus {
  border-color: @--blue-8;
  outline: 0;
  box-shadow: 0 0 3px 0 @--blue-8;
}
.prelist-item {
  line-height: 34px;
  height: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 12px;
  border-bottom: 1px solid #e8e8e9;
  font-size: 14px;
  padding-bottom: 0px;
  em {
    font-style: normal;
    color: #00aec7;
  }
}
.prelist-item:hover {
  cursor: pointer;
  background-color: #fff;
  color: #00aec7;
}
.searchList {
  width: 100%;
  position: absolute;
  z-index: 10;
  line-height: 32px;
  background-color: #fff;
  box-shadow: 0 0 6px #d0cdcd;
  font-size: 14px;
  padding-bottom: 0px;
}
.pre-company {
  border: 1px solid transparent;
  width: max-content;
  font-size: 14px;
  color: black;
  // padding-right: 10px;
  margin-right: 5px;
  background: #f2f2f2;
  border-radius: 2px;
  margin-left: 8px;
  cursor: pointer;
  padding-left: 10px;
  display: inline-block;
  margin-top: 4px;
  i {
    cursor: pointer;
    font-style: normal;
    font-size: 12px;
    margin-left: 5px;
    color: #999;
    padding-right: 10px;
  }
}
.preSeachResult {
  .w-input-affix-wrapper:hover {
    border-color: var(--basic-8);
    outline: 0;
    box-shadow: none;
  }
  .w-input-affix-wrapper:focus {
    border-color: none;
    box-shadow: none;
  }
}
.preSeachResult:hover {
  box-shadow: 0 0 3px 0 #00aec7;
}
.preSeachResult {
  position: relative;
  .w-input-affix-wrapper-focused,
  .w-input-affix-wrapper-focused:hover {
    border-color: none;
  }

  .historySearch {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 0 6px #d0cdcd;
    width: 100%;
    margin-top: 2px;
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      line-height: 32px;
      height: 32px;
      border-bottom: 1px solid #e8e8e9;
      padding-left: 12px;
      cursor: pointer;
    }
    div:hover {
      color: #77c4d4;
    }
  }
  .historySearch div:first-child {
    cursor: initial;
    font-weight: bold;
    color: #333 !important;
  }
}
