.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px -8px 0;
}

.item {
  margin: 0 8px 8px 0;
}

.itemNoShrink {
  flex-shrink: 0;
}

.itemGrow {
  flex: 1 1 0;
  min-width: 100px;
}

.error {
  border: 1px solid red;
  padding: 10px;
  color: red;

  strong {
    font-weight: bold;
  }
}
