.address.park {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .park {
    display: flex;
    align-items: center;
    i {
      background: url(../../../../../assets/fcon/ZDYQ.svg) no-repeat center;
      width: 16px;
      height: 16px;
      background-size: 100%;
      margin-right: 8px;
      display: inline-block;
    }
    a {
      display: inline;
    }
  }
}
