#contact .article {
  width: 414px;
  margin: 0 auto;
}

#contact {
  width: 100%;
}

#contact .container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
  position: relative;
}

#contact .menu {
  width: 218px;
  border: 1px solid #f2f2f2;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
  position: fixed;
  top: 90px;
  cursor: pointer;
  font-size: 14px;
  background: #fff;
  max-height: 600px;
  box-sizing: border-box;
  overflow-y: auto;
}

#contact .menu div {
  width: 196px;
  margin: 10px auto;
  padding-top: 10px;
  color: #797979;
}

#contact .menu .sel {
  color: #333;
}

#contact .content {
  min-width: 812px;
  flex-grow: 1;
  border: 1px solid #f2f2f2;
  margin-left: 240px;
  min-height: 900px;
}

#contact .content .title {
  margin: 50px 0 15px 0;
  padding: 0px 40px;
  color: #797979;
  width: 720px;
  color: #333;
  font-size: 20px;
  line-height: 22px;
}

#contact .content .subTitle {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 22px;
  color: #666;
  margin: 20px 0;
  padding: 0px 40px;
}

#contact .source {
  width: 540px;
  margin: 20px auto;
  color: #666;
  font-size: 14px;
  line-height: 22px;
}

.contact-container {
  display: flex;
  padding-top: 20px;
  position: relative;
}

.contact-container > :first-child {
  flex: auto;
  max-width: 360px;
  margin-right: 20px;
}

.contact-container > :last-child {
  flex: 1 0 812px;
  box-sizing: border-box;
}

.contact-content .apply-content {
  line-height: 24px;
}

.contact-main {
  box-sizing: border-box;
}

.about-side-menu {
  display: flex;
  flex-direction: column;

  width: 240px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

.about-side-menu > * {
  cursor: pointer;

  padding: 10px;
  margin-bottom: 5px;
}

.about-side-menu a {
  color: #333333;
  text-decoration: none;
}

.about-side-menu > *:hover {
  background: #ddd;
}

.about-side-menu > *.active {
  background: #00aec7;
  color: #fff;
}

.customer-title {
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #3a3a3a;
}

.user-note-page {
  padding: 10px;
  font-size: 14px;
}

.user-note-page h1 {
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
}

.user-note-page h2 {
  font-size: 18px;
  margin: 10px 0;
}

.user-note-page {
  padding: 10px;
  position: relative;
  font-size: 14px;
  color: #333333;
  line-height: 22px;
}

.user-note-page h1 {
  font-size: 16px;
  text-align: center;
  margin: 10px 0 12px;
  color: #000000;
  font-weight: bold;
  line-height: 24px;
}

.user-note-page h2 {
  font-size: 18px;
  margin: 10px;
  font-weight: bold;
}

.user-note-page i {
  font-style: normal;
  font-weight: bold;
}

.user-note-page .lev1 {
  font-size: 16px;
  color: #000000;
  line-height: 24px;
}

.apply-content h1 {
  text-align: center;
  font-size: 16px;
}

.apply-content h3 {
  font-size: 14px;
}
