@prefix: ai-box;

.@{prefix} {
  &-container {
    --scale: 0.5;
    > div {
      transform: scale(var(--scale));
    }
    :global(.bitmap-animation-container) {
      justify-content: flex-end;
    }
    :global(.bitmap-animation) {
      border-radius: 10%;
      overflow: hidden;
    }
  }
}
