.links-container {
  cursor: pointer;
  color: var(--font-color-2);
  padding-bottom: 1px;

  &.links-underline {
    text-decoration: underline;
    text-decoration-color: #c5c5c5;
    text-underline-offset: 4px;
  }

  .tag {
    margin-bottom: 4px;
    font-size: 8px;
    display: inline-block;

    > * {
      margin-bottom: 2px;
      opacity: 0.6;
    }
  }
}

.tooltip-simple-content {
  color: #000;

  &:has(.tooltip-content) {
    .tooltip-content {
      text-align: left;
    }

    text-align: right;
  }
}

.w-tag {
  .links-container {
    color: inherit;
    padding: inherit;
    border-bottom: inherit;
  }
}

.wind-ui-table a.links-container {
  color: var(--font-color-2);
  border-bottom: 1px solid #c5c5c5;

  &.info {
    color: #00aec7 !important;
    border-bottom: 0;
  }
}
