.typist-wrap {
  @height: 32px;

  @ellipsis-height: 32px;

  font-size: 14px;
  height: @height;
  line-height: @height;
  // font-size: 32px;
  // color: #333333;
  letter-spacing: 0;
  font-weight: 400;
  overflow: hidden;
  position: relative;

  &.no-steps {
    height: @height;
  }

  .typist-inner {
    transition: transform 0.5s ease-in-out;

    .ellipsis {
      height: @ellipsis-height;
      line-height: @ellipsis-height;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
