.containerSafari {
  .content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;

    .btn {
      color: var(--primary);
      cursor: pointer;

      &--open {
        position: absolute;
        width: fit-content;
        padding-left: 40px;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, transparent, #fff 40px);
      }
    }
  }
}
