@import 'gel-ui/variables.less';

.pagination {
  display: flex;
  align-items: center;

  &__divider {
    margin-left: @component-space-sm;
    margin-right: @component-space-sm;
    color: @font-color-4;
  }

  &__total {
    color: @font-color-3;
  }
}
