@prefix: checkbox-radio-display;

.@{prefix} {
  &-container {
    display: flex;
    flex-wrap: wrap;
    &-item {
      margin-right: 8px;
      margin-bottom: 8px;
      &-active {
        background-color: var(--click-1);
        color: var(--click-5);
        border: 1px solid var(--click-1);
      }
      padding: 2px 8px;
      border-radius: 2px;
      border: 1px solid var(--basic-14);
    }
  }
}
