.container {
  overflow-x: hidden;
}

.title {
  font-size: 20px;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background: url('~@/assets/vip/banner.png') no-repeat;
  background-size: 110% 130%;
  height: 128px;
  color: #fff;
  background-position: -20px -20px;
  text-align: center;
}

.description {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.thirdPartyNotice {
  font-weight: bold;
  text-align: center;
}
