@import '@/styles/shared/variables.less';

.tag {
  line-height: 18px;
  border-radius: 2px;
  margin-right: @component-space-lg;

  flex: none;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;

  &.colorL,
  &.colorN,
  &.colorRN {
    color: @color-1;
    background-color: #deebf1;
  }

  &.colorR {
    color: @color-2;
    background-color: #feeddc;
  }

  &.colorA {
    color: @color-10;
    background-color: #ede8f3;
  }

  &.colorDPU,
  &.colorData {
    color: @color-3;
    background-color: #e7f5f5;
  }

  &.colorYQ {
    color: @color-6;
    background-color: #fbf6e6;
  }

  &.colorfile {
    color: @color-9;
    background-color: @basic-15;
  }
}

.en {
  width: 52px;
}