@import 'gel-ui/variables.less';

.pdf-document {
  &__loading {
    text-align: center;
  }
}

.pdf {
  padding: 0;

  :global {
    .react-pdf__Page {
      margin: 12px 0;
    }

    .react-pdf__message {
      text-align: center;
    }

    .pdf-selection.active {
      background: rgba(118, 211, 225, 0.5);
    }
  }
}
