.companyNews-container {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 12px;
  border-top: 1px solid #ddd;
  .wind-ui-table-container {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    .wind-ui-table-row-even {
      background: none !important;
    }
  }
  .companyNews-item {
    padding: 12px 8px;
  }
  .companyNews-title {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 12px;
    cursor: pointer;
  }
  .companyNews-tag {
    background-color: white;
    color: rgba(126, 202, 203, 1);
    border: 1px solid;
    border-color: rgba(126, 202, 203, 1);
    border-radius: 2px;
    display: inline-block;
    padding: 0px 8px;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 6px;
  }
  .companyNews-tag-middle {
    color: rgba(137, 137, 139, 1);
    border-color: rgba(137, 137, 139, 1);
  }

  .companyNews-tag-bad3 {
    background-color: white;
    color: rgba(247, 158, 68, 1);
    border: 1px solid;
    border-color: rgba(247, 158, 68, 1);
    border-radius: 2px;
  }
  .companyNews-tag-bad4 {
    background-color: white;
    color: rgba(229, 124, 124, 1);
    border: 1px solid;
    border-color: rgba(229, 124, 124, 1);
    border-radius: 2px;
  }
  .companyNews-tag-bad5 {
    background-color: white;
    color: rgba(179, 74, 74, 1);
    border: 1px solid;
    border-color: rgba(179, 74, 74, 1);
    border-radius: 2px;
  }
  .companyNews-date {
    margin-right: 30px;
    color: #666666;
  }
  .companyNews-site {
    color: #666666;
  }
}
