.feedback-nav {
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
}

.window-locale-en-US {
  .feedback-nav {
    .w-radio-wrapper {
      margin-right: 0px;
      span.w-radio + * {
        padding: 0 4px;
      }
    }
  }
}
.w-modal-body {
  height: 100%;
  overflow-y: auto;
}
.feedback-content {
  height: 100%;
  // pre{
  //     font-family:inherit
  // }
}
.feedback-nav-company-title {
  margin-bottom: 5px;
}
.feedback-nav-desc-title {
  margin-bottom: 5px;
}
.feedback-nav-type-title:after,
.feedback-nav-desc-title:after {
  content: '*';
  color: rgba(223, 38, 44, 1);
  margin-left: 6px;
}
.feedback-warning {
  color: rgba(223, 38, 44, 1);
}
