/**
 * HorizontalTable styles as CSS Module
 */
@import 'report-util/style';

.horizontalTable {
  .table-base();
  table-layout: fixed;

  &-TR {
    th {
      background-color: @table-head-bg;
    }

    &:nth-child(even) {
      .labelCell {
        background-color: @table-item-title-even-bg;
      }
    }

    &:nth-child(odd) {
      background-color: @table-row-even-bg;
      .labelCell {
        background-color: @table-item-title-odd-bg;
      }
    }
  }
}

// 悬停样式 拆分写，来增加样式优先级
.horizontalTable {
  .horizontalTable-TR {
    .table-row-hover();
  }
}

.bordered {
  .table-bordered();
}

.sizeDefault {
  .table-size-default();
}

.cell {
  height: 14px;
  line-height: 18px;
}

.labelCell {
  font-weight: 500;
  text-align: left;
  .vertical-align(middle);
  padding: @table-cell-padding;
}

.valueCell {
  .text-align(left);
  .vertical-align(middle);
  word-break: break-word;
  padding: @table-cell-padding;
}

.loadingCell {
  position: relative;
  /* Ensure the cell has some height even when empty, for the loader to be visible */
  min-height: 100px;
}
