@prefix: base-radio-group;

.@{prefix} {
  &-container {
    :global {
      .w-radio-wrapper {
        min-width: 160px;
        background-color: #fff;
        cursor: pointer;
      }
    }
  }
  &-option {
    margin-inline-end: 8px !important;
  }
}
