.corp-tech-score-title {
  display: flex;
  line-height: 28px;
  justify-content: space-between;

  .table-title-container {
    display: flex;
    align-items: center;
  }

  &--info-circle {
    margin-left: 0px !important;
  }

  &--date {
    margin-left: 12px;
    font-size: 14px;
    font-weight: normal;
    color: #999;
  }
}
