@prefix: radio-with-date-range;

.@{prefix} {
  &-option {
    margin-inline-end: 8px !important;
    min-width: 160px;
    background-color: #fff;
    cursor: pointer;
    margin-block-end: 8px;
  }
}
