.home-search-form {
  .btn_search {
      border: none!important;
      background: #4578B4!important;

      &:hover {
          background: #4D87CA!important;
      }
  }

  input {
      background: rgba(255,255,255,0.86)!important;
  }
}