@prefix: wind-header;

.@{prefix} {
  &-container {
    width: 100vw;
    min-width: 800px;
    height: 36px;
    background: var(--gray-1);
    color: var(--basic-15);
  }
  &-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 12px;
    max-width: 1080px;
    &-full {
      padding: 0 24px;
      max-width: 100vw !important;
    }
  }
  &-left {
    // width: 28px;
    height: 24px;
    cursor: pointer;
    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 100%;
      height: 24px;
      margin-inline-end: 8px;
    }
  }
  &-right {
    display: flex;
    align-items: center;
    color: var(--gray-4);
    font-weight: normal;
    &-item {
      height: 36px;
      cursor: pointer;
      margin-left: 24px;
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 100%;
        margin-left: 2px;
      }
      :hover {
        color: var(--click-3);
      }
      &-hover {
        color: var(--click-3);
      }
    }
  }
}
