.industry-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  :global {
    .corp-industry-tree {
      width: 100%;
    }

    .w-btn-link {
      align-self: flex-end;
    }
  }
} 