@prefix: super-chat-cde-right;
@children-prefix: vis-table;

.@{prefix} {
  &-container {
    width: 100%;
    height: 100%;
    :global {
      .vis-table-container {
        .vis-table-header {
          --header-height: 41px;
          border-bottom: 1px solid var(--basic-14);
          padding-inline-start: 0;
          padding-inline-end: 0;
          margin-block-end: 0;
        }

        .vis-table-content {
          padding-inline-start: 0;
          padding-inline-end: 0;
        }
      }
    }
  }
}
