@import '../../../../styles/variables.less';
@prefix: file-tree;

.@{prefix} {
  &-header {
    font-weight: 500;
    font-size: 18px;
    // padding: 12px 8px;
    border-bottom: 1px solid #e5e7eb;
    height: 48px;
    display: flex;
    align-items: center;
    padding-inline-start: @spacing-sm;
  }

  &-content {
    margin-top: 8px;
  }

  &-node {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: #f3f4f6;
    }

    &-active {
      background-color: #e6f7ff;
      color: #1890ff;
    }

    &-container {
      position: relative;
    }

    &-content {
      display: flex;
      align-items: center;
    }

    &-name {
      font-size: 14px;
    }
  }

  &-toggle {
    margin-right: 4px;
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;

    &-small {
      width: 12px;
      height: 12px;
    }
  }

  &-folder-icon {
    color: #fadb14;
  }

  &-file-icon {
    color: #8c8c8c;
  }

  &-children {
    margin-left: 8px;
  }
}

.file-tree {
  .folder-toggle {
    transition: transform 0.2s ease;
    &.expanded {
      transform: rotate(90deg);
    }
  }
}
