.simple-descriptions {
  --paddingInline: 8px;
  --paddingBlock: 0px;
  --hoverBg: rgba(0, 0, 0, 0.04);
  --oddBg: rgba(0, 0, 0, 0.03);
  --evenBg: rgba(0, 0, 0, 0.02);
  .ant-descriptions-view {
    .ant-descriptions-row {
      // border-bottom: 0px !important;
      &:hover {
        background-color: var(--hoverBg) !important;
      }

      &:nth-child(odd) {
        background-color: var(--oddBg); /* 奇数行的背景色 */
      }
      &:nth-child(even) {
        background-color: #ffffff; /* 偶数行的背景色 */
      }
      .ant-descriptions-item-label,
      .ant-descriptions-item-content {
        padding-inline-start: var(--paddingInline) !important;
        padding-inline-end: var(--paddingInline) !important;
        padding-block-start: var(--paddingBlock) !important;
        padding-block-end: var(--paddingBlock) !important;
        border: 0px !important;
      }
      .ant-descriptions-item-label {
        color: inherit !important;
        font-weight: 600;
        background: var(--evenBg) !important;
      }
    }
  }
}
