.subTitle {
  color: #000;
  line-height: 24px;
  font-size: 14px;

  display: flex;
  align-items: center;

  &.hasVal {
    // Add hasVal styles if needed
  }

  & > *:not(:last-child) {
    margin-right: 4px;
  }
}
