.number-range-option {
  // 两层来增加权重
  .number-range-option {
    &-first {
      width: 63px;
    }

    &-second {
      width: 63px;
    }
  }
  :global(.w-input-number-handler-wrap) {
    display: none;
  }
}
