@import '@/style/mixins.less';

.radio-group {
  .flex-grid-layout(6, 12px);

  .custom-radio {
    display: inline-flex;
    align-items: center;
    label {
      margin-right: 0;
    }

    :global(.w-radio) {
      top: 0;
    }
    & > span:last-of-type {
      display: inline-flex;
      align-items: center;

      & > *:not(:last-child) {
        margin-right: 6px;
      }
    }
  }

  :global {
    .w-radio-wrapper {
      & > span:last-of-type {
        color: rgb(102, 102, 102);
        margin-right: 0;
      }
    }
  }
}
