@import '@/styles/colorVariables.less';

.updateTimeContainer {
  color: @icon-color;
  font-size: 14px;
  font-weight: normal;
  float: right;

  .refreshIcon {
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: @primary-hover;
    }

    &.animating {
      color: @primary-active;
      animation: spinAnimation 0.8s linear;
      animation-iteration-count: 5;
      cursor: not-allowed;
      pointer-events: none; /* 禁止鼠标事件 */
    }
  }

  .timeLabel {
    margin-left: 4px;
  }

  .timestamp {
    margin-left: 4px;
  }
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
