.conditionItem {
  margin-bottom: 32px;
  position: relative;
  // border: 1px solid #ededed;
  // border-radius: 4px;
  // padding: 12px;

  & > *:not(:last-child) {
    margin-bottom: 8px;
  }
}

.title-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.reset-button {
  margin-inline-start: 18px;
  color: #666666;
}

.checkAllBox {
  margin-inline-start: 18px;
  color: #666666;
}
