@prefix: cde-footer;

.@{prefix} {
  &-container {
    height: 48px;
    display: flex;
    align-items: center;
    border-top: 1px solid #f0f0f0;
    justify-content: space-between;
    padding: 0 12px;
  }
  &-submit-button {
    border: 1px solid #eaf6fa;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    background-color: #d3eef5;
    min-width: 180px;

    &:hover {
      background-color: #3dc1d4;
      .@{prefix}-submit-button-content-remark {
        color: #fff;
      }
    }

    &.disabled {
      background-color: #d3eef5;
      opacity: 0.6;
      cursor: not-allowed;
      .@{prefix}-submit-button-content-remark {
        color: var(--basic-8);
      }
    }
  }
  &-submit-button-content {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-text {
      font-size: 14px;
      font-weight: 600;
      color: var(--basic-2);
      text-align: center;
    }
    &-remark {
      font-size: 12px;
      color: var(--basic-8);
      text-align: center;
    }
  }
}

.@{prefix}-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-remark {
    font-size: 12px;
    color: var(--basic-7);
    text-align: center;
    display: flex;
    align-items: center;
    strong {
      color: var(--click-6);
      font-weight: 600;
      font-size: 14px;
      padding: 0 2px;
    }
    &-count {
      display: flex;
      align-items: center;
      color: var(--orange-6);
      font-weight: 600;
      font-size: 14px;
      padding: 0 8px;
    }
  }
}
