@import 'report-util/style';

.pdf-cover {
  padding-top: @report-cover-top-height;
}

.pdf-comment {
  padding-top: @report-cover-top-height;
}

.pdf-appendix {
  padding-top: @report-cover-top-height;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #525659;
}
