@prefix: logic-with-searchable-tags;
.@{prefix} {
  &-container {
    display: flex;
    flex-direction: column;
  }
  &-select-container {
    display: flex;
    align-items: center;
    width: 100%;
    :global {
      .w-select {
        max-width: 100% !important;
      }
    }
  }
  &-select {
    width: 100%;
    margin-inline-start: 8px;
  }
  &-tags-container {
    > .@{prefix}-tag-item {
      margin: 8px 0;
    }
  }
  &-tag-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    padding: 8px;
    border-radius: 2px;
    // background-color: var(--basic-15);
    border: 1px solid #ededed;

    &-date-picker-container {
      margin-inline-start: 8px;
    }
    &-close {
      cursor: pointer;
      margin-inline-start: 8px;
    }
    &-content {
      display: flex;
      align-items: center;
    }
  }
}

.@{prefix}-dropdown-container {
  // 针对所有 wind-ui 的 select 下拉框的样式
  :global {
    .w-select-list-holder {
      max-width: 100% !important;
    }
  }
}

// .logic-with-searchable-tags-tags-container {
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: 8px;
// }

// .logic-with-searchable-tags-tag {
//   display: flex;
//   align-items: center;
// }

// .logic-with-searchable-tags-tag-content {
//   display: flex;
//   align-items: center;
// }

// .logic-with-searchable-tags-date-picker {
//   // Add any specific styles for the date picker inside the tag
// }
