.header-menus {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  line-height: 24px;
  background-color: #fff;
  margin-bottom: 4px;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  user-select: none;
}

.logo-item {
  display: flex;
}

.logo {
  color: #333;
  font-weight: 700;
  font-size: 32px;
  min-width: 144px;
  letter-spacing: 6px;
}

.header-login-msg {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(255 255 255 / 90%);
  top: 30%;
  left: calc(50% - 150px);
  position: fixed;
  text-align: center;
  height: 43px;
  line-height: 42px;
  font-size: 15px;
  border-radius: 5px;
}
