@article-images-path: '../assets/images/articleImages/';
@home-images-path: '../assets/images/home/';

* {
  margin: 0;
  padding: 0;
  font-family:
    'PingFang SC',
    -apple-system,
    'Microsoft YaHei',
    'Arial',
    BlinkMacSystemFont,
    /*ios mac*/ /*Segoe UI,*/ sans-serif /*安卓端命中系统字体*/;
}

body {
  position: relative;
  box-sizing: border-box;
  max-width: calc(100vw - 10px);
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  height: 50px;
  width: 10px;
  border-radius: 5px;
  background-color: #b7b7b7;
}

*::-webkit-scrollbar:hover {
  width: 10px;
  background-color: #ededed;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #8e8e8e;
}

a {
  text-decoration: none;
  color: #333;
}

#gel,
#risk,
#contact,
#other {
  margin-top: 70px;
}

#gel .bg,
#risk .bg {
  width: 100%;
  height: 600px !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  position: relative;
  /* text-align: center; */
}

#gel .bg {
  background-image: url('@{home-images-path}home_bg_2x.jpg');
}

#risk .bg {
  background-image: url('@{home-images-path}riskimage_zh.jpg');
}

#gel .bg div {
  position: absolute;
  bottom: 80px;
  font-size: 22px;
  text-align: center;
  width: 100%;
}

.main-text {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

.main-text .sector {
  margin-top: 40px;
  margin-bottom: 60px;
}

.main-text .sector .title {
  text-align: center;
  color: #333;
  line-height: 42px;
  font-size: 32px;
  font-weight: bold;
}

.main-text .sector {
  .fontE {
    color: #666;
    text-align: center;
    margin-top: 32px;
  }
  .fontE.zh-CN {
    font-size: 20px;
    line-height: 30px;
  }
  .fontE.en-US {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }
}

.left-sector,
.right-sector {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 434px;
  align-items: center;
}

.left-sector .title,
.right-sector .title {
  text-align: left;
  color: #333;
  line-height: 42px;
  font-size: 32px;
  font-weight: bold;
}

.left-sector .fontC,
.right-sector .fontC {
  font-size: 16px;
  line-height: 26px;
  color: #666;
  width: 100%;
  margin-top: 41px;
}

.left-sector .section,
.right-sector .section {
  width: 559px;
}

.In-depth_Information {
  background: url('@{home-images-path}In-depth_Information.jpg') no-repeat;
}

.Equity_Penetration {
  background: url('@{home-images-path}Equity_Penetration.jpg') no-repeat;
}

.Associated_Relationship {
  background: url('@{home-images-path}Associated_Relationship.jpg') no-repeat;
}

.Financing {
  background: url('@{home-images-path}Financing.jpg') no-repeat;
}

.Group {
  background: url('@{home-images-path}Group.jpg') no-repeat;
}

.Report {
  background: url('@{home-images-path}Report.jpg') no-repeat;
}

.New_Enterprise {
  background: url('@{home-images-path}New_Enterprise.jpg') no-repeat;
}

.Enterprise_Lists_and_Directories {
  background: url('@{home-images-path}Enterprise_Lists_and_Directories.jpg') no-repeat;
}

.img {
  width: 533px;
  height: 434px;
  background-size: 100% 100%;
  background-position: 5px 20px;
}

.Wind_Map {
  background-image: url('@{home-images-path}Wind_Map.jpg');
}

.Newsletters {
  background-image: url('@{home-images-path}Newsletters.jpg');
}

.Bid {
  background-image: url('@{home-images-path}Bid.jpg');
}

.main-text .sector .fontA {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  line-height: 42px;
  width: 100%;
  text-align: center;
}

.main-text .sector .fontB {
  margin-top: 8px;
  font-size: 24px;
  line-height: 34px;
  color: #333;
  width: 100%;
  height: 22px;
  text-align: center;
}

.main-text .sector {
  .fontC {
    margin-top: 32px;
    text-align: center;
    color: #666;
    width: 100%;
  }
  .fontC.zh-CN {
    font-size: 20px;
    line-height: 30px;
  }
  .fontC.en-US {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }
}

.list .fontD {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  width: 100%;
  height: 42px;
  text-align: center;
}

.list .fontE {
  margin-top: 32px;
  font-size: 18px;
  line-height: 25px;
  color: #666;
}

.list .fontE ul {
  margin-left: 200px;
}

.list .fontE ul li {
  width: 1127px;
  font-size: 16px;
  line-height: 26px;
  color: #666;
}

.list .fontE ul li:nth-child(n + 2) {
  margin-top: 24px;
}

#risk .section {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 40px;
  height: 434px;
}

#risk .section ul {
  width: 100%;
  list-style: none;
}

#risk .section ul li {
  float: left;
}

.stocks1 {
  width: 533px;
  height: 434px;
  margin-left: 30px;
  background-image: url('@{home-images-path}risk1_zh.png');
}

.stocks2 {
  width: 533px;
  height: 434px;
  margin-left: 75px;
  background-image: url('@{home-images-path}risk2_zh.png');
}

#risk {
  padding-bottom: 70px;
}

.tips-container {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 68px;
  bottom: 0;
  z-index: 999;
}

.tips-position {
  margin-left: 300px;
  display: flex;
  justify-content: flex-start;
}

.tips-position .img {
  width: 688px;
  min-height: 600px;
  background-size: 100% 100%;
  background-image: url('@{home-images-path}rect.jpg');
  background-repeat: no-repeat;
}

.preview {
  font-size: 17px;
  color: #000;
  line-height: 28px;
  letter-spacing: 0.578px;
  padding: 16px;
  /* border: 1px solid rgb(13, 62, 121); */
  width: 720px;
  margin: 0 auto 20px;
}

.article div {
  width: 100%;
  background-repeat: no-repeat;
}

#article-0 .p-1 {
  background-image: url('@{article-images-path}0-1.jpg');
  height: 1470px;
}

#article-0 .p-2 {
  background-image: url('@{article-images-path}0-2.jpg');
  height: 1420px;
}

#article-0 .p-3 {
  background-image: url('@{article-images-path}0-3.jpg');
  height: 600px;
}

#article-0 .p-4 {
  background-image: url('@{article-images-path}0-4.jpg');
  height: 1840px;
}

#article-1 .p-1 {
  background-image: url('@{article-images-path}1-1.jpg');
  height: 1100px;
}

#article-1 .p-2 {
  background-image: url('@{article-images-path}1-2.jpg');
  height: 1200px;
}

#article-1 .p-3 {
  background-image: url('@{article-images-path}1-3.jpg');
  height: 1390px;
}

#article-1 .p-4 {
  background-image: url('@{article-images-path}1-4.jpg');
  height: 965px;
}

#article-2 .p-1 {
  background-image: url('@{article-images-path}2-1.jpg');
  height: 1450px;
}

#article-2 .p-2 {
  background-image: url('@{article-images-path}2-2.jpg');
  height: 1105px;
}

#article-2 .p-3 {
  background-image: url('@{article-images-path}2-3.jpg');
  height: 2035px;
}

#article-2 .p-4 {
  background-image: url('@{article-images-path}2-4.jpg');
  height: 1910px;
}

#article-3 .p-1 {
  background-image: url('@{article-images-path}3-1.jpg');
  height: 1405px;
}

#article-3 .p-2 {
  background-image: url('@{article-images-path}3-2.jpg');
  height: 1160px;
}

#article-3 .p-3 {
  background-image: url('@{article-images-path}3-3.jpg');
  height: 1145px;
}

#article-3 .p-4 {
  background-image: url('@{article-images-path}3-4.jpg');
  height: 1010px;
}

#article-4 .p-1 {
  background-image: url('@{article-images-path}4-1.jpg');
  height: 1340px;
}

#article-4 .p-2 {
  background-image: url('@{article-images-path}4-2.jpg');
  height: 1475px;
}

#article-4 .p-3 {
  background-image: url('@{article-images-path}4-3.jpg');
  height: 1445px;
}

#article-4 .p-4 {
  background-image: url('@{article-images-path}4-4.jpg');
  height: 2340px;
}

#article-4 .p-5 {
  background-image: url('@{article-images-path}4-5.jpg');
  height: 1465px;
}

#article-4 .p-6 {
  background-image: url('@{article-images-path}4-6.jpg');
  height: 1900px;
}

#article-5 .p-1 {
  background-image: url('@{article-images-path}5-1.jpg');
  height: 1950px;
}

#article-5 .p-2 {
  background-image: url('@{article-images-path}5-2.jpg');
  height: 1490px;
}

#article-5 .p-3 {
  background-image: url('@{article-images-path}5-3.jpg');
  height: 1380px;
}

#article-5 .p-4 {
  background-image: url('@{article-images-path}5-4.jpg');
  height: 1765px;
}

#article-5 .p-5 {
  background-image: url('@{article-images-path}5-5.jpg');
  height: 1630px;
}

#article-7 div,
#article-6 div {
  background-size: 100%;
}

#article-7 .p-1 {
  background-image: url('@{article-images-path}7-1.jpg');
  height: 920px;
}

#article-7 .p-2 {
  background-image: url('@{article-images-path}7-2.jpg');
  height: 900px;
}

#article-7 .p-3 {
  background-image: url('@{article-images-path}7-3.jpg');
  height: 920px;
}

#article-7 .p-4 {
  background-image: url('@{article-images-path}7-4.jpg');
  height: 916px;
}

#article-7 .p-5 {
  background-image: url('@{article-images-path}7-5.jpg');
  height: 926px;
}

#article-6 .p-1 {
  background-image: url('@{article-images-path}6-1.jpg');
  height: 906px;
}

#article-6 .p-2 {
  background-image: url('@{article-images-path}6-2.jpg');
  height: 906px;
}

#article-6 .p-3 {
  background-image: url('@{article-images-path}6-3.jpg');
  height: 906px;
}

#article-6 .p-4 {
  background-image: url('@{article-images-path}6-4.jpg');
  height: 906px;
}

#article-6 .p-5 {
  background-image: url('@{article-images-path}6-5.jpg');
  height: 920px;
}

.single {
  display: none;
}

#article-0 {
  display: block;
}

.preview {
  display: none;
}

#link {
  position: absolute;
  right: 0;
}

#link span:hover {
  border: none;
}

#link span {
  border: none;
}

.contact-content {
  box-sizing: border-box;
  padding: 20px 33px 20px 33px;
  margin: 0 auto !important;
  font-size: 14px;
  line-height: 32px;
  color: #666;
  min-height: calc(100vh - 292px);
  border-bottom: none !important;
  border-top: none !important;
}

.contact-content > * {
  padding: 0 !important;
}

.contact-content .source {
  width: 700px !important;
  margin-right: 0 !important;
  margin-left: 20px !important;
}

.contact-lf {
  line-height: 32px !important;
  height: 240px;
  cursor: auto !important;
  width: 160px !important;
  padding-top: 10px !important;
  padding-left: 12px;
  font-weight: 500;
}

.contact-lf div {
  width: 144px !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  font-size: 16px;
  margin-bottom: 0 !important;
}

.article-doc {
  padding: 0px 40px;
  font-size: 17px;
  color: #333;
  line-height: 28px;
  letter-spacing: 0.578px;
  display: none;
}

.article-doc p {
  margin-bottom: 10px;
}

.m-center {
  margin: 0 auto;
  display: block;
  width: 480px;
}
