// 订阅表单样式
.subscription-form {
  &--name-input {
    // 订阅名称输入框样式
  }

  &--push-group {
    // 推送设置样式
    margin-bottom: 8px;
  }

  &--radio-group {
    display: flex;
    flex-direction: column;

    :global(.ant-radio-wrapper) {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--push-sub-options {
    // 推送子选项容器样式
    margin-left: 22px; // 整体缩进
    position: relative;
  }

  &--email-container {
    // 邮件通知行容器
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &--email-checkbox {
    // 邮件通知复选框样式
    margin-bottom: 0;
    margin-right: 8px;
  }

  &--email-input {
    // 输入框样式
    margin-bottom: 0;
    flex: 1;

    :global(.ant-input) {
      width: 100%;
      max-width: 344px;
    }
  }

  &--email-readonly {
    display: flex;
    align-items: center;

    &-text {
      // 只读文本样式
    }

    &-icon {
      margin-left: 8px;
      color: #1677ff;
      cursor: pointer;
      font-size: 16px;
    }
  }

  &--email-hint {
    color: #999;
    margin-top: 4px;
  }
}
