.feture-list-body {
  background-color: rgba(0, 0, 0, 0);

  #fetured-toolbar {
    height: 38px;
    background-color: #fff;
    z-index: 4;
    top: 0px;
    position: sticky;

    .fetured-toolbar-content {
      width: 1280px;
      margin: 0 auto;
      display: flex;
      // position: relative;
      justify-content: space-between;

      .w-breadcrumb {
        padding: 8px 0;

        a,
        span {
          color: #333;
        }

        a:hover {
          color: #0093ad;
        }
      }

      .link-fetured {

        // float: right;
        line-height: 38px;

        .preSearch {
          position: relative;
          display: inline-block;
          margin-left: 4px;

          .search_box {
            background-color: #fff;
            position: absolute;
            top: 32px;
            right: 0;
            width: 100%;
            padding: 4px;
            box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);

            p {
              line-height: 26px;
              padding: 0 4px;
              cursor: pointer;
            }
          }
        }

      }
    }
  }

  .search-fetured-result {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 12px;

    .search-fetured-category {
      .w-tree-node-content-wrapper {
        height: auto;
        white-space: pre-wrap;
      }

      width: 208px;
      float: left;
      background: #fff;
      overflow-y: scroll;
      position: fixed;
      // top: 86px;
    }

    .search-fetured-list {
      overflow-x: hidden;
      overflow-y: auto;
      width: 1060px;
      margin-left: 220px;

      .loadingBox {
        height: 80vh;
        text-align: center;
        line-height: 80vh;
        margin-bottom: 10000px;
      }

      .loading-more {
        color: #999;
        margin-bottom: 60px;
        text-align: center;
        background-color: #fff;
        padding: 5px 0;
        line-height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .hint {
        margin-bottom: 10px;

        em {
          color: #333;
        }
      }

      .rankCard p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
  }
}

.page-container {
  background-color: rgba(0, 0, 0, 0) !important;
}

em {
  font-style: normal;
  color: #00aec7;
}