.aiChartsContent {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.aiChartsLeft {
  height: 100%;
  // background-color: #f3f5f7;
}

.aiChartsRight {
  position: relative;
  height: 100%;
  overflow-y: auto;
  flex: 1 !important;
}
.AiTips {
  position: absolute;
  font-size: 12px;
  color: #999;
  line-height: 22px;
  left: 50%;
  bottom: 60px;
  -webkit-transform: translate(-50%, 7px);
  -ms-transform: translate(-50%, 7px);
  transform: translate(-50%, 7px);
}
.versionSwitch {
  position: absolute;
  bottom: 10px;
  left: 12px;
  :global {
    .w-pagination-item,
    .w-pagination-jump-prev,
    .w-pagination-jump-next,
    .w-pagination-prev,
    .w-pagination-next {
      width: 36px;
      height: 36px;
      line-height: 36px;
    }
    .w-pagination-item {
      font-size: 16px;
    }
    .w-pagination-item-active {
      background-color: #f6f3ff !important;
      font-weight: 500;
    }
  }

  // :global(.w-radio-button-wrapper) {
  //   background-color: #f3f5f7;
  //   border: none;
  //   color: #999;
  //   margin-right: 12px;
  // }
  // :global(.w-radio-button-wrapper.w-radio-button-wrapper-checked) {
  //   background: #f6feff;
  //   border: 1px solid #00aec7;
  //   color: #00aec7;
  // }
}
.hiddenPrevBtn {
  :global {
    .w-pagination-prev {
      display: none;
    }
  }
}

.hiddenNextBtn {
  :global {
    .w-pagination-next {
      display: none;
    }
  }
}
