@import 'gel-ui/variables.less';

.menu {
  // width: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  :global {
    .w-menu-item-selected {
      background-color: @menu-item-active !important;
      // color: white !important;
    }
    .w-menu-item {
      height: 40px !important;
      display: flex;
      align-items: center;
    }
  }
}
