.free-outline-editor {
  overflow: hidden;

  :global {
    .tox .tox-edit-area__iframe {
      background-color: transparent;
    }

    .tox .tox-statusbar {
      display: none !important;
    }
  }
}
