.chart-content-bottom {
  position: absolute;
  text-align: center;
  height: 24px;
  line-height: 24px;
  width: auto;
  background: #fff;
  color: #aaaa;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 6px;
}
