@prefix: app-side-menu;

.@{prefix} {
  &-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: auto 30%;
      content: '';
      pointer-events: none;
      opacity: 0.1;
    }
  }
  /* 角色卡片 */
  &-roleCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px 12px 12px;
    background: var(--color-bg-2);
    position: sticky;
    top: 0;
    z-index: 1;
    margin: -4px;
  }
  &-roleCard,
  &-roleCardActive {
    position: relative;
    height: 70px;
    border-radius: 10px;
    border: 1px solid var(--border-color-base);
    background: var(--button-default-bg);
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    margin: 4px;
    &:hover {
      .@{prefix}-roleCardTitle {
        height: 20px;
      }
      transition: height 1s ease;
    }
  }
  &-roleCardActive {
    border-color: var(--border-color-active);
    box-shadow: var(--shadow-focus);
  }
  &-roleCardBgMini {
    position: absolute;
    inset: 0;
    background-image: var(--mini);
    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-position: 12px 8px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    pointer-events: none;
  }
  &-roleCardBgFull {
    position: absolute;
    left: -10%;
    right: -10%;
    bottom: -24px;
    height: 90px;
    background-image: var(--full);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 120% auto;
    filter: blur(10px) opacity(0.4);
    pointer-events: none;
  }
  &-roleCardTitle {
    position: absolute;
    height: 0px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    text-align: center;
    line-height: 20px;
    font-weight: 600;
    color: var(--font-color-2);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 10px 10px;
  }

  &-menu {
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
  }
  &-item,
  &-itemActive {
    display: flex;
    align-items: center;

    // border: 1px solid transparent;
    background: transparent;
    color: var(--font-color-2);
    padding: 12px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 4px;
  }
  &-item:hover {
    background: var(--item-hover);
  }
  &-itemActive {
    background: var(--item-active);
    border-color: var(--border-color-active);
    color: var(--font-color-1);
  }

  &-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
  }
  &-dotIcon {
    width: 8px;
    height: 8px;
    background: var(--icon-color);
    border-radius: 50%;
    display: inline-block;
  }
  &-label {
    flex: 1;
    margin-inline-start: 12px;
    min-width: 180px; // 防止动画效果的时候会变小
  }
}
