.header {
  display: flex;
  align-items: center;
  justify-content: start;

  .robotIcon {
    font-size: 24px;
    margin-right: 8px;
    color: white;
  }

  .title {
    margin: 0;
    color: white;
  }

  .disclaimer {
    margin-left: auto;
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
  }
}
