.overview {
  &-wrapper {
    width: 340px;
    overflow-y: auto;
  }

  &-list-item {
    &:hover {
      background-color: rgba(0, 0, 0, 0.02);
    }
  }

  &-list-item-desc {
    color: #666666 !important;
  }
}
