@prefix: indicator-tree-panel-footer;
.@{prefix} {
  &-container {
    min-width: 900px;
    overflow: hidden;
    border-top: 1px solid var(--basic-14);
    padding: 8px 16px;
    margin: 0;
  }
  &-notice {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8px;
  }
  &-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
