@import '@/styles/variables.less';

.home-button {
  width: 24px !important;
  height: 24px !important;
  padding: 0;
  background: none;
  border: none !important;

  &:hover {
    path {
      fill: @primary;
    }
  }
  &-icon {
    font-size: 16px;
  }
}
