// height variable
@searchFormHeight: 40px;
@searchFormBorderWidth: 1px;
@searchFormBtnWidth: 80px;

.homeSearchForm {
  // max-width: 1266px;
  margin-top: 16px;

  width: 100%;

  height: @searchFormHeight;
  :global {
    .search-inputarea {
      width: 100%;

      display: flex;
      justify-content: space-between;
    }
    .txt_search {
      flex: 1;
      font-size: 14px !important;
      font-weight: normal !important;
      line-height: 20px !important;

      box-shadow: none !important;
      border-radius: 4px 0px 0px 4px !important;
      background: #ffffff !important;
      border: 1px solid #e5e7eb !important;

      height: @searchFormHeight !important;
      line-height: @searchFormHeight !important;
    }

    input {
      background: rgba(255, 255, 255, 0.86) !important;
    }

    .search-relation-from-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > * {
        flex: 1;
      }

      .btn_search {
        flex-basis: @searchFormBtnWidth !important;
        flex-grow: 0 !important;
        flex-shrink: 0 !important;
      }
      .txt_search {
        width: 100% !important;
      }
      .icon-search-relation {
        flex-basis: 27px;
        flex-grow: 0 !important;
        flex-shrink: 0 !important;
        margin-top: 0px !important;
      }
    }
  }
  .searchBtn {
    height: @searchFormHeight !important;
    line-height: @searchFormHeight !important;
    width: @searchFormBtnWidth !important;
  }
  .search-relation-icon {
    background: url(~@/assets/imgs/web_sprite.png) no-repeat !important;
    width: 27px !important;
    height: 30px !important;
    background-position: -100px -80px !important;
  }
}
