.homeSearchForm {
  margin-top: 16px;
  width: 100%;
  height: 40px;
}
.homeSearchForm :global .search-inputarea {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.homeSearchForm :global .txt_search {
  flex: 1;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 20px !important;
  box-shadow: none !important;
  border-radius: 4px 0px 0px 4px !important;
  background: #ffffff !important;
  border: 1px solid #e5e7eb !important;
  height: 40px !important;
  line-height: 40px !important;
}
.homeSearchForm :global input {
  background: rgba(255, 255, 255, 0.86) !important;
}
.homeSearchForm :global .search-relation-from-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeSearchForm :global .search-relation-from-wrap > * {
  flex: 1;
}
.homeSearchForm :global .search-relation-from-wrap .btn_search {
  flex-basis: 80px !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
}
.homeSearchForm :global .search-relation-from-wrap .txt_search {
  width: 100% !important;
}
.homeSearchForm :global .search-relation-from-wrap .icon-search-relation {
  flex-basis: 27px;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  margin-top: 0px !important;
}
.homeSearchForm .searchBtn {
  height: 40px !important;
  line-height: 40px !important;
  width: 80px !important;
}
.homeSearchForm .search-relation-icon {
  background: url(~@/assets/imgs/web_sprite.png) no-repeat !important;
  width: 27px !important;
  height: 30px !important;
  background-position: -100px -80px !important;
}
