@import '../../../../../styles/mixin/corp/detail';
@import '../../../style/corpTable.module.less';
@import '@/views/Company/style/corpDetailVariable.less';

.hk-corp-content {
  margin-bottom: 0px;
  padding-top: 0px;

  &-inner {
    position: relative;
  }

  :global(.w-card-body) {
    position: relative; // 香港代查定位 modal 的父元素
  }
  :global(.w-card-head) {
    padding: 4px 0;
  }

  :global(.table-title) {
    color: #333;
    padding: 8px 0;
    position: relative;
    font-weight: bold;
    font-size: 16px;
  }

  :global(.card-header-title) {
    .corp-table-title-text-common();
    line-height: 20px;
  }
  // 最后一个 margin bottom 32px 其余 16px
  :global(.hk-corp-table-container) {
    margin-bottom: @table-custom-module-margin-bottom;
  }

  :global(.hk-corp-table-container:not(:last-child)) {
    margin-bottom: @table-custom-module-margin-bottom-nested;
  }
}
