@import 'gel-ui/variables.less';

.AIButton {
  color: #8b8b8b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  margin-right: 20px !important;
  &:hover {
    color: @primary-hover;
  }
  :global(.w-btn) {
    color: #8b8b8b;
  }
}
