@import '@/styles/variables.less';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 536px;
  height: calc(100% - 32px);
  margin: 16px 0 16px 16px;
}
.topBox {
  display: flex;
  padding: 16px 16px 10px 16px;
}
.historyBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addBtn {
  width: 459px;
  height: 42px;
  margin-left: 16px;
  transition: none;
  border-color: transparent;
  background-color: transparent;
  color: var(--primary);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: @--alice-border-1;
  &:hover {
    border-width: 2px;
    transition: none;
  }
  & svg {
    color: var(--primary);
  }
}

.historyList {
  width: 536px;
  height: calc(100vh - 126px);
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 42px;
  left: 0px;
  transition: transform 0.3s ease-in-out;
}
.historyOpen {
  transform: translateX(-16px);
}
.historyClose {
  transform: translateX(-536px-32px);
}
.chatBox {
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 4px;
  height: calc(100% - 109px - 16px);
}
.recordsBox {
  padding: 16px;
  overflow-y: auto;
  max-height: calc(100% - 60px);
}
.chatInputBox {
  position: relative;
}
.input {
  border-radius: 8px;
  border-color: #dbdcdf;
  box-shadow: 0px 1px 5px 0px rgba(129, 160, 191, 0.29);
}
.stopBox {
  position: absolute;
  top: -38px;
  left: calc(50% - 50px);
  padding: 4px;
  color: #00aec7;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(129, 160, 191, 0.29);
}
.sendBtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
