.filter-popover {
  padding: 12px;
  min-width: 240px;

  &__button-group {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;

    & > *:not(:last-child) {
      margin-right: 8px;
    }
  }
}
