@prefix: c-modal;
.@{prefix} {
  &-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 12px;
    padding-block-end: 4px;
    border-block-end: 1px solid var(--basic-14);
  }
}
