.sectionHeading() {
  color: #000;
}

.sectionNumber() {
  font-weight: 600;
  margin-right: 8px;
}

.sectionTitle() {
  font-weight: 500;
}

// 后缀
.sectionSuffix() {
  margin-left: 8px;
  display: inline-block;
}

/* 标题级别样式 */
.sectionHeadingh2() {
  line-height: 32px;
  font-size: 22px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.sectionHeadingh3() {
  font-size: 20px;
  line-height: 24px;

  margin-bottom: 16px;
  margin-top: 16px;
}
.sectionHeadingh4() {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.sectionHeadingh5() {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.sectionHeadingh6() {
  font-size: 13px;
}
