/*css reset*/
@import '@/app.less';

body {
  min-width: 1190px;
}

.logo-detail {
  // display: flex;
  justify-content: center;
  .w-steps-status-finish,
  .w-steps-status-process {
    .w-steps-title {
      color: @--blue-7 !important;
      font-weight: 400 !important;
    }
  }
  .w-steps-status-finish .w-steps-tail > i:after {
    background: @--blue-6 !important;
  }
  .wind-ui-table-item-title {
    font-weight: 700;
  }
  .logo__steps {
    .w-steps-title {
      font-weight: 400;
    }
  }
}

.bread-crumb {
  background-color: #fff;
  width: 100%;
  line-height: 22px;
  font-size: 14px;
  padding: 7px 0;
  margin: 0 auto;
}
.bread-crumb-content {
  width: 1266px;
  margin: auto;
  display: flex;
  align-items: center;
  color: #333;
}
.bread-crumb i {
  background-image: url(../../assets/imgs/Right@3x.png);
  background-size: 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.bread-crumb .last-rank {
  color: #999;
  cursor: pointer;
}
.bread-crumb span {
  margin: 0 8px;
}

.single-module {
  padding-top: 20px;
}

.each-div {
  padding-bottom: 20px;
  background-color: #fff;
  margin: 10px auto;
  width: 1266px;
}

.each-module {
  padding: 0 20px;
  // .long-content * {
  //     font-family: "Microsoft YaHei" !important;
  // }
}

.module-brand-header {
  position: relative;
}

.module-brand-header-img {
  width: 90px;
  height: 90px;
  border: 1px solid #f2f2f2;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.module-brand-header-img img {
  width: 88px;
  max-height: 88px;
  align-items: center;
  margin: 0 auto;
}

.header-brand-message {
  margin-bottom: 8px;
}

.module-brand-header-content {
  position: absolute;
  top: 0;
  margin-left: 110px;
  width: 90%;
}

.module-brand-header-content h5 {
  font-size: 22px;
  display: inline-block;
  margin-right: 12px;
  margin-top: 1px;
}

.module-brand-header-content i {
  font-style: normal;
  background: rgba(64, 186, 110, 0.1);
  padding: 0 8px;
  border-radius: 2px;
  color: #40ba6e;
  position: absolute;
  top: 1px;
}
.module-brand-header-content div {
  line-height: 22px;
}

.module-brand-header-content a,
.module-brand-header-content span {
  font-size: 14px;
}

.header-brand-name {
  font-size: 22px;
}

.second-message {
  position: absolute;
  left: 210px;
}

.logo-pic {
  align-items: center;
  margin: 0 auto;
  max-height: 170px;
  display: inline-block;
}
.logo__steps {
  padding: 10px;
}

.step__icon--finished {
  width: 10px;
  height: 10px;
  background-color: @--blue-6;
  border-radius: 5px;
  display: inline-block;
}
.step__icon--unfinished {
  width: 10px;
  height: 10px;
  background-color: none;
  border-radius: 5px;
  border: 2px solid #999;
  display: inline-block;
}

.logo-detail {
  &--steps {
    --step-finish-icon-color: #00aec7;
    --step-finish-tail-color: #00aec7;
    --step-process-icon-color: #00aec7;
  }
}
