@import 'gel-ui/variables.less';

.reference-item-table {
  position: relative;
  margin-bottom: @component-space-sm;
  background: transparent;
  transition: all 0.2s ease;

  &__content {
    // ChatDPUItem 组件自带样式，这里不需要额外样式
  }
}
