.header-menu-anchor,
.header-menu-btn {
  border-bottom: 3px solid transparent;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
  color: #333333;
}

.header-menu-anchor.active,
.header-menu-btn.active {
  color: #dd3023;
  font-weight: 600;
}

.header-menu-anchor:hover,
.header-menu-btn:hover {
  color: #dd3023;
  cursor: pointer;
}
