.widget-model {
  .widget-header {
    text-align: right;
    height: 22px;
    line-height: 22px;
    margin-bottom: 12px;
    position: relative;
  }
  .widget-chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    > div.title {
      font-size: 14px;
      color: #333;
      font-weight: bold;
    }
    > div.options {
      > * {
        margin-left: 12px;
      }
    }
    // height: 40px;
    // line-height: 40px;
    background: #e8e8e9;
    // padding-left: 10px;
  }
  .widget-chart-content {
    height: 400px;
    background: #fff;
    .mao-screen-area {
      height: 400px;
      cursor: pointer;
      background: #fff;
      border: 1px solid #e8e8e9;
      box-sizing: border-box;
      .chart-header {
        position: absolute;
        z-index: 1;
        top: -36px;
        display: block;
      }
      .chart-loading {
        display: none;
      }
      .chart-none {
        display: none;
      }
      .company-chart {
        min-height: 230px;
        max-height: 400px;
        width: 1032.01px;
      }
    }
  }
}

.widget-model {
  margin-bottom: 8px;
  background: #fff;
}

.widget-model:after {
  height: 0;
  overflow: hidden;
  content: '';
  display: block;
  clear: both;
  line-height: 0;
}

.mao-screen-area {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
}

.mao-screen-area .chart-loading,
.mao-screen-area .chart-none {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 70px);
  width: 140px;
  height: 30px;
  line-height: 30px;
}

.mao-screen-area .chart-loading img {
  vertical-align: middle;
  margin-right: 10px;
}

/*图谱平台首页*/

.chart-header {
  height: 50px;
  overflow: hidden;
}

.chart-header h1 {
  width: 371px;
  height: 27px;
  // background: url(../assets/images/Company/chart_logo.jpg) no-repeat left top;
  margin: 12px 0 0 22px;
}

.chart-loading,
.chart-nodata,
.report-loading {
  height: 100%;
  line-height: 300px;
  text-align: center;
}
