@import '@/styles/variables.less';
@import '@/styles/colorVariables.less';

:global {
  .ai-graph-sender {
    margin: 16px 16px 6px 16px;
  }
}

.chatFooter {
  width: 100%;
  position: relative;
  &:after {
    content: '';
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 4px;
    right: 4px;
    height: 0;
    max-height: 5px;
    border-radius: 0 0 12px 12px;
    background-image: linear-gradient(90deg, #3862ed, #274cda 11%, #00aec7 47%, #17d9cb 62%, #b388e8 94%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  &:hover:after {
    visibility: visible;
    height: 4px;
    opacity: 1;
  }
}

.chatActiveFooter:after {
  visibility: visible;
  height: 4px;
  opacity: 1;
}

.chatInputBox {
  position: relative;
  // box-shadow: 0px 1px 5px 0px rgba(129, 160, 191, 0.29);
  border-radius: 8px !important;
  border-color: #dbdcdf !important;
  border: 1px solid transparent;
  padding: 2px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
  }

  &:hover,
  &:focus,
  &:active {
    // border: 1px solid var(--input-border-active) !important;
    // box-shadow: var(--shadow-active) !important;
    box-shadow: 0 1px 5px 0 rgb(129 160 191 / 56%);
  }
}

.chatInputBoxFocus {
  // border: 1px solid var(--input-border-active) !important;
  // box-shadow: var(--shadow-active) !important;
  box-shadow: 0 1px 5px 0 rgb(129 160 191 / 56%);
}

.chatFileBox,
.chatMarkdownBox {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #dbdcdf;
}
.chatFileItem,
.chatMarkdownItem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  margin-right: 12px;
  background: #f3f5f7;
  border-radius: 4px;
  padding: 10px;
  position: relative;
}

.chatFileName,
.chatMarkdownTitle {
  margin-left: 6px;
  margin-right: 12px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chatFileIcon,
.chatMarkdownIcon {
  font-size: 24px;
  color: var(--icon-color);
}

.chatFileClose,
.chatMarkdownClose {
  cursor: pointer;
  font-size: 18px;
  color: var(--icon-color);
  position: absolute;
  right: -6px;
  top: -6px;
  &:hover {
    color: @primary-hover !important;
  }
  &:active {
    color: @primary-active !important;
  }
}

.input {
  border-bottom: none !important;
  padding: 16px 28px 60px 12px !important;
  resize: none !important;
  transition: all 0.2s !important;
  line-height: 25px !important;
  min-height: 102px !important;
  max-height: 213px !important;

  border: none !important;
  box-shadow: none !important;

  // 隐藏滚动条
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}

.chatSendAndStopBtnBox {
  position: absolute;
  right: 16px;
  bottom: 12px;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  & svg {
    color: #292b31 !important;
  }
}
.chatSendFileBtnBox {
  position: absolute;
  left: 16px;
  bottom: 12px;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
}

.activeSendBtn {
  background-color: #3e4149;
  button {
    background-color: #3e4149;
  }
  & svg {
    color: #fff !important;
  }
}
