.menu-num {
  color: #999;
}

.menu-highlight-txt {
  color: #00aec7;
}

.menu-none {
  display: none;
}

.menu-disabled {
  color: #bfbfbf;
  cursor: not-allowed;
}

.w-tree-node-selected {
  .menu-num {
    color: #fff;
  }

  .menu-highlight-txt {
    color: #fff;
  }
}
