@import '@/app.less';

.search_bid {
  height: 100%;
  overflow: auto;

  .bread-crumb {
    background-color: #fff;
    width: 100%;
    line-height: 22px;
    font-size: 14px;
    padding: 7px 0;
  }

  .bread-crumb-content {
    width: 1266px;
    margin: auto;
    display: flex;
    align-items: center;
    color: #333;
  }

  .bread-crumb i {
    background-image: url(../../assets/imgs/Right@3x.png);
    background-size: 14px;
    width: 14px;
    height: 14px;
    display: inline-block;
  }

  .bread-crumb .last-rank {
    color: #999;
    cursor: pointer;
  }

  .bread-crumb span {
    margin: 0 8px;
  }

  .search_l {
    width: 953px;
    float: left;

    .search-result {
      background-color: white;
      margin-top: 12px;

      .result-r {
        height: 39px;
        line-height: 39px;
        border-bottom: 1px solid #c5c5c5;
        padding: 0px 16px;

        .operation-area {
          float: right;
        }
      }
    }
  }

  .search-condition {
    background-color: white;
    padding: 16px;
  }

  .wrapper {
    margin: 0 auto;
    width: 1266px;
    margin-top: 15px;
  }

  .condition-title {
    width: 100%;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
  }

  .condition-area {
    display: flex;
    margin-top: 20px;

    .w-input {
      padding-left: 11px;
    }

    .w-input-affix-wrapper {
      width: 88%;
    }
  }

  .condition-title-span {
    width: 12%;
    height: 32px;
    line-height: 32px;
  }

  .filter-item {
    flex: 3;
    display: inline-block;
    .w-select-selector {
      height: 34px;
    }
  }

  .filter-item .ant-form-item {
    margin-bottom: 0px;
  }

  .region-span {
    flex: 1;
    line-height: 32px;
    // margin-right: 39.5px;
  }

  .condition-region,
  .condition-industry {
    width: 48%;
    display: flex;
    line-height: 32px;
    // margin-right: 24px;
  }

  .condition-industry {
    margin-left: 4%;
  }

  .w-radio-group .w-radio-wrapper {
    line-height: 32px;
  }

  #conditionButton {
    display: block;
    height: 32px;
  }

  #components-checkbox-demo-check-all .upper-container {
    border-bottom: 1px solid #e9e9e9;
  }

  #components-checkbox-demo-check-all .w-layout-dark .upper-container {
    border-bottom-color: #ffffff0d;
  }

  .condition-pre {
    width: 88%;
    position: relative;
  }

  .preSeachResult {
    // overflow: scroll;
    border: 1px solid #c5c5c5;
    width: 100%;

    .searchResult {
      overflow-x: auto;
    }

    .w-input-affix-wrapper {
      width: 100%;
      border: none;
      box-shadow: none;
    }
  }

  .preSeachResult:focus {
    border-color: @--blue-8;
    outline: 0;
    box-shadow: 0 0 3px 0 @--blue-8;
  }

  .prelist-item {
    line-height: 34px;
    height: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 12px;
    border-bottom: 1px solid #e8e8e9;
    font-size: 14px;
    padding-bottom: 0px;

    em {
      font-style: normal;
      color: #00aec7;
    }
  }

  .prelist-item:hover {
    cursor: pointer;
    background-color: #fff;
    color: #00aec7;
  }

  .searchList {
    line-height: 32px;
    background-color: #fff;
    box-shadow: 0 0 6px #d0cdcd;
    font-size: 14px;
    padding-bottom: 0px;
  }

  .preSeachResult {
    .w-input-affix-wrapper:hover {
      border-color: var(--basic-8);
      outline: 0;
      box-shadow: none;
    }

    .w-input-affix-wrapper:focus {
      border-color: none;
      box-shadow: none;
    }
  }

  .preSeachResult:hover {
    box-shadow: 0 0 3px 0 #00aec7;
  }

  .preSeachResult {
    .w-input-affix-wrapper-focused,
    .w-input-affix-wrapper-focused:hover {
      border-color: none;
    }
  }

  .searchResultNum {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    float: left;
  }

  .history-Joblist {
    // padding-right: 25px;
    // width: 265px;
    line-height: 24px;
    padding: 10px 16px;
    position: relative;
    font-weight: 400;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #d8d8d8;
    padding-right: 29px;
  }

  .history-Joblist:hover {
    .del-history {
      display: block;
    }
  }

  .job-history-title:hover {
    color: #00aec7;
    cursor: pointer;
  }

  .job-corp {
    color: #999999;
  }

  .history-Joblist:last-child {
    border-bottom: none;
  }

  #queryHisList {
    width: 88%;
    position: relative;

    .w-input-affix-wrapper {
      width: 100%;
    }

    .historySearch {
      position: absolute;
      z-index: 10;
      background-color: #fff;
      box-shadow: 0 0 6px #d0cdcd;
      width: 100%;

      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        line-height: 32px;
        height: 32px;
        border-bottom: 1px solid #e8e8e9;
        padding-left: 12px;
        cursor: pointer;
      }

      div:hover {
        color: #77c4d4;
      }

      div:first-child {
        cursor: initial;
        font-weight: bold;
        color: #333 !important;
      }
    }
  }

  #AnnouncementType {
    width: 810px;

    .w-checkbox-group {
      display: block;
      line-height: 32px;
    }
  }

  .money {
    .sc-bcXHqe {
      display: inline-block;
      margin-left: 9px;
    }
  }

  .history-right {
    float: right;
    width: 296px;
  }

  .history-bidList {
    padding: 8px 24px 8px 16px;
    font-size: 13px;
    position: relative;
  }

  .del-history {
    background: url(../../assets/imgs/web_sprite.png) no-repeat;
    width: 12px;
    height: 12px;
    background-position: -160px -101px;
    position: absolute;
    line-height: 12px;
    right: 11px;
    cursor: pointer;
    color: #666666;
    top: 38%;
    display: none;
  }

  .history-bidList:hover {
    .del-history {
      display: inline-block;
    }
  }

  .bid-history-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 247px;
  }

  .bid-history-title:hover {
    cursor: pointer;
    color: #00aec7;
  }

  .subscribe-bid {
    position: relative;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .subscribe-bid:hover {
    .subscribe-bidName {
      cursor: pointer;
      color: #00aec7;
    }

    .del-history {
      display: inline-block;
      position: absolute;
      top: 13px;
      margin-top: 0px;
    }
  }

  .subscribe-bidName {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 247px;
  }

  #conditionButton {
    .w-btn {
      margin-left: 12px;
    }
  }

  .box-prompt {
    color: #b7b7b7;
    font-size: 14px;
    line-height: 24px;
  }

  .subscribe-box {
    .bid-title {
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;

      .box-title {
        min-width: 78px;
        height: 28px;
        line-height: 28px;
      }
    }

    .email-alert {
      line-height: 28px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .input-warning {
      color: red;
      display: block;
    }

    .w-checkbox-wrapper {
      display: inline-block;
    }

    .w-checkbox-wrapper:not(:last-child) {
      margin-right: 0px;
    }

    .msg2-email {
      display: inline-flex;
      line-height: 28px;

      .email-to {
        min-width: 70px;
      }

      input {
        width: 367px;
      }

      .email-addr {
        .wicon-svg {
          margin-left: 10px;
          color: rgb(172, 172, 172);
          font-size: 16px;
        }
      }
    }

    .title-emial {
      display: block;
    }
  }

  .no-data {
    text-align: center;
    line-height: 150px;
  }

  .download-warning {
    color: red;
  }

  .loading-failed {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .w-checkbox-checked {
    .w-checkbox-inner {
      background-color: white !important;
      border-color: #c5c5c5 !important;
    }

    .w-checkbox-inner:after {
      border-color: #00aec7 !important;
    }
  }

  .w-checkbox-indeterminate {
    .w-checkbox-inner {
      background-color: white !important;
    }

    .w-checkbox-inner:after {
      border-color: #00aec7 !important;
    }
  }

  #ModelHistory {
    margin-bottom: 0px;
  }

  #historyFocusList {
    margin-bottom: 12px;
  }

  .subscribe-more {
    line-height: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
  }

  .subscribe-more span {
    border: 1px solid rgba(197, 197, 197, 1);
    padding: 2px 102px;
    border-radius: 12px;
  }

  .subscribe-more:hover span {
    border-color: #00aec7;
    color: #00aec7;
  }

  .bid-title {
    em {
      font-style: inherit;
      color: #0093ad;
    }
  }

  .w-select-selector {
    height: 28px;
    line-height: 28px;
  }

  .w-modal-content {
    transform: translate(0, 0) !important;
  }

  .w-modal-body-wrapper {
    overflow: scroll;
  }

  .table-app {
    color: #00aec7;
    cursor: pointer;
  }

  #tableApp {
    margin-right: 10px;
  }

  .window-locale-en-US {
    .w-radio-wrapper {
      margin-right: 0px;
    }

    .msg2-email {
      input {
        width: 338px;
      }
    }

    .box-title {
      width: 33%;
    }
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #c5c5c5;
    border-radius: 0px;
  }

  .search-bid-new {
    &--operation-job {
      position: initial;
      float: right;
    }

    &--announce-date {
      display: flex;

      &--title {
        flex: 0 0 12%;
      }

      &--radio {
        display: inline-flex;
        flex-wrap: nowrap;
      }

      &--picker {
        flex: auto;
      }
    }
  }
}
