/** @format */

// 股权链
.stock_chain {
  line-height: 30px;
  position: relative;
  word-break: keep-all;
  b {
    color: #333;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-bottom;
    min-width: 50px;
    text-align: center;
    &:after {
      content: '';
      background: url(../../../assets/imgs/arrow.png) no-repeat;
      width: 70px;
      height: 10px;
      display: inline-block;
      position: absolute;
      bottom: 0;
      transform: scale(0.7);
      left: 1px;
    }
  }
}

.w-tree-node-content-wrapper-open .w-tree-title {
  // font-weight: bold;
  // height: 20px;
  // line-height: 23px;
  white-space: pre-wrap;
}
.w-tree-node-content-wrapper-close .w-tree-title {
  // font-weight: bold;
  // height: 20px;
  // line-height: 23px;
  white-space: pre-wrap;
}
.w-tree-node-content-wrapper-normal .w-tree-title {
  // padding-left: 4px;
  white-space: pre-wrap;
}
