@import '../styles/shared/variables.less';
@prefix: smart-pagination-table;

.@{prefix}-container {
  position: relative;

  .@{prefix}-label {
    position: absolute;
    bottom: 0;
    left: 0;
    .strong {
      font-weight: 600;
      color: @primary-color;
    }
  }
}
