@alice-gradient: linear-gradient(90deg, #3862ed 0%, #274cda 11.98%, #00aec7 39.47%, #17d9cb 64.8%, #b388e8 100%);

.gradientText {
  background: @alice-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
