.feturecompany-body {
  width: 100%;
  position: relative;
  background: url(../../assets/imgs/bg_rank.jpg) no-repeat center 38px;
  background-color: #fff;
  background-repeat: repeat no-repeat;
  .fetured-inner-bg {
    width: 100%;
    position: absolute;
    top: 6px;
    height: 138px;
    z-index: 3;
    background: url(../../assets/imgs/inner-bg-rank.png) no-repeat center 0;
  }

  #fetured-toolbar {
    height: 38px;
    background-color: #fff;
    z-index: 4;
    position: relative;

    .fetured-toolbar-content {
      width: 1280px;
      margin: 0 auto;
      display: flex;
      // position: relative;
      justify-content: space-between;
      .w-breadcrumb {
        padding: 8px 0;
        a,
        span {
          color: #333;
        }
        a:hover {
          color: #0093ad;
        }
      }

      .link-fetured {
        // float: right;
        line-height: 38px;
      }
    }
  }
  .blank {
    height: 16px;
  }
  .companyTec-title {
    font-weight: bold;
    color: #3a3a3a;
    margin: 0 auto 28px;
    font-size: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
  }

  .fetured-wrapper {
    width: 1280px;
    margin: 0 auto;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    display: flex;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
    margin-bottom: 12px;

    .fetured-intro-statistics {
      margin: 37px 57px 37px 0;
      width: 298px;
      border-right: 1px solid #979797;
      text-align: center;

      p {
        height: 24px;
        line-height: 24px;
        margin-bottom: 12px;
        color: #333;
        font-weight: 600;
        text-align: center;
      }

      .fetured-num {
        color: #0093ad;
        line-height: 28px;
      }
    }

    .fetured-intro-text {
      flex: 1;
      margin: 37px 58px 37px 0;
      line-height: 24px;
    }
  }

  .feturedMain {
    .w-tabs {
      overflow: initial;
      .statistics-map {
        .mapBtn {
          position: absolute;
          z-index: 1;
          margin-left: 5px;
          margin-top: 20px;
          height: 28px;
          line-height: 28px;
          font-size: 14px;
          color: #00aec7;
          border: 1px solid rgba(0, 174, 199, 0.1);
          background: rgba(0, 174, 199, 0.1);
          border-radius: 2px;
          outline: none;
          cursor: pointer;
          padding: 0 5px;
        }
        #windMap {
          margin-left: 60px;
        }
        #companyTec-r {
          width: 521px;
          margin-top: 0;
          position: absolute;
          margin-left: 30px;
          display: inline-block;
          .no-data-content {
            position: absolute;
            left: 50%;
            top: 50%;
            color: #666;
            font-size: 16px;
            transform: translate(-50%, -50%);
            width: 360px;
          }
        }
      }
      .draw-round-area {
        width: 800px;
        height: 240px;
        margin: 30px auto;
        clear: both;
      }
      .header-statistics {
        font-size: 16px;
        line-height: 28px;
        margin-top: 12px;
        font-weight: 600;
      }
      .status-ipo {
        overflow: hidden;
        .status-left {
          width: 550px;
          float: left;
          // height: 250px;

          .status-left-chart {
            width: 550px;
            float: left;
            height: 250px;
          }
          .bed-chart {
            width: 550px;
            float: left;
            height: 250px;
          }
          .ipo-chart-l {
            width: 300px;
            float: left;
            height: 250px;
          }
          .ipo-chart-r {
            width: 200px;
            float: right;
            height: 150px;
            margin-top: 50px;
          }
        }
        .status-ipo-table {
          width: 467px;
          float: right;
          margin-right: 120px;
        }
      }
      .feture-no-data {
        width: 100%;
        margin: 50px auto;
        text-align: center;
      }
      .filterDropdown_cascader {
        position: relative;
        width: 600px;
        background-color: #fff;

        // height: 450px;

        padding: 0 1px;
        // overflow: hidden;
      }
      // checkbox竖向排列
      .w-checkbox-group-item {
        display: block;
      }
      .wind-ui-table-empty {
        line-height: 185px;
        height: 185px;
      }
    }
    width: 1280px;
    margin: 0 auto;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
  }
}

.page-container {
  background-color: #fff;
}

.w-modal-body {
  padding-bottom: 0;
}

// body {
//   font-family: 'Microsoft YaHei', 'PingFangSC-Regular', sans-serif !important;
// }
