.card {
  cursor: pointer;
  //   width: 392px;
  height: 130px;
  // box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;

  .w-card-head {
    padding-top: 8px;
    em {
      font-style: normal;
      color: #00aec7;
    }
  }
  .description {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
    line-height: 24px;
    color: #666;
    position: relative;
    background: #fff;
  }
}
