@prefix: company-directory-drawer-cell;

.@{prefix}-oneLine {
  margin: 0 !important;
}

.@{prefix}-fullText {
  white-space: normal;
  word-break: break-word;
}

.@{prefix}-cellWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.@{prefix}-cellActionIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  cursor: pointer;
  color: var(--icon-color);
  transition:
    opacity 0.2s ease,
    color 0.2s ease;
}

.@{prefix}-cellWrapper:hover .@{prefix}-cellActionIcon {
  opacity: 1;
  color: var(--icon-color-hover);
}

.@{prefix}-cellInline {
  align-items: center;
}

.@{prefix}-cellActionButtonInline {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.@{prefix}-cellActionIconInline {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;
  cursor: pointer;
  color: var(--icon-color);
  transition:
    opacity 0.2s ease,
    color 0.2s ease;
}

.@{prefix}-cellInline:hover .@{prefix}-cellActionIconInline {
  opacity: 1;
  color: var(--icon-color-hover);
}

.@{prefix}-cellActionIconExpanded {
  position: absolute;
  right: 0;
  top: 0;
  transform: none;
  opacity: 0.2;
}

.@{prefix}-cellWrapper:hover .@{prefix}-cellActionIconExpanded {
  opacity: 1;
}

.@{prefix}-cellExpandedContent {
  padding-right: 20px;
}

.@{prefix}-drawerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.@{prefix}-drawerHeaderLeft {
  display: flex;
  gap: 8px;
}
.@{prefix}-drawerHeaderRight {
  display: flex;
}

.@{prefix}-drawerList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.@{prefix}-drawerItem {
  display: grid;
  grid-template-columns: 160px 1fr;
  align-items: start;
  gap: 8px 12px;
}

.@{prefix}-drawerItemLabel {
  color: var(--font-color-3);
}
.@{prefix}-drawerItemLabelBlock {
  color: var(--font-color-3);
  grid-column: 1 / span 2;
}

.@{prefix}-drawerItemValue {
  text-align: right;
}

.@{prefix}-drawerItemValueBlock {
  grid-column: 1 / span 2;
}
