// 点击色系
@click-1: #eaf6fa;
@click-2: #d3eef5;
@click-3: #86dbeb;
@click-4: #3dc1d4;
@click-5: #00aec7;
@click-6: #0596b3;
@click-7: #05809e;
@click-8: #046886;
@click-9: #045471;
@click-10: #02435f;

// 红色系
@red-1: #f9ebec;
@red-2: #f8d8da;
@red-3: #f4b9b9;
@red-4: #ee8789;
@red-5: #eb5c5e;
@red-6: #e22c2f;
@red-7: #c91818;
@red-8: #ac1116;
@red-9: #7e1014;
@red-10: #5e0d11;

// 绿色系
@green-1: #e5f5ec;
@green-2: #d1ebdb;
@green-3: #b1ddc2;
@green-4: #77ca97;
@green-5: #48b16f;
@green-6: #179b4a;
@green-7: #107f3a;
@green-8: #0b6f36;
@green-9: #095d29;
@green-10: #094320;

// 橙色系
@orange-1: #feedd7;
@orange-2: #fddaba;
@orange-3: #fcbc88;
@orange-4: #fe9d52;
@orange-5: #fa8628;
@orange-6: #f06f13;
@orange-7: #cf580e;
@orange-8: #ab4807;
@orange-9: #873a03;
@orange-10: #753402;

// 基础色系
@basic-1: #000000;
@basic-2: #292b31;
@basic-3: #2d3036;
@basic-4: #3e4149;
@basic-5: #4f545e;
@basic-6: #575d67;
@basic-7: #707680;
@basic-8: #90959d;
@basic-9: #a2a6ac;
@basic-10: #b7babf;
@basic-11: #c3c5c9;
@basic-12: #dbdcdf;
@basic-13: #e6e7e9;
@basic-14: #ecedee;
@basic-15: #f2f3f3;
@basic-16: #ffffff;

// 涨跌颜色
@up-color: @red-7;
@down-color: @green-7;
@highlight-color: @click-6;

// 色板
@color-1: #2277a2;
@color-2: #f68717;
@color-3: #5fbebf;
@color-4: #e05d5d;
@color-5: #4a588e;
@color-6: #e4c557;
@color-7: #63a074;
@color-8: #906f54;
@color-9: #9da9b4;
@color-10: #8662ac;
@color-11: #4d91b4;
@color-12: #f79e44;
@color-13: #7ecacb;
@color-14: #e57c7c;
@color-15: #6d78a4;
@color-16: #e8d078;
@color-17: #81b28f;
@color-18: #a58b75;
@color-19: #b0b9c2;
@color-20: #9d80bc;
@color-21: #1b5f82;
@color-22: #c56c12;
@color-23: #4c9899;
@color-24: #b34a4a;
@color-25: #3b4672;
@color-26: #b69e46;
@color-27: #4f805d;
@color-28: #735943;
@color-29: #7e8790;
@color-30: #6b4e8a;

// 灰色系
@gray-1: #333;
@gray-2: #8e8e8e;
@gray-3: #c5c5c5;
@gray-4: #dfdfdf;
@gray-6: #999;

// 主要颜色
@primary: @click-6;
@primary-hover: @click-5;
@primary-active: @click-7;
@success: @green-6;
@success-hover: @green-5;
@success-active: @green-7;
@danger: @red-6;
@danger-hover: @red-5;
@danger-active: @red-7;
@warning: @orange-6;
@warning-hover: @orange-5;
@warning-active: @orange-7;

@icon-color: @basic-7;
