@prefix: cascade-display;

.@{prefix} {
  &-container {
    border: 1px solid var(--basic-14);
    border-radius: 2px;
    padding: 4px 4px 0;
    font-size: 12px;
    color: var(--basic-6);
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 2px 8px;
    border-radius: 2px;
    border: 1px solid var(--basic-14);
    &:not(:first-child) {
      border-left: 1px solid var(--basic-14);
    }
    width: fit-content;
  }
}
