@import 'gel-ui/variables.less';
@prefix: super-chat-ai-table;

.@{prefix}-card-title {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.@{prefix}-card {
  margin-bottom: 12px;
  :global(.wind-ui-table-body) {
    // --- Firefox 滚动条样式 ---
    // `scrollbar-color` 用于覆盖全局样式。
    // 注意：标准的 `scrollbar-color` 不支持 hover 效果，所以滑块会一直显示。
    scrollbar-width: thin; /* 可以是 auto, thin, none */
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent; /* 滑块颜色 轨道颜色 */

    // --- Webkit (Chrome, Safari) 滚动条样式 ---
    // 滚动条轨道
    &::-webkit-scrollbar {
      width: 6px; /* Y轴滚动条宽度 */
      height: 6px; /* X轴滚动条高度 */
    }

    // 滚动条滑块
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: transparent; /* 默认隐藏 */
    }

    // 鼠标悬浮时显示滑块
    &:hover::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.1); /* 您可以在这里修改颜色 */
    }
  }
}

.@{prefix}-table {
  // 可以在这里为表格添加特定的样式
}

.@{prefix}-card-footer {
  margin-block-start: 8px;
}

.@{prefix}-card-footer-info {
  text-align: right;
  font-size: 14px;
  color: #999;
  margin-block-end: 6px;
}

.@{prefix}-card-footer-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.@{prefix}-card-footer-points {
  color: #f06f13;
  display: flex;
  align-items: center;
}
