@import '@/styles/variables.less';

@padding-left: 44px;

.history {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 999px;
  margin: 0 auto;
  padding: 16px;
  overflow: hidden;
  position: relative;

  &-title-row {
    padding: 20px 8px 20px @padding-left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 0;
  }

  &-actions {
    display: flex;
    align-items: center;
  }

  &-header {
    margin-bottom: 16px;
  }

  &-search {
    padding: 0 8px 0 @padding-left;

    &-input {
      height: 62px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      background-color: #f3f5f7;
      border-radius: 8px;
      border: none;
      outline: none;
      font-size: 16px;
      color: #333;
    }
  }
}
