@import 'gel-ui/variables.less';

.deepThinkBtn {
  width: 154px;
  height: 34px;
  border-radius: 6px;
}

.deepThinkBtnActive {
  width: 154px;
  height: 34px;
  border-radius: 6px;
  background-color: #eaf6fa;
  border: 1px solid @primary-active;
  color: @primary-active;
}
