  .main-title {
    height: 50px;
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 7px;
    margin-bottom: 30px;
  }