@tag-opacity-bg-color-1: #deebf1;
@tag-opacity-bg-color-2: #feeddc;
@tag-opacity-bg-color-3: #e7f5f5;
@tag-opacity-bg-color-4: #fae7e7;
@tag-opacity-bg-color-5: #e4e6ee;
@tag-opacity-bg-color-6: #fbf6e6;
@tag-opacity-bg-color-7: #e8f1ea;
@tag-opacity-bg-color-8: #eeeae6;
@tag-opacity-bg-color-9: #f0f2f4;
@tag-opacity-bg-color-10: #ede8f3;
