@prefix: home-content;

.@{prefix} {
  &-container {
    height: 100vh;
    overflow: hidden;
    min-height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 780px;
    padding: 0 12px;
  }
  &-header-section {
    position: absolute;
    top: 0;
    right: 0;
  }
  &-centered-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 12px 0;
    box-sizing: border-box;
  }
  &-logo-section {
    padding: 0 12px;

    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    > div {
      max-width: 900px;
      margin: 0 auto;
    }
  }
  &-recommend-question {
    margin-top: 40px;
  }
  &-chat-sender {
    margin-top: 100px;
  }
}

// @media (max-height: 860px) {
//   .@{prefix} {
//     &-container {
//       align-items: flex-end;
//     }
//   }
// }
