.input-toolbar-search-list {
  position: absolute;
  left: 0;
  top: 52px;
  z-index: 1;
  width: 840px;
  font-size: 14px;
  line-height: 32px;
  background-color: #fff;
  box-shadow: 0 0 6px #d0cdcd;

  .search-list-div,
  .search-list-title {
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
    font-size: 18px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #e8e8e9;
  }

  .search-list-div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name em {
      font-style: normal;
      color: #00aec7;
    }

    &:hover {
      cursor: pointer;
      background-color: #f4f4f4;
    }

    .tag {
      line-height: 30px;
      border-radius: 2px;
      background: #50afc6;
      padding: 1px 5px;
      color: #fff;
      font-size: 1rem;
      margin-block-end: 10px;
      margin-block-start: 10px;
    }
  }

  .en-search-list-div {
    height: 64px;
    padding: 10px;
    line-height: normal;
    .name-box {
      margin-block-start: 10px;
      margin-block-end: 10px;
      .zhName {
        color: #333;
        // font-weight: 700;
        line-height: normal;
        font-size: 18px;
      }

      .enName {
        color: #666;
        line-height: normal;
        font-size: 14px;
      }
    }

    .enTag {
      line-height: 42px;
    }

    .foot {
      color: #999;
      font-size: 12px;
      margin-left: 12px;
    }
  }

  .search-list-title {
    display: flex;
    font-weight: bold;
    justify-content: space-between;

    .search-list-icon {
      cursor: pointer;
      font-weight: normal;

      & i {
        background: url(../../../assets/imgs/delete.png);
        width: 18px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
        background-size: 100%;
        margin-top: -2px;
      }
    }
  }
}
