.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 12px;
  box-sizing: border-box;

  height: 76px;

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-img {
    width: 48px;
    height: 48px;
    display: inline-block;
  }
  &-text {
    display: inline-block;
    margin: 0 16px;
    font-weight: bold;
    font-size: 30px;
    background: linear-gradient(45deg, #3862ed, #274cda 29%, #00aec7 62%, #12cbbe 76%, #9d9ae3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  &--clickable {
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.collapse-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
