.rankingListTree {
  height: 100%;
  overflow: auto;
  .container {
    display: flex;
  }
  a {
    color: #35f;

    &:hover {
      color: #35f;
    }
  }

  .pageTitle {
    position: relative;

    .ant-breadcrumb {
      padding: 9px 18px;
      background: #fff;
      font-size: 14px;
      color: #999;

      .ant-breadcrumb-link {
        cursor: pointer;
      }

      > span:last-child {
        color: #333;

        .ant-breadcrumb-link {
          cursor: default;
        }
      }
    }

    .ant-input-search {
      width: 300px;
      position: absolute;
      top: 6px;
      right: 18px;

      .ant-input-affix-wrapper {
        padding: 2px 8px;
      }

      .ant-input-group-addon {
        display: none;
      }
    }
  }

  .left_menu {
    width: 300px;

    .ant-tree-switcher-noop {
      display: none;
    }
  }

  .main_content {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
