.hk-modal {
  &-content {
    /* 这里放你的弹层内容，简单示例 */
    background-color: #fff;
    border-radius: 4px;
    min-width: 200px;
    min-height: 100px;
    width: auto !important;

    :global(.w-modal-body) {
      height: auto;
      padding: 0;
    }
  }
}
