.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 792px;
  height: 237px;
}

.process-icon {
  margin-bottom: 16px;
  color: #666;

  & svg {
    height: 36px;
    width: 36px;
  }
}
