@prefix: base-number-range;

.inputWrapper {
  transition: transform 0.3s ease-in-out;
}

.@{prefix} {
  &-container {
    display: flex;
    align-items: center;

    &.swapping {
      .inputWrapper:first-of-type {
        transform: translateX(calc(100% + 24px));
      }
      .inputWrapper:last-of-type {
        transform: translateX(calc(-100% - 24px));
      }
    }

    :global {
      .w-input-number {
        min-width: 160px;
      }
    }
  }
  &-separator {
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    color: #d9d9d9;
    white-space: nowrap;
  }
  &-suffix {
    margin-inline-start: 8px;
  }
}
