@prefix: cde-save-button;

.@{prefix} {
  &-content-container {
    display: flex;
    width: 280px;
    align-items: center;
    justify-content: space-between;
    &-button {
      width: 100px;
    }
  }
  &-button {
    margin-right: 4px;
  }
}

.@{prefix}-button-group {
  display: flex;
}
