.typist-wrap {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  letter-spacing: 0;
  font-weight: 400;
  overflow: hidden;
  position: relative;
}
.typist-wrap.no-steps {
  height: 32px;
}
.typist-wrap .typist-inner {
  transition: transform 0.5s ease-in-out;
}
.typist-wrap .typist-inner .ellipsis {
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
