@prefix: cgnr;

.@{prefix} {
  &-container {
    display: flex;
    flex-direction: column;
    :global {
      .w-checkbox-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }
  &-option {
    min-width: 160px;
    margin-block-end: 8px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    padding: 4px 8px;
  }
  &-custom-section {
    .@{prefix}-custom-label {
      margin-inline-end: 8px;
    }
    display: flex;
    align-items: center;
  }
  &-custom-checkbox {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-block-end: 8px;
    :global {
      .w-checkbox {
        display: block;
        top: 0;
      }
    }
  }
}
