.qualificationIndexContainer {

  overflow: hidden;

  background-color: #fff;
  min-height: 100%;
  padding: 50px 100px 0;

  .title {
    // padding: ;
    z-index: 10;
    text-align: center;
    color: #333;
    font-size: 52px;
    line-height: 52px;
    margin-top: 70px;
  }

  .searchBox {
    margin: 78px auto;
    display: flex;
    justify-content: center;
    font-size: 18px;

    .w-select {
      width: 843px;

      input {
        border-width: 0px;
        padding: 0 12px;
      }

      input::input-placeholder {
        color: #c2c2c2 !important;
      }

      input::-webkit-input-placeholder {
        color: #c2c2c2 !important;
      }
    }

    // .search_input {
    //   height: 50px;
    //   width: 912px;
    //   font-size: 18px;
    //   box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    // }
    button {
      height: 52px;
      width: 108px;
      font-size: 18px;
      margin-right: 12px;
    }
  }

  .hotBox {
    width: 1190px;
    margin: 120px auto 0;
    padding: 0 14px;

    .hotBox_title {
      vertical-align: middle;
      font-size: 16px;
      font-weight: bold;

      .hot_Group {
        margin-left: 24px;
        font-weight: 500;
        color: #000;
        font-size: 16px;
      }

      .hot_Group:before {
        content: "";
        background: url(../../assets/imgs/fire.svg) no-repeat;
        width: 18px;
        height: 18px;
        display: inline-block;
        position: absolute;
        margin-top: 4px;
        left: 0;
      }

      .change {
        font-weight: normal;
        float: right;
      }
    }

    .w-col-8 {
      margin-bottom: 40px;

      &:nth-child(n + 4) {
        margin-bottom: 0;
      }

      .introduction {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .card {
      cursor: pointer;
      //   width: 392px;
      // min-height: 170px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);

      .w-card-head {
        margin-top: 4px;
        padding-top: 8px;
      }
    }
  }

  .all-fetures {
    font-size: 14px;
    color: #0093AD;
    line-height: 46px;
    text-align: center;
    margin: 40px 0 30px 0;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
  }
}

.window-locale-en-US {
  .qualificationIndexContainer {
    .title {
      line-height: 40px;
    }

    .card {
      cursor: pointer;
      //   width: 392px;
      // min-height: 192px;
    }

    .hotBox {
      margin-top: 100px;

      .w-col-8 {
        margin-bottom: 20px;

        &:nth-child(n + 4) {
          margin-bottom: 0;
        }
      }
    }

    .Certification {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

body {
  .page-container {
    &:before {
      content: "";
      background: url(../../assets/imgs/group-bg.png) no-repeat;
      width: 100%;
      height: 236px;
      display: inline-block;
      position: absolute;
      margin-top: 172px;
      //   margin-left: -100px;
    }
  }
}

.option {
  padding: 8px;
  box-sizing: content-box;

  .optName {
    float: left;
    padding: 1px;

    em {
      font-style: normal;
      color: #00aec7;
    }
  }

  .tag {
    float: right;
    padding: 1px 20px;
    // border: 1px solid #999;
    border-radius: 2px;
    background-color: #00aec7;
    color: #fff;
  }
}


.page-container:has(>.qualificationIndexContainer) {
  overflow: overlay !important;

}