@prefix: radio-with-date-range;

.@{prefix} {
  &-option {
    margin-inline-end: 8px;
    min-width: 160px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #ededed;
    padding: 4px 8px;
    background-color: #fff;
    cursor: pointer;
    margin-block-end: 8px;
  }
}
