.searchHome {
  height: 100%;
  overflow: overlay;
  background: #f9fafb;
  margin: 0 auto;
}
.searchHome * {
  box-sizing: border-box;
}
.searchHome > * {
  max-width: 1266px;
  width: 100%;
}
.searchHome .homeTopContainer {
  max-width: 100vw;
  padding: 36px 42px 40px;
  background: url(~@/assets/imgs/home_bg_ai.png) no-repeat top;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchHome .homeTopContainer .homeTop {
  width: 100%;
  margin: 0 auto;
  max-width: 1266px;
  min-width: 1266px;
}
.searchHome .homeBottomContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchHome .homeBottomContainer .aiMainContainer {
  display: flex;
  width: 100%;
  height: 248px;
  min-height: 248px;
}
.searchHome .homeBottomContainer .aiMainContainer > :first-child {
  width: calc((100% - 24px * 4) / 5 * 2 + 24px);
  margin-right: 24px;
}
.searchHome .homeBottomContainer .aiMainContainer > :last-child {
  width: calc((100% - 24px * 4) / 5 * 3 + 24px * 2);
}
.searchHome .backTopBox {
  position: fixed;
  width: 58px;
  right: 18px;
  z-index: 10;
  bottom: 31px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}
.searchHome .backTopBox :global(.w-back-top) {
  background-color: white;
  color: #666;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0px;
  font-size: 14px;
  width: 58px;
  right: 0;
  bottom: 0;
  opacity: 1;
  font-size: 12px;
  position: relative;
}
.searchHome .backTopBox :global(.w-back-top) :global(.wicon-svg) {
  display: block;
}
.searchHome .backTopBox :global(.w-back-top) :global(.wicon-star-f) {
  color: #00aec7;
}
.searchHome .backTopBox :global(.w-back-top) span {
  word-break: break-word;
}
.rectImg {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.rectImg div {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 9;
  width: 500px;
  height: 400px;
}
.rectImg img {
  width: 100%;
}
