body {
  min-width: 1190px;
}
.evaluation-detail {
  // display: flex;
  justify-content: center;

  // margin-top: 10px;
  .w-card {
    width: 1266px;
    margin: 10px auto;
  }
}
.bread-crumb {
  background-color: #fff;
  width: 100%;
  line-height: 22px;
  font-size: 14px;
  padding: 7px 0;
  margin: 0 auto;
}
.bread-crumb-content {
  width: 1266px;
  margin: auto;
  display: flex;
  align-items: center;
  color: #333;
}
.bread-crumb i {
  background-image: url(../../assets/imgs/Right@3x.png);
  background-size: 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.bread-crumb .last-rank {
  color: #999;
  cursor: pointer;
}
.bread-crumb span {
  margin: 0 8px;
}
