@import './var.less';

.filter-console-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  height: @cde-console-footer-height;
  padding: 8px 12px;
}

.footerDesc {
  font-size: 14px;
  color: #666;
}

.side-buttons {
  align-self: flex-end;

  display: flex;
  align-items: center;
  // w-card padding 12px
  width: @cde-filter-console-menu-width + @cde-filter-console-gap + 12px;
  flex-shrink: 0;
  & > *:not(:last-child) {
    margin-right: 8px;
  }
}

.main {
  &-row-second {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.right-buttons {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 8px;
  }
}
