@import 'gel-ui/variables.less';

.filterResTip {
  display: flex;
  align-items: center;
  justify-content: center;
  .addNumInput {
    margin: 0 4px;
    font-weight: bold;
    color: @primary;
  }
  .addPointIcon {
    margin: 0 4px;
  }
  .addPoint {
    color: @warning;
    font-weight: bold;
  }
  > div {
    display: flex;
    align-items: center;
  }
}

.bold {
  font-weight: bold;
  color: @primary;
  margin: 0 4px;
}
