@prefix: progress-guard-demo;
.@{prefix} {
  &-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  &-header {
    height: 40px;
    // padding: 0 4px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--basic-12);
  }
  &-content {
    display: flex;
    width: 100%;
    // height: calc(100vh - 40px);
    flex: 1;
    overflow: hidden;
    &-left {
      flex: 1;
      min-width: 400px;
      max-width: 980px;
      box-sizing: border-box;
      overflow: hidden;
      background: #fff;
      transition: all 0.3s ease; // 添加过渡效果

      &.hide {
        flex: 0;
        min-width: 0;
        width: 0;
        padding: 0;
        border: none;
      }
    }
    &-right {
      flex: 3;
      overflow: hidden;
      padding: 8px;
      box-sizing: border-box;
      background: #fff;
      border-left: 1px solid var(--basic-12);
    }
  }
}
