.chat-ref-list-collapse {
  margin: 4px 0;

  :global {
    .w-collapse-item>.w-collapse-header .w-collapse-expand-icon {
      left: 0 !important;
    }

    .w-collapse-content>.w-collapse-content-box {
      padding: 0 !important;
    }

    .w-collapse-header {
      background-color: transparent !important;
      color: #666 !important;
    }

    .w-collapse-content {
      padding: 0 !important;
    }
  }
}

.chatChatRefList {
  width: 100%;

  >.header {
    display: flex;
    align-items: center;

    .toggleButton {
      font-size: 15px;
      color: #888;
    }

    .toggleIcon {
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.45);
      margin-left: 8px;
    }
  }

  >.item {
    margin-top: 10px;
  }

  >.item:first-child {
    margin-top: 8px;
  }
}