@import '../../styles/theme_rime.less';
@import '@/styles/colorVariables.less';

// 将样式提到最前面并提高优先级
body.pcai-mode {
  #root {
    min-width: auto !important;
  }
}
.sjkzr-chart-instance {
  position: relative;
  overflow-y: hidden;
  height: 100%;
  background: #fff;

  .chart-icons {
    position: absolute;
    right: 0;
    z-index: 1;
    background: #fff;
    padding: 0;
    text-align: right;
    color: @basic-7;
    span {
      font-size: 18px;
      margin-right: 12px;
    }
    .wicon-svg {
      &:hover {
        color: @primary-hover;
      }
      &:active {
        color: @primary-active;
      }
    }
  }

  .sjkzr-chart-info {
    margin-bottom: 6px;
  }

  .sjkzr-chart-left {
    margin-top: 12px;
    margin-left: 32px;
    position: absolute;
    z-index: 1;
  }

  .chart-info-primary {
    color: #00aec7;
    margin: 0 24px;
  }

  .chart-content {
    width: 100%;
    height: calc(100% - 32px);
    text-align: center;
    padding-top: 30px;
    position: absolute !important;
  }
  .chart-content-watermask {
    background: url('../../assets/imgs/chart/sy2.png') repeat !important;
  }

  .chart-loading {
    width: 100%;
    margin: 0 auto;
    padding-top: 20%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f4f4f4;
    opacity: 0.5;
    height: 100%;
  }

  .chart-tag {
    position: absolute;
    bottom: 12px;
    margin-left: 32px;
    color: #666;
    font-size: 14px;
  }
}

.rime-sjkzr-chart-instance {
  .chart-info-primary {
    color: @rime-primary-color;
  }
  .chart-content-watermask {
    background: none !important;
  }

  .wicon-svg {
    &:hover {
      color: @rime-primary-color !important;
    }
    &:active {
      color: @rime-primary-color !important;
    }
  }

  .w-spin-dot i {
    background: @rime-primary-color !important;
  }

  .graph-left-info-name {
    cursor: pointer;
    color: @rime-primary-color !important;
    &:hover {
      color: @rime-primary-color !important;
    }
    &:active {
      color: @rime-primary-color !important;
    }
  }
}
