@import '@/styles/colorVariables.less';
.chart-graph-box {
  height: 100%;
  width: calc(100% - 300px);
  margin-left: 300px;
  border: 1px solid #ddd;
  position: relative;
  background: url('../../assets/imgs/chart/sy2.png') repeat;
  .chart-graph-nav {
    position: absolute;
    right: 0;
    z-index: 1;
    background: #fff;
    padding: 5px 0 0 0;
    width: 100%;
    .w-input-number {
      border: none;
      border-bottom: 1px solid;
      box-shadow: 0 0 0 0 !important;
    }
    .w-input-number-focused {
      border-bottom: 1px solid;
    }
    .w-input-number-handler {
      display: none;
    }
    .w-input-number-handler-wrap {
      display: none;
    }
  }
  .chart-graph-nav-more {
    position: absolute;
    padding-left: 10px;
  }
  .chart-graph-icons {
    font-size: 18px;
    color: #666;
    text-align: right;
    color: @basic-7;
    span {
      margin-right: 10px;
      &:first-of-type {
        margin-right: 12px;
      }
    }
    .wicon-svg {
      &:hover {
        color: @primary-hover !important;
      }
      &:active {
        color: @primary-active !important;
      }
    }
  }
  .chart-graph-empty {
    width: 300px;
    margin: 0 auto;
    margin-top: 20%;
    text-align: center;
  }
  .chart-graph-loading {
    width: 100%;
    margin: 0 auto;
    margin-top: 20%;
    text-align: center;
  }
  .chart-graph-bottom {
    text-align: center;
    margin-top: -26px;
    height: 26px;
    line-height: 26px;
    position: relative;
    width: 100%;
    background: #fff;
    color: #aaaa;
  }
  .chart-graph-nofound {
    position: absolute;
    bottom: 26px;
    background: #fff;
    width: 100%;
    text-align: center;
    color: #dc3023;
    font-size: 18px;
  }
}
