@prefix: chat-sender-footer;

.@{prefix} {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-left {
    display: flex;
    align-items: center;
  }
  &-right {
    display: flex;
    align-items: center;
  }
  &-right-default {
    display: flex;
    align-items: center;
  }
  &-right-default-length {
    color: var(--basic-10);
    font-size: 12px;
    margin-inline-end: 8px;
    &-danger {
      color: var(--red-6);
    }
  }
  &-right-default-btn {
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
}
