.list {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.timeGap {
  padding: 20px 16px 20px 0;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 98%;
    height: 1px;
    background: #ecedee;
  }
}
.timeGapTitle {
  color: #999;
  font-size: 12px;
  padding: 0 6px;
}
.item {
  padding: 6px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  &:hover {
    background-color: #e8eef4;
  }
}
.active {
  background-color: #e8eef4;
}
.title {
  color: #333;
  font-size: 14px;
  margin-bottom: 2px;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.type {
  color: #999;
}

.popoverPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.overlayClassName {
  padding-top: 0 !important;
  :global(.w-popover-arrow) {
    display: none;
  }
  :global(.w-popover-content .w-popover-inner .w-popover-inner-content) {
    padding: 6px;
  }
}
