@import 'gel-ui/variables.less';

// 侧边栏 图标及 文字间距
@icon-margin-right: 8px;
// 侧边栏 图标大小
@icon-size: 16px;

// menu 横向 内边距
@menu-horizontal-padding: 16px;

@prefix: home-sider;

.@{prefix} {
  &-container {
    display: flex;
    flex-direction: column;
    min-width: 272px;
    flex: 1;
    // width: 256px;
    height: 100%;
    background-color: #fff;
    // border-right: 1px solid var(--basic-14);
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    // padding: 20px;

    &-divider {
      margin: 0 0 16px 0;
    }

    .menu-item {
      display: flex;
      align-items: center;
      height: 36px !important;
      line-height: 24px;

      & > *:not(:first-child) {
        margin-left: @icon-margin-right;
      }
    }
  }

  &-custom-menu {
    padding: 0 12px;
  }

  &-menu-item {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 12px;
    cursor: pointer;

    &:hover {
      background-color: var(--basic-14);
      // font-weight: 500;
      color: var(--basic-6);
    }
    &-icon {
      width: @icon-size;
      height: @icon-size;
      margin-inline-end: @icon-margin-right;
    }
  }
  &-menu-item-active {
    background-color: @click-1;
    // font-weight: 500;
    color: @click-6;

    &:hover {
      background-color: @click-1;
      color: var(--click-6);
    }

    .@{prefix}-menu-item-icon {
      // 选中状态图标颜色
      path {
        fill: @click-6;
      }
    }
  }
}

// Logo styles have been moved to logo-section.module.less
