@import 'gel-ui/variables.less';

.collapse-button {
  width: 24px !important;
  height: 24px !important;
  padding: 0;
  background: none;
  border: none !important;

  &:hover {
    path {
      fill: @primary;
    }
  }
}

.icon-menu-unfold {
  svg {
    width: 24px;
    height: 24px;
  }
}
