.CorpHeaderCard {
  margin-bottom: 12px;
  .w-card-body {
    padding: 24px 16px 10px 16px;
    min-height: 70px;

    .content {
      display: flex;
      .logo {
        margin: 0 12px;
      }
      .dynamic-company-name {
        display: flex;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 20px;
        color: #333333;
        flex-shrink: 1;
        line-height: 24px;
        height: 26px;
        a {
          color: #333333 !important;
          border-bottom: 1px solid #c5c5c5;
        }
        .stateCompany {
          padding: 0 5px;

          flex-shrink: 0;

          overflow: hidden;
          border-radius: 2px;
          white-space: nowrap;
          display: inline-block;
          margin-left: 12px;
          font-weight: normal;
          background: rgba(99, 160, 116, 0.14);
          color: #40ba6e !important;
          border: 1px solid #40ba6e !important;
        }
      }
      .text-company-survey {
        span {
          margin-right: 48px;
          line-height: 22px;
          color: #666;
          font-size: 14px;
        }
      }
    }
  }
}
