.dynamicType {
  font-size: 14px;
  span {
    user-select: none;
    padding: 0px 8px;
    margin: 0 12px 0 12px;
    line-height: 18px;
    cursor: pointer;
    border: 1px solid transparent;
  }
  .activeMenu {
    border: 1px solid #00aec7;
    border-radius: 2px;
  }
}