.custom-dialog {
  z-index: 50;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  right: -2px;
  top: 25px;
  background: #fff;
  padding-bottom: 5px;
  .custom-dialog-footer {
    padding: 12px 0 0;
    overflow: hidden;
    button {
      float: right;
    }
  }
}
