.editable-cell {
  &-text {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 48px; // Space for the action buttons
    transition: opacity 0.3s ease;

    &--unmatched {
      color: red;
    }

    &--matched {
      color: #333;
    }
  }

  &-actions {
    display: flex;
    transition: opacity 0.3s ease;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 4px;
    border: none !important;
    background-color: transparent !important;
    transition: all 0.3s ease;
    opacity: 1;

    svg {
      transition: all 0.3s ease;
    }
  }
}
