.detail-box {
  height: 100%;
  overflow: auto;
}
.detail-container {
  display: flex;
  flex-wrap: wrap;
  width: 1366px;
  margin: 12px auto;
  .left-detail-container {
    flex: 1;
  }
  .right-detail-container {
    margin-left: 12px;
    width: 300px;
  }
  .tip-mar {
    margin-right: 12px;
  }
  .header-container,
  .baseinfo-container {
    margin-bottom: 12px;
  }
  .header-container h3 {
    font-size: 24px;
    margin-bottom: 12px;
    .isclose_tag {
      font-weight: normal;
      margin-left: 12px;
    }
    .type-case-tag {
      background-color: rgb(34, 119, 162);
      color: #fff;
    }
    .tip-mar {
      margin-right: 12px;
    }
  }
  .each-content-judgement {
    margin-bottom: 12px;
    h3 {
      font-weight: 700;
    }
  }
  .nodata-content {
    line-height: 36px;
    text-align: center;
  }
  .cate-container {
    margin-bottom: 12px;
  }
  .cate-container h3 {
    font-size: 14px;
    font-weight: normal;
    position: relative;
    padding-left: 12px;
    i {
      width: 0;
      height: 0;
      overflow: hidden;
      border-color: transparent #999;
      border-style: dashed dashed dashed solid;
      border-width: 5px 0 5px 5px;
      position: absolute;
      left: 5px;
      top: 5px;
      cursor: pointer;
    }
  }
  .each-cate-child {
    padding-left: 12px;
    cursor: pointer;
  }
  .cate-children {
    padding-left: 12px;
  }
  .show-cate-li .cate-children {
    display: block;
  }
  .hide-cate-li .cate-children {
    display: none;
  }
  .title-container-p {
    margin-right: 5px;
  }
}

.show-cate-li {
  h3 {
    i {
      border-top: 6px solid #999 !important;
      border-left: 5px solid transparent !important;
      border-right: 5px solid transparent !important;
      margin-left: -5px;
      margin-top: 3px;
    }
  }
}
