@import 'gel-ui/variables.less';
@prefix: credits-records;

.@{prefix}-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  // padding: 12px;
  margin-block-end: @component-space;
  margin-block-start: 2 * @component-space;
  // background-color: gold;
  .@{prefix}-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: @component-space 0;
    border-bottom: 1px solid var(--basic-15);
    color: @basic-1;
    &:last-child {
      border-bottom: none;
    }
  }

  .@{prefix}-left-column {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
  }

  .@{prefix}-left-line-1 {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .@{prefix}-right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    font-size: 16px;
  }

  .@{prefix}-right-line-1 {
    color: @basic-10;
    font-size: 14px;
  }

  .@{prefix}-change-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .@{prefix}-change-count {
    font-weight: 500;
  }

  .@{prefix}-time {
    color: @basic-7;
  }

  .danger {
    color: @red-6;
  }
  .success {
    color: @orange-6;
  }
  .secondary {
    color: @basic-7;
  }

  .@{prefix}-pagination {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    :global {
      .w-pagination-options-size-changer.w-select {
        margin-right: 0px;
      }
    }
  }
  .@{prefix}-result {
    transform: scale(0.5);
    width: 100%;
    transform-origin: top center;
    max-height: 300px;
    :global {
      .w-result-title {
        font-size: 32px;
      }
      .w-result-subtitle {
        font-size: 28px;
      }
    }
  }
}
