@prefix: research-steps;

.@{prefix} {
  // &-container {
  //   margin-block-start: 8px;
  //   width: 100%;
  //   overflow: hidden;
  //   margin-block-end: 12px;
  // }

  // &-header {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   cursor: pointer;
  //   width: fit-content;
  //   background-color: var(--basic-15);
  //   padding: 4px 12px;
  //   border-radius: 4px;
  // }

  // &-title {
  //   font-size: 12px;
  //   color: var(--basic-6);
  //   margin: 0;
  // }

  // &-icon {
  //   font-size: 12px;
  //   color: var(--basic-6);
  //   margin-inline-start: 12px;
  // }

  // &-content {
  //   color: var(--basic-8);
  //   transition:
  //     max-height 0.2s ease-in-out,
  //     padding 0.2s ease-in-out;
  //   max-height: 0;
  //   padding: 0 4px;

  //   &.expanded {
  //     max-height: 500px;
  //     padding: 8px 4px 0;
  //   }

  //   &.collapsed {
  //     max-height: 0;
  //     padding: 0 4px;
  //   }
  // }

  &-content-item {
    border-left: 1px solid var(--basic-12);
    padding-left: 12px;
    font-size: 12px;
  }

  &-content-item-text {
    padding: 2px 0;
  }
}
