.modal {
  :global {
    .w-modal-content {
      max-height: calc(100vh - 200px);
    }

    .w-modal-body {
      padding: 0;
      overflow-y: auto;
      max-height: calc(100vh - 300px);
    }
  }
}
