.calvin-ui-form {
  > div:last-child {
    margin-inline-end: 0 !important;
  }
}
.tabs-header-right-container {
  position: absolute;
  z-index: 999;
  inset-inline-end: 0;
  inset-block-start: -50px;
}

.configurable-title {
  .title {
    margin: 0;
    font-size: 16px;
    font-weight: bolder;
    &.h2 {
      font-size: 14px;
    }
    &.h3 {
      font-size: 14px;
      font-weight: normal;
    }
  }
}

.test {
  content: '121212 asd ash djkas djkash d';
}
