@import '@/styles/colorVariables.less';

.detach-graph-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .detach-graph-right-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    img {
      cursor: pointer;
      max-width: 946px;
    }
  }

  .detach-graph-right-demo-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    div {
      font-size: 24px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      margin-bottom: 5px;
      max-width: 900px;
    }

    span {
      font-size: 20px;
      font-weight: 400;
      color: @primary;
      cursor: pointer;
      &:hover {
        color: @primary-hover;
      }
      &:active {
        color: @primary-active;
      }
    }
  }

  .w-resizer-line-middle {
    width: 0 !important;
  }

  .detach-graph-left-title {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 36px;
    border-bottom: 1px solid #c5c5c5;
    padding-left: 12px;
  }
  .detach-graph-left-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .detach-graph-left-content-item {
    width: 100%;
    margin-bottom: 20px;
    .pre-search-input input {
      height: 28px;
      line-height: 28px;
    }
    .wicon-svg {
      font-size: 16px;
      margin-left: 4px;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
  }

  .detach-graph-left-content-item-max {
    margin-bottom: 0;
  }

  .detach-graph-left-content-title {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    line-height: 24px;
    margin-bottom: 12px;
    span {
      font-size: 12px;
      color: #999;
    }
  }
  .detach-graph-left-btn {
    margin-top: 4px;
    width: calc(100% - 2px);
    background: @primary;
    color: #fff;
    border: none;
    border-radius: 2px;
    height: 28px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      background: @primary-hover;
    }
    &:active {
      background: @primary-active;
    }
  }
  .detach-graph-left-content-add {
    color: @primary;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    width: 100%;
    &:hover {
      color: @primary-hover;
    }
    &:active {
      color: @primary-active;
    }
    .wicon-svg {
      font-size: 18px;
      margin-right: 4px;
    }
  }
  .detach-graph-left-content-add-disabled {
    color: #c8c8c8;
    cursor: not-allowed;
    &:hover {
      color: #c8c8c8;
    }
    &:active {
      color: #c8c8c8;
    }
  }
  .detach-graph-left-content-multi {
    margin-bottom: 12px;
    position: relative;
  }
  .detach-graph-left-content-multi-single {
    .wicon-minus-circle-o {
      cursor: not-allowed;
      color: #c8c8c8;
      &:hover {
        color: #c8c8c8;
      }
      &:active {
        color: #c8c8c8;
      }
    }
  }

  .chart-graph-container {
    padding: 0;
  }
  .chart-graph-nofound {
    position: absolute;
    bottom: 24px;
    background: #fff;
    width: 100%;
    text-align: center;
    color: @primary;
    font-size: 16px;
  }
  .chart-graph-bottom {
    position: absolute;
    text-align: center;
    height: 24px;
    line-height: 24px;
    width: auto;
    background: #fff;
    color: #aaaa;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.detach-graph-container-slide {
  .w-resizer {
    background: #e6e7e9;
    padding-left: 1px;
    .w-resizer-button-bg {
      fill: #fff;
    }
  }
  .w-resizer-line-middle {
    background: #fff;
  }
}
