.call-help-form{
  &--tips {
    position:relative;
    padding: 8px;
    background: #edf6fd;
    border: 1px solid #d5e9fa;
    margin-bottom: 12px;

    &--icon{
      marginInlineStart: 2;
      color: #999;
      font-size: 16px;
      font-weight: 700;
      position: absolute;
      top: 12px;
    }

    &--text{
      margin-left: 24px;
    }
  }
}