.call-help-form {
  &--tips {
    position: relative;
    padding: 8px;
    background: #edf6fd;
    border: 1px solid #d5e9fa;
    margin-bottom: 12px;
    display: flex;

    &--text {
      margin-left: 12px;
    }
  }
}
