.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 9;

  /* 4. 阻止点击穿透，pointer-events 为 auto */
  pointer-events: auto;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12);

  /* 5. 采用 flex 让子内容居中显示 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
}
