/* Non-editable markers and states */
.mce-content-body [contentEditable='false'][data-mce-selected] {
  cursor: default;
}
.mce-match-marker-selected {
  color: #39f;
  background-color: transparent;
}

.edb-footer[contentEditable='false'],
.material-marker[contentEditable='false'] {
  font-size: 30px;
  display: inline-block;
  width: 9px;
  font-weight: 400;
  padding: 0 6px 0 2px;
  color: #ced1db;
  cursor: pointer;
  line-height: 21px;
  vertical-align: bottom;
}

.edb-footer[contentEditable='false'][data-mce-selected],
.material-marker[contentEditable='false'][data-mce-selected] {
  outline-width: 0;
}
.edb-footer[contentEditable='false']:hover,
.material-marker[contentEditable='false']:hover {
  color: #3dc1d4;
}

.foot-wrapper[contentEditable='false'] {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: #0596b3;
  line-height: 20px;
  min-width: 22px;
  height: 20px;
  white-space: nowrap;
  font-size: 14px;
  margin-left: 5px;
  transform-origin: -10% center;
  vertical-align: top;
  background-color: #f2f3f3;
  border-radius: 2px;
}

.thought-index-span[contenteditable='false'] {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
  min-width: 20px;
  height: 20px;
  white-space: nowrap;
  font-size: 14px;
  transform-origin: -10% center;
  vertical-align: top;
  background-color: #5fbebf;
  border-radius: 10px;
  color: #000000;
  transform: scale(0.8) translate(0px, 1px);
}
