#other .article {
  width: 414px;
  margin: 0 auto;
}

#other {
  width: 100%;
}

#other .container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
  position: relative;
}

#other .menu {
  width: 218px;
  border: 1px solid #f2f2f2;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
  position: fixed;
  top: 90px;
  cursor: pointer;
  font-size: 14px;
  background: #fff;
  max-height: 600px;
  box-sizing: border-box;
  overflow-y: auto;
}

#other .menu div {
  width: 196px;
  margin: 10px auto;
  padding-top: 10px;
  color: #797979;
}

#other .menu .sel {
  color: #333;
}

#other .content {
  min-width: 812px;
  flex-grow: 1;
  border: 1px solid #f2f2f2;
  margin-left: 240px;
  min-height: 900px;
}

#other .content .title {
  margin: 50px 0 15px 0;
  padding: 0px 40px;
  color: #797979;
  width: 720px;
  color: #333;
  font-size: 20px;
  line-height: 22px;
}

#other .content .subTitle {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 22px;
  color: #666;
  margin: 20px 0;
  padding: 0px 40px;
}

#other .source {
  width: 540px;
  margin: 20px auto;
  color: #666;
  font-size: 14px;
  line-height: 22px;
}
