.header {
  &-container {
    padding: 0 32px;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
}
