@logo-section-height: 110px;

.logo-section {
  &-container {
    width: 100%;
    padding-top: 26px;
    display: flex;

    > *:not(:last-child) {
      margin-right: 44px;
    }
  }

  &-img {
    width: @logo-section-height;
    height: @logo-section-height;
  }

  &-hi {
    width: 126px;
    margin-left: -17px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
  }

  &-desc {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #333;
  }
}
