
.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.my-api-menu {
  height: fit-content;

  .my-api-menu-title {
    padding-left: 12px;
    cursor: text;
  }

  .my-api-menu-title:hover {
    background-color: #fff;
  }

  div {
    padding-left: 24px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
  }

  div:hover {
    background-color: #e8e8e9;
  }

  .sel {
    color: #fff;
    background-color: #00aec7;
  }

  .sel:hover {
    background-color: #00aec7;
  }
}





