@import 'gel-ui/variables.less';

@searchFormWidth: 956px;

.container {
  width: @searchFormWidth;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 16px;

  font-size: 14px;
  line-height: 20px;

  color: @font-color-2;
  .content {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;

    .link {
      font-size: 14px;
      display: inline;
      &:hover {
        color: #00b8d9;
      }
    }
  }
}
