@import '@/styles/variables.less';
@import 'gel-ui/variables.less';
@import './chatMessageVariable.less';

@page-header-height: 40px;
@header-height: 56px;

.home-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: @header-height;
  padding: 0 12px;
  min-width: 400px;
}

.chat {
  &.super {
    height: calc(100% - @header-height);
    padding: 0;
  }
  height: 100%;
  min-width: @chat-message-min-width;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 0 0;

  position: relative;

  .chatContainerTop {
    width: 100%;
  }

  .chatContainer {
    overflow-y: overlay;
    overflow-x: hidden;
    position: relative;
    flex: 1;

    padding: 0 16px;

    // 添加 iframe 内嵌页面的媒体查询
    @media screen and (max-width: 1280px) {
      :global(.ant-iframe-container) & {
        padding: 0 4px;
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    .bubbleListContainer {
      margin: 0 auto;
      min-width: @chat-message-min-width;
      max-width: @chat-message-max-width;
      flex: 1;
      // scrolling is handled by parent .chatContainer

      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      > div {
        width: 100%;
      }
      gap: 0;
      :global {
        .ant-bubble.ant-bubble-start {
          width: 100%;
          .ant-bubble-content {
            min-height: 0;

            padding: 0;
          }
        }
        .ant-bubble-footer {
          width: 100%;
        }
      }
    }
  }
  .chatActionsContainer {
    padding: 0 16px;
    margin: 12px auto 0px;
  }

  .footer {
    font-size: 10px;
    color: #999;
    text-align: center;
    margin: 4px;
  }
}

.spinContainer {
  height: 100%;
  width: 100%;
  :global(.ant-spin-container) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
