.panel {
  display: flex;
  height: 100%;
  overflow: hidden;

  &--loading {
    width: 100%;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    .sider,
    .content,
    .right {
      display: none;
    }
  }
}

.sider {
  flex: 1 0 120px;
  border-right: 1px solid #ededed;
}

.content {
  flex: 40;

  display: flex;
  border-right: 1px solid #ededed;

  &-main {
    flex: 1;
  }
}

.right {
  flex: 1 0 200px;
  display: flex;
  flex-direction: column;
  &-selected-indicators {
    flex: 1;
    overflow-y: auto;
  }
  &-footer {
    // flex: 0, 0, 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &-buttons {
      // margin-right: 20px;
      display: flex;
      justify-content: flex-end;
      > button {
        margin-right: 8px;
      }
    }
  }
}
