.header {
  display: flex;
  align-items: center;

  .robotIcon {
    font-size: 24px;
    margin-right: 8px;
    color: white;

    svg {
      width: 28px;
      height: 28px;
    }
  }

  .title {
    margin: 0;
    color: white;
  }
}
