.inputComp {
  width: 100%;
  margin-top: 16px;
  background: #2a2d32 !important;

  border: none !important;
  border-radius: 8px;

  input{
  color: white !important;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  }
}
.sendIcon {
  color: #1890ff;
  cursor: pointer;
  font-size: 18px;

  &:hover {
    color: #40a9ff;
  }
}
