@import 'gel-ui/variables.less';

.top-files-section {
  display: flex;
  flex-direction: column;

  &__item-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: @component-space-sm;
  }

  &__item-content {
    flex: 1;
    min-width: 0;
  }
}
