.tag-box {
  font-size: 14px;
  line-height: 32px;
  font-weight: normal;
  //   padding-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .tag-item {
    margin-right: 12px;
    display: inline-flex;
    align-items: center;
    height: 24px;
    border-radius: 2px;
    color: #999;
    line-height: 24px;
    font-size: 14px;
    font-weight: normal;
  }
}

.selected-tag-box {
  font-size: 14px;
  font-weight: normal;
  line-height: 32px;
  width: '100%';
  margin: 12px 0 4px 0;

  .selected-tag-item {
    // margin-right: 12px;
    padding: 0 4px;
    display: inline-flex;
    align-items: center;
    height: 24px;
    border-radius: 2px;
    color: #999;
    line-height: 24px;
    font-size: 14px;
    font-weight: normal;
  }
}
