.credits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
}

.creditsText {
  color: var(--basic-8);
}

.creditsAmount {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--orange-6);
  margin-inline-start: 8px;
}

.infoBtn {
  margin-left: auto;
}

.tooltipContainer {
}

.tooltipTitle {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.tooltipItem {
  display: flex;
  align-items: center;
  margin: 6px 0;
  justify-content: space-between;
}

.tooltipItemLabel {
  width: 64px;
  color: var(--basic-8);
}

.tooltipItemValue {
}

.tooltipItemValueCoin {
  display: flex;
  align-items: center;
  color: var(--orange-6);
}

.tooltipTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tooltipTotalLabel {
  color: var(--basic-8);
}

.tooltipTotalValue {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--orange-6);
}
