/** @format */
@import '@/styles/colorVariables.less';

.companyInfo {
  margin-bottom: 32px;

  .companyInfoTitle {
    display: flex;
    align-items: center;
  }

  .ant-descriptions-header {
    margin-bottom: 14px;

    .ant-descriptions-title {
      font-weight: normal;
      line-height: 24px;
      color: #333;

      .companyInfoSubTitle {
        font-size: 14px;
        color: #666666;
        line-height: 24px;
        margin-left: 8px;
      }
    }
  }

  .ant-descriptions-view {
    border: 1px solid #e3e3e3;

    tbody {
      tr:last-child {
        border-bottom: 0;
      }
    }

    .ant-descriptions-item-label {
      background: #e9e9e9;
      width: 129px;
      padding: 3px 8px;
      line-height: 28px;
      vertical-align: text-top;
    }

    .ant-descriptions-row {
      border-bottom: 1px dashed #c5c5c5;

      span {
        color: #333;
      }
    }

    .ant-descriptions-item-content {
      line-height: 16px;
      width: 386px;
      padding: 3px 12px;
    }

    .ant-descriptions-item-content.businessScope {
      font-size: 14px;
      text-align: justify;
      line-height: 22px;
      padding: 4px 12px;
    }
  }
}

.showCompanyInfo {
  background: #fff;
  padding: 0 12px;
  padding-bottom: 20px !important;
  margin-bottom: 0 !important;

  .corp-industry-tree {
    .w-tree-switcher-noop {
      visibility: hidden;
      width: 7px;
      margin-right: 14px;
    }

    .w-tree-title {
      white-space: normal;
    }

    .w-tree-node-content-wrapper {
      height: 100% !important;
    }
  }

  .wind-ui-table-item-title {
    text-align: left !important;
    font-weight: bold;
    white-space: pre-wrap !important;
  }

  tr {
    &:last-child {
      border-bottom: 1px solid #dfdfdf;
    }
  }

  .company-base-actcontrol-div {
    display: inline-block;
  }
}

.module-title-overview {
  border-radius: 4px 4px 0 0;
  background: #fff;
  padding-top: 12px;
  margin-top: 0;
  margin-bottom: 0;
  height: 42px !important;
  padding-left: 12px !important;
  margin-left: 0 !important;
}

.stock-path-box:not(:last-child) {
  padding-bottom: 6px;
  border-bottom: 1px dashed #999;
}
