.bread-crumb {
  background-color: #fff;
  width: 100%;
  line-height: 22px;
  font-size: 14px;
  padding: 7px 0;
}
.bread-crumb-content {
  width: 1266px;
  margin: auto;
  display: flex;
  align-items: center;
  color: #333;
}
.bread-crumb i {
  background-image: url(../../../assets/imgs/Right@3x.png);
  background-size: 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.bread-crumb .last-rank {
  color: #999;
  cursor: pointer;
}
.bread-crumb span {
  margin: 0 8px;
}
.wrapper {
  width: 1280px;
  margin: 0 auto;
  margin-top: 10px;
  .type-navigation {
    float: left;
    height: 500px;
    background-color: white;
    margin-right: 12px;
    padding-top: 8px;
    .w-tabs-vertical.w-tabs-left > .w-tabs-bar .w-tabs-tab {
      text-align: left;
    }
    .w-tabs-vertical.w-tabs-left > .w-tabs-bar {
      border: none;
    }
    .w-tabs-bar {
      width: 100%;
    }


    .w-tabs-nav {
      display: block;
    }
  }

  .patent-detail {
    width: 100%;
  }
  .patent-detail-needBar {
    width: 1060px;
    float: left;
  }
  .patent-detail-industry {
    border-radius: 2px;
    background-color: #eff0f5;
    color: #636f9d;
    display: inline-block;
    padding: 0 6px;
    margin-top: 6px;
    &:last-of-type {
      margin-bottom: 6px;
    }
  }
  .patent-detail-icon {
    color: #00aec7;
    cursor: pointer;
  }
}
.card-applicantList,
.card-assigneeList {
  div {
    display: inline-block;
    a {
      color: #333;
      padding-bottom: 1px;
      border-bottom: 1px solid #c5c5c5;
    }
    a:hover {
      color: #00aec7 !important;
      border-bottom: 1px solid #00aec7;
    }
  }
}
.detail-card {
  background-color: white;
  padding: 8px;
  margin-bottom: 10px;
  .card-detail {
    margin-top: 4px;
    line-height: 32px;
  }
  .card-title {
    font-weight: bold;
    font-size: 18px;
  }
  .card-col {
    div {
      display: inline-block;
    }
    .col-3 {
      width: 40%;
    }
    .col-7 {
      width: 60%;
    }
  }
}
.middle-detail {
  background-color: white;
  padding: 8px;
  margin-bottom: 10px;
  .middle-title {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 16px;
  }
  .long-content {
    line-height: 28px;
  }
}
.steps-detail,
.basic-detail,
.lawlist-detail {
  margin-bottom: 24px;
}
.basic-detail {
  .f-fs-l {
    font-size: 18px;
  }
  .w-tree-show-line .w-tree-switcher-line-icon {
    vertical-align: -2px;
  }
}

.company-table-logo {
  max-height: 300px;
}
.wind-ui-table-item-title {
  font-weight: bold;
}

.patent-detail {
  &--steps {
    --step-finish-icon-color: #00aec7;
    --step-finish-tail-color: #00aec7;
    --step-process-icon-color: #00aec7;
  }
}
