@prefix: cde-filter-modal;

.@{prefix} {
  &-modal-wrapper {
    :global(.w-modal-body) {
      padding: 0 !important;
    }
    :global(.w-cascader-dropdown) {
      width: calc(100% - 200px);
    }
  }
}
