@prefix: base-checkbox-group;

.@{prefix} {
  &-container {
    :global {
      .w-checkbox-group-item {
        margin-block-end: 8px;
        min-width: 160px;
        cursor: pointer;
      }
    }
  }
  &-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    &-checkbox {
      margin-inline-start: 8px;
    }
  }
}
