@import 'gel-ui/variables.less';
.second-checkbox-option {
  --border-color: @primary-hover;
  border: 1px solid #ededed;
  border-radius: 4px;
  width: fit-content;
  margin-inline-end: 12px;
  margin-block-end: 12px;
  padding: 6px 8px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 34px;

  // 添加悬停效果
  &:hover {
    border-color: var(--border-color);
  }

  // 选中状态样式
  &.checked {
    border-color: var(--border-color);
    border-width: 1px;
  }

  > span:last-of-type {
    color: rgb(102, 102, 102);
  }

  *,
  *::before,
  *::after {
    cursor: pointer;
  }
}

.second-checkbox-group {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;

  > div {
    --border-color: @primary-hover;
    border: 1px solid #ededed;
    border-radius: 4px;
    width: fit-content;
    margin-inline-end: 12px;
    margin-block-end: 12px;
    padding: 6px 8px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 34px;
    min-width: calc(100% / 6 - 12px);

    // 添加悬停效果
    &:hover {
      border-color: var(--border-color);
    }

    // 选中状态样式
    &.checked {
      border-color: var(--border-color);
      border-width: 1px;
    }

    & > span:last-of-type {
      color: rgb(102, 102, 102);
    }

    *,
    *::before,
    *::after {
      cursor: pointer;
    }
  }
}

// .third-level-container {
//   margin-left: 12px;
//   margin-top: 8px;
//   padding: 8px;
//   border: 1px solid #f4f4f4;
//   border-radius: 4px;
// }

.second-checkbox-container {
  border: 1px solid #ededed;
  border-radius: 4px;
  padding: 6px 8px;
  box-sizing: border-box;
}
