@import 'gel-ui/variables.less';

.welcome-section {
  // gap: 24px;

  .welcome-title {
    width: 158px;
    height: 80px;
    // margin-left: -23px;
    margin-top: -8px;
    background: url('@/assets/gif/AliceChatHi.gif') no-repeat;
    background-size: 80% 80%;
  }

  .welcome-title-small {
    width: 89px;
    height: 40px;
    // margin-left: -23px;
    margin-top: -4px;
    background: url('@/assets/gif/AliceChatHi.gif') no-repeat;
    background-size: 80% 80%;
  }
  .welcome-description {
    font-weight: bolder;
    // font-size: 24px;
  }
  :global {
    .ant-welcome {
    }
    .ant-welcome-icon {
      width: 110px;
      height: 110px;
    }
    .ant-welcome-content-wrapper {
      gap: 0;
    }
    .ant-prompts.ant-prompts-nested {
      .ant-prompts-item {
        &:hover {
          background-image: linear-gradient(97deg, rgb(242, 249, 254) 0%, rgb(247, 243, 255) 100%);
        }
      }
    }
  }
}
