@prefix: cde-modal;

.@{prefix} {
  &-container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  &-header {
    border-block-end: 1px solid var(--basic-12);
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
    align-items: center;
    height: 40px;
  }
  &-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-text {
      font-size: 12px;
      color: var(--basic-9);
      margin-inline-end: 20px;
    }
  }
  &-body {
    flex: 1;
    overflow: hidden;
  }
}
