.main-container {
  .ant-menu-inline .ant-menu-item-selected::after {
    display: none;
  }
  .ant-menu {
    padding: 16px 0 0 0;
    border-right: 1px solid #ccc;
    color: #666;

    .ant-menu-item{
      height: 32px;
      line-height: 32px;
      margin-bottom: 8px;
    }

    // 二级菜单
    .ant-menu {
      border: none;
      padding: 4px 0 0 0;
    }
    
    a {
      color: #666;
      flex: 1;
    }
  
    li {
      display: inline-block;
      line-height: 32px;
      margin: 2px 0;
      width: 100%;
    }
    .ant-menu-submenu {
      height: 32px;
      margin-bottom: 8px;
      .ant-menu-item{
        margin-bottom: 4px;
      }
      .ant-menu-submenu-title {
        margin: 0;
        height: 32px;
        line-height: 32px;
      }
    }
    .ant-menu-submenu.ant-menu-submenu-open {
      height: auto;
    }
    .ant-menu-sub {
      // margin-top: 8px;
    }
    .ant-menu-item-selected {
      color: #3355FF;
      background: #fff;
    }
    .ant-menu-submenu-selected {
      color: #666;
    }
    .ant-menu-sub.ant-menu-inline {
      background: #fff;
    }
    .item-lv1 {
      padding-left: 30px;
    }
  
    .ant-menu-item.curr, .ant-menu-item:hover {
      color: #3355FF;
    }

    .ant-menu-submenu-title:hover {
      color: #666;
    }
    .ant-menu-submenu-arrow {
      color: #999;
    }
    .ant-menu-submenu:hover .ant-menu-submenu-arrow {
      color: #999;
    }

    .ant-menu-submenu-active{
      color: #666 !important;
    }
  
  }
}
