.rankingCard {
  .title {
    font-size: 16px;
    position: relative;
    color: #333;
    font-weight: bold;

    a {
      font-size: 14px;
      position: absolute;
      top: 0;
      right: 0;
      font-weight: normal;
    }
  }

  .remark {
    font-size: 14px;
    color: #999;
    height: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}