@prefix: deep-search-btn;
.@{prefix} {
  border: 1px solid var(--basic-15);

  &:hover {
    :global(.wicon-svg) {
      color: var(--basic-1) !important;
    }
    color: var(--basic-1);
    background-color: var(--basic-15);
    border: 1px solid var(--basic-10);
  }
  &-active {
    &:hover {
      :global(.wicon-svg) {
        color: var(--click-6) !important;
      }
      color: var(--click-6);
      background-color: rgba(234, 246, 250, 0.5);
      border: 1px solid var(--click-6);
    }
    :global(.wicon-svg) {
      color: var(--click-6) !important;
    }
    color: var(--click-6);
    background-color: var(--click-1);
    border: 1px solid var(--click-6);
  }
}
