@prefix: logical-keyword-display;

.@{prefix} {
  &-item {
    color: var(--basic-6);
    &-title {
      color: #000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0px 4px 0;

      &-right {
        border: 1px solid var(--click-2);
        display: flex;
        align-items: center;
        font-size: 12px;
        color: var(--basic-6);
        &-item {
          &-active {
            background-color: var(--click-1);
            color: var(--click-5);
          }
          padding: 2px 8px;

          &:not(:first-child) {
            border-left: 1px solid var(--click-1);
          }
        }
      }
    }
    &-tags-input {
      border: 1px solid var(--basic-14);
      border-radius: 2px;
      padding: 4px 4px 0;
      font-size: 12px;
      display: flex;
      flex-wrap: wrap;
      &-item {
        margin-bottom: 4px;
        margin-right: 4px;
        padding: 2px 8px;
        border-radius: 2px;
        border: 1px solid var(--basic-14);
        &:not(:first-child) {
          border-left: 1px solid var(--basic-14);
        }
        width: fit-content;
      }
    }
  }
}
