.text-expandable-container {
  display: flex;
  .text-expandable-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    --marginBottom: -19px;
    &::before {
      content: '';
      float: right;
      margin-bottom: var(--marginBottom);
      height: 100%;
    }
  }
  .text-expandable-btn {
    color: var(--primary);
    cursor: pointer;
    &.open {
      line-height: 100%;
      float: right;
      clear: both;
      margin-right: 8px;
    }
  }
}

.text-expandable-container-safari {
  .text-expandable-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    .text-expandable-btn {
      color: var(--primary);
      cursor: pointer;
      &.open {
        position: absolute;
        width: fit-content;
        padding-left: 40px;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, transparent, #fff 40px);
      }
    }
  }
}
