.my-check-group {
  .ant-checkbox-wrapper, .ant-radio-wrapper {
    color: #666666;
    margin: 0 25px 0 0;
    line-height: 32px;
    .ant-picker {
      margin: 0 5px;
    }
  }
  .ant-checkbox-wrapper.ant-checkbox-wrapper-checked, .ant-radio-wrapper.ant-radio-wrapper-checked {
    color: #000;
  }

  .w-checkbox-wrapper, .w-radio-wrapper {
    color: #666666;
    margin: 0 25px 0 0;
    line-height: 32px;
    .w-picker {
      margin: 0 5px;
    }
  }
  .w-checkbox-wrapper.w-checkbox-wrapper-checked, .w-radio-wrapper.w-radio-wrapper-checked {
    color: #000;
  }
}
.item-detail {
  color: #000;
  margin-top: -28px;

  p {
    line-height: 28px;
    text-indent: 5px;
    .vip_filter {
      transform: translate(-2px, -3px);
      .myIcon {
        font-size: 15px;
        min-width: 15px;
      }
    }
  }
}