.treeTransfer {
  .w-transfer-list {
    width: 280px;
    flex: none;
    height: auto;

    .w-transfer-list-header {
      height: 32px;
      padding: 5px 12px;
    }

    &:first-child {
      .w-transfer-list-body {
        padding: 5px 0 5px 12px;
      }
    }

    &:nth-child(3) {
      .w-transfer-list-content {
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;

        .w-transfer-list-content-item {
          padding: 3px 12px; 
          min-height: 28px;
        }
      }
    }

    .w-tree-switcher {
      display: none;
    }

    .w-tree-list-scrollbar {
      width: 6px !important;

      > div {
        background: #e3e3e3 !important;
      }
    }
  }

  .w-transfer-operation {
    margin: 0 16px;

    .w-btn {
      width: 48px;
      height: 32px;
      color: #00aec7;
      background: #E3F2FD;
      border: 1px solid #00aec7;
      border-radius: 2px;
      margin-bottom: 16px;
    }

    .w-btn[disabled] {
      color: #999;
      background: #F2F2F2;
      border: 1px solid #E3E3E3;
    }
  }

  .w-modal-body,.w-modal-body {
    display: flex;
    padding: 12px 20px;

    .w-transfer,.w-transfer {
      flex: 1;
    }

    .treeTransfer_right {
      width: 100px;
      text-align: center;
      padding: 110px 0;

      a {
        display: block;
        width: 48px;
        height: 32px;
        border: 1px solid #E3E3E3;
        border-radius: 2px;
        margin: 16px auto;

        .anticon {
          margin: 8px;
        }
      }
      a:hover {
        border: 1px solid #3dc1d4;
        color: #3dc1d4;
      }
    }
  }


  
}